/* ======================================================================
   # _components.slider.css
   ====================================================================== */

.c-slider {
  @apply
    bg-primary
    py-16
    ;
}




/* -----------------------------------
   # Heading
   ----------------------------------- */

.c-slider__heading {
  @extend %h2;

  @apply
    text-white
    mb-4
    ;
}

/* -----------------------------------
   # List
   ----------------------------------- */

.c-slider__list {
  @apply
    flex
    flex-row

    overflow-x-scroll
   ;
  
  
  &::-webkit-scrollbar-thumb {
    background-color: #fcfcfc;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color__primary--900);
  }
  &::-webkit-scrollbar-corner {
    background-color: var(--color__primary--900);
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  -ms-overflow-style: auto;
  scrollbar-color: #fcfcfc var(--color__primary--900);
  scrollbar-width: thin;

}


/* -----------------------------------
   # List item
   ----------------------------------- */

/***
 * FIXME: margin-right on the last element is not applied
 * 1. Calculate the margin to align the first element of the list with the container
 */
.c-slider__list-item {
  @apply
    max-w-sm
    mr-4
    ;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 75vw;
  
  --c-slider__margin: 1rem; /* [1] */
  --c-slider__container-width: 100%; /* [1] */
  
  @screen sm {
    --c-slider__container-width: 640px; /* [1] */
  }
  @screen md {
    --c-slider__margin: 2rem; /* [1] */
    --c-slider__container-width: 768px; /* [1] */
  }
  @screen lg {
    --c-slider__margin: 4rem; /* [1] */
    --c-slider__container-width: 1024px; /* [1] */
  }
  @screen xl {
    --c-slider__margin: 8rem; /* [1] */
    --c-slider__container-width: 1280px; /* [1] */
  }
  @screen 2xl {
    --c-slider__margin: 16rem; /* [1] */
    --c-slider__container-width: 1536px; /* [1] */
  }
}

.c-slider__list .c-slider__list-item:first-child {
  margin-left: calc( calc(100% - var(--c-slider__container-width)) / 2 + var(--c-slider__margin)); /* [1] */
}

/* .c-slider__list .c-slider__list-item:last-child{
  padding-right: calc( calc(100% - var(--c-slider__container-width)) / 2 + var(--c-slider__margin));
} */



/* -----------------------------------
   # Article
   ----------------------------------- */

.c-slider__article {
  @apply
    flex
    flex-col

    h-96

    mb-8
    ;
}

.c-slider__article-heading {
  @extend %h3;

  @apply
    text-white
    flex-initial
    ;
}

.c-slider__article-button {
  @apply
    text-white
    flex-initial
    ;
}

.c-slider__article-figure {
  @apply
    order-first
    bg-primary-800

    bg-cover
    bg-center

    rounded

    flex-1
    ;
}

.c-slider__article-image {
  @apply
    sr-only
    ;
}
