/* ======================================================================
   # _components.slider.css
   ====================================================================== */

/***
 * 1. Prevent the page for being the same width as the overflow element on iOS/Safari
 * 2. Calculate the margin to align the first element of the list with the container
 * 3. Make the list item 100% of the screen to make the item scroll side to side
 *    FIXME: Have to do a media query because 100vw != 100%
 * 4. Calculate the margin to align the first element of the list with the container
 *    when not on two columns
 * 5. FIXME: margin-right on the last element is not applied
 * 6. Reorder article item's figure and text element vertically
 * 7. Reorder article item's text vertically to put the date first
 */

.c-slider {

  --c-slider__margin: 1rem; /* [2] */
  --c-slider__container-width: 100%; /* [2] */

  @screen sm {
    --c-slider__container-width: 640px; /* [2] */
  }

  @screen md {
    --c-slider__margin: 2rem; /* [2] */
    --c-slider__container-width: 768px; /* [2] */
  }

  @screen lg {
    --c-slider__margin: 4rem; /* [2] */
    --c-slider__container-width: 1024px; /* [2] */
  }

  @screen xl {
    --c-slider__margin: 8rem; /* [2] */
    --c-slider__container-width: 1280px; /* [2] */
  }

  @screen 2xl {
    --c-slider__margin: 16rem; /* [2] */
    --c-slider__container-width: 1536px; /* [2] */
  }

  @apply
    bg-primary

    py-16
    h-screen

    overflow-x-hidden
    relative /* [1] */
    ;

  min-height: 40rem;
  max-height: 64rem;
}

.c-slider__container {
  @apply
    h-full
  ;
  
  @screen lg {
    @apply
      flex
      flex-row
    ;
  }
}

.c-slider__container-left {
  @screen lg {
    flex: 1;
  }
}

.c-slider__container-right {
  @screen lg {
    flex: 2;
  }
}



/* -----------------------------------
   # Heading
   ----------------------------------- */

.c-slider__heading {
  @extend %h2;

  @apply
    text-white
    mb-4
    ;
}



/* -------------------------------------
   # Sidebar
   ------------------------------------- */

.c-slider__sidebar {
    @apply
      hidden
    ;
    
    @screen lg {
      @apply
        block
        overflow-y-auto
        mr-8
        pr-8
      ;
      
      max-height: calc(100% - 10rem);
    }
}

.c-slider__sidebar-list {
  @apply
    mb-4
  ;
}

.c-slider__sidebar-list-item {
  @extend %caption;
  @apply
    text-primary-100
  ;
}



/* -----------------------------------
   # List
   ----------------------------------- */

.c-slider__list {
  @apply
    flex
    flex-row

    overflow-x-auto

    mb-16
  ;
  height: calc(100% - 4rem);
  margin: auto calc(var(--c-slider__margin) * -1); /* [3] */
  
  @screen md {
    margin: auto
        calc(
          calc(
            calc(
              calc(
                100vw - var(--c-slider__container-width)
              )
              /
              2
            )
            +
            var(--c-slider__margin)
          )
          *
          -1
        ); /* [3] */
  }
  
  @screen lg {
    @apply
      ml-0
      mt-0
      mb-0
    ;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fcfcfc;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color__primary--900);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color__primary--900);
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  -ms-overflow-style: auto;
  scrollbar-color: #fcfcfc var(--color__primary--900);
  scrollbar-width: thin;
}



/* -----------------------------------
   # List item
   ----------------------------------- */

.c-slider__list-item {
  @apply
    max-w-md
    mr-4
    ;

      flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 75vw;


}

.c-slider__list .c-slider__list-item:first-child {
  margin-left: calc(calc(100% - var(--c-slider__container-width)) / 2 + var(--c-slider__margin)); /* [4] */ 
  
  @screen lg {
    @apply
      ml-0 /* [4] */
    ;
  }
}

/* .c-slider__list .c-slider__list-item:last-child{
  padding-right: calc( calc(100% - var(--c-slider__container-width)) / 2 + var(--c-slider__margin));
} */ /* [5] */



/* -----------------------------------
   # Article
   ----------------------------------- */

.c-slider__article {
  @apply
    flex /* [1] */
    flex-col /* [1] */
    ;

      height: calc(100% - 4rem);
}

.c-slider__article-text-container {
  @apply
    flex /* [7] */
    flex-col /* [7] */
  ;

  @screen md {
    @apply
      border-l
      border-white
      pl-4
    ;
  }
}

.c-slider__article-heading {
  @extend %h3;

  @apply
    text-white
    flex-initial
    ;
}

.c-slider__article-date {
  @extend %caption;

  @apply
    order-first /* [7] */
    text-primary-100
    flex-initial

    mb-1
  ;
}

.c-slider__article-button {
  @apply
    text-white
    flex-initial
    ;
}

.c-slider__article-figure {
  @apply
    order-first /* [6] */
    bg-primary-800

    bg-cover
    bg-center

    rounded
    mb-2

    flex-1
    ;
}

.c-slider__article-image {
  @apply
    sr-only
    ;
}
