/* ======================================================================
   # _objects.stack.css
   ====================================================================== */

.o-stack {
  --stack-space: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.o-stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.o-stack > * + * {
  margin-top: var(--stack-space);
}

/* -----------------------------------
 # Big
 ----------------------------------- */
.o-stack--big {
  --stack-space: 3rem;
}

@screen md {
  .o-stack--big {
    --stack-space: 6rem;
  }
}

@screen lg {
  .o-stack--big {
    --stack-space: 9rem;
  }
}

/* -----------------------------------
 # Small
 ----------------------------------- */
.o-stack--small {
  --stack-space: 0.5rem;
}
