/* ======================================================================
 # _utilities.headings.css
 ====================================================================== */

/***
 * Take a look in `tailwind.config.js` for more typography settings
 */


/* -----------------------------------
  # Subhead
  ----------------------------------- */

.u-subhead {
  @apply
    text-primary
    text-2xl
    uppercase
  ;
}

/* -----------------------------------
 # Heanding 1
 ----------------------------------- */

.u-h1 {
  @apply
    text-primary
    font-bold
    text-4xl
    uppercase
  ;
}

@screen lg {
  .u-h1 {
    font-size: 2.66667em;
  }
}

@screen xl {
  .u-h1 {
    font-size: 2.8em;
  }
}

/* -----------------------------------
 # Heanding 2
 ----------------------------------- */

.u-h2 {
  @apply
    text-primary
    font-bold
    text-2xl
;
}

@screen lg {
  .u-h2 {
    font-size: 1.6666667em;
  }
}

@screen xl {
  .u-h2 {
    font-size: 1.6666667em;
  }
}

/* -----------------------------------
 # Heanding 3
 ----------------------------------- */

.u-h3 {
  @apply
    text-primary
    text-xl
    uppercase
    font-medium
;
}

@screen lg {
  .u-h3 {
    font-size: 1.3333333em;
  }
}

@screen xl {
  .u-h3 {
    font-size: 1.5em;
  }
}

/* -----------------------------------
 # Heanding 4
 ----------------------------------- */

.u-h4 {
  @apply
    text-primary
    text-base
;
}

/* -----------------------------------
 # Heanding 5
 ----------------------------------- */

.u-h5 {
  @apply
    text-primary
    text-base
;
}

/* -----------------------------------
 # Heanding 6
 ----------------------------------- */

.u-h6 {
  @apply
    text-primary
    text-base
;
}
