

<!--
    TODO: close button on alert
    TODO: comme l'afficher dans la page
-->

<div class="c-alert" role="alert">
    <div class="c-alert__heading">
        <h2>Cookies sur publications.vd.ch</h2>
    </div>
    <div class="c-alert__content o-stack o-stack--small">
        <p>Nous utilisons certains cookies essentiels pour faire fonctionner ce site Web.</p>
        <p>Nous souhaitons définir des cookies supplémentaires pour comprendre comment vous utilisez publications.vd.ch, mémoriser vos paramètres et améliorer les services gouvernementaux.</p>
        <p>Nous utilisons également des cookies définis par d'autres sites pour nous aider à diffuser le contenu de leurs services.</p>
    </div>
</div>
