

<nav class="c-breadcrumb">
  <h2 class="u-visually-hidden">Fil d'Arianie</h2>
  <ul class="c-breadcrumb__list">
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#"
            >level 1</a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#"
            >level 2</a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#"
            >level 3 est un très long titre de page</a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#"
            aria-current="true" >Une autre page</a>
      </li>
    
  </ul>
</nav>

