

<nav class="c-breadcrumb">
  <h2 class="u-visually-hidden">Fil d'Arianie</h2>
  <ul class="c-breadcrumb__list">
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#nowehre"
           ><span class="c-breadcrumb__link-text">Rapport annuel de gestion 2019</span></a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#nowehre"
           ><span class="c-breadcrumb__link-text">Département du territoire et de l&#39;environnement (DTE)</span></a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#nowehre"
           ><span class="c-breadcrumb__link-text">Service des automobiles et de la navigation (SAN)</span></a>
      </li>
    
      <li class="c-breadcrumb__list-item">
        <a class="c-breadcrumb__link" 
           href="#nowehre"
            aria-current="true"><span class="c-breadcrumb__link-text">Projets particuliers et réalisation des objectifs 198 du SAN</span></a>
      </li>
    
  </ul>
</nav>

