

<div class="o-container">
  <h2 class="u-visually-hidden">Carouel</h2>
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Minnesota');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Minnesota"
                  alt="quia totam accusantium">
            </div>
            <figcaption
              class="c-carousel__figcaption">Qui ipsum incidunt.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Buckinghamshire');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Buckinghamshire"
                  alt="neque doloremque ut">
            </div>
            <figcaption
              class="c-carousel__figcaption">Enim harum nulla sit quia excepturi consequatur sint.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576"
                  alt="ratione tempore voluptas">
            </div>
            <figcaption
              class="c-carousel__figcaption">Nesciunt sequi illo impedit.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?payment');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?payment"
                  alt="est a repellat">
            </div>
            <figcaption
              class="c-carousel__figcaption">Repellat asperiores veritatis.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?yellow');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?yellow"
                  alt="et temporibus autem">
            </div>
            <figcaption
              class="c-carousel__figcaption">Cum similique sunt ex dolorum.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Berkshire');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Berkshire"
                  alt="suscipit id facere">
            </div>
            <figcaption
              class="c-carousel__figcaption">Sapiente quasi culpa voluptatem accusantium ipsa maxime ratione repellendus.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?parse');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?parse"
                  alt="sunt quaerat odit">
            </div>
            <figcaption
              class="c-carousel__figcaption">Quod porro pariatur cupiditate debitis sit sed nisi molestiae tenetur.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Granite');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Granite"
                  alt="magni repellat molestias">
            </div>
            <figcaption
              class="c-carousel__figcaption">Soluta aspernatur quis repellat delectus voluptatem dolorem nisi.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Executive');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Executive"
                  alt="odio voluptas voluptas">
            </div>
            <figcaption
              class="c-carousel__figcaption">Quod qui et commodi cumque a eos aut excepturi et.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Fresh');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Fresh"
                  alt="eum tempore labore">
            </div>
            <figcaption
              class="c-carousel__figcaption">Autem qui iure.</figcaption>
          </figure>
        </a>
      </li>
    
  </ul>
</div>

