

<div class="o-container">
  
      <div class="c-carousel__item">
        <h2 class="c-carousel_heading-text">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless</h2>
      </div>
  
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Forward');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Forward"
                  alt="quaerat repudiandae omnis">
            </div>
            <figcaption
              class="c-carousel__figcaption">Deserunt ad eveniet.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Human');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Human"
                  alt="soluta eos reiciendis">
            </div>
            <figcaption
              class="c-carousel__figcaption">Dicta nisi dolor.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?systematic');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?systematic"
                  alt="dolor aliquam voluptatem">
            </div>
            <figcaption
              class="c-carousel__figcaption">Sit beatae architecto esse quam libero accusantium molestiae.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?collaboration');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?collaboration"
                  alt="quaerat facere nihil">
            </div>
            <figcaption
              class="c-carousel__figcaption">Officia id veritatis officiis eum ut autem odio atque.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?SQL');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?SQL"
                  alt="iusto aliquam sit">
            </div>
            <figcaption
              class="c-carousel__figcaption">Atque consectetur aut consequatur velit ipsa maiores.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Administrator');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Administrator"
                  alt="ipsa et magni">
            </div>
            <figcaption
              class="c-carousel__figcaption">Ipsa fuga ex rerum omnis quas soluta.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Avon');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Avon"
                  alt="quo voluptate autem">
            </div>
            <figcaption
              class="c-carousel__figcaption">Non sed cum laudantium.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?ADP');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?ADP"
                  alt="labore maiores minima">
            </div>
            <figcaption
              class="c-carousel__figcaption">Ea voluptatem adipisci delectus.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Refined');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Refined"
                  alt="dolorem suscipit tenetur">
            </div>
            <figcaption
              class="c-carousel__figcaption">Ab quas iure.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Handmade');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Handmade"
                  alt="ut est animi">
            </div>
            <figcaption
              class="c-carousel__figcaption">Consequatur tempore rerum corrupti qui.</figcaption>
          </figure>
        
      </li>
    
  </ul>
</div>

