

<div class="o-container">
  <h2 class="u-visually-hidden">Carouel</h2>
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Zambian');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Zambian"
                 alt="voluptate molestiae eos">
          </div>
          <figcaption
            class="c-carousel__figcaption">Non magni rerum quibusdam iure et nemo corporis numquam.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?connect');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?connect"
                 alt="ipsam facere perspiciatis">
          </div>
          <figcaption
            class="c-carousel__figcaption">Eum aut labore quis enim a consequatur qui.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?overriding');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?overriding"
                 alt="voluptatem ut voluptate">
          </div>
          <figcaption
            class="c-carousel__figcaption">Qui voluptatem architecto repellat ut repellat porro facere.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?United');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?United"
                 alt="sed vel qui">
          </div>
          <figcaption
            class="c-carousel__figcaption">Aut sapiente eaque sed laboriosam et explicabo et architecto quis.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Customer');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Customer"
                 alt="voluptas quasi delectus">
          </div>
          <figcaption
            class="c-carousel__figcaption">A ratione sed perferendis repellat repellat.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Regional');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Regional"
                 alt="officiis ipsum sit">
          </div>
          <figcaption
            class="c-carousel__figcaption">Possimus molestiae reiciendis deserunt qui est fuga possimus.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?tan');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?tan"
                 alt="qui odio est">
          </div>
          <figcaption
            class="c-carousel__figcaption">Quo dicta id iste.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?1080p');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?1080p"
                 alt="fuga esse hic">
          </div>
          <figcaption
            class="c-carousel__figcaption">Eos vel provident consequuntur non dolor molestiae quibusdam nisi.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Coordinator');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Coordinator"
                 alt="sunt ut animi">
          </div>
          <figcaption
            class="c-carousel__figcaption">Sint commodi id neque unde necessitatibus vel veniam voluptas aut.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?redundant');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?redundant"
                 alt="vel enim ex">
          </div>
          <figcaption
            class="c-carousel__figcaption">Nihil provident et consequatur.</figcaption>
        </figure>
      </li>
    
  </ul>
</div>

