

<div class="flex flex-row flex-wrap">
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(214, 245, 214);"
  >
    color__primary--100: <code>rgb(214, 245, 214)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(173, 235, 173);"
  >
    color__primary--200: <code>rgb(173, 235, 173)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(133, 224, 133);"
  >
    color__primary--400: <code>rgb(133, 224, 133)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(92, 214, 214);"
  >
    color__primary--600: <code>rgb(92, 214, 214)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(71, 209, 71);"
  >
    color__primary--800: <code>rgb(71, 209, 71)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(51, 204, 51);"
  >
    color__primary--900: <code>rgb(51, 204, 51)</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: rgb(102, 51, 153);"
  >
    color__primary--cta: <code>rgb(102, 51, 153)</code>
  </div>
  
</div>

