

<div class="flex flex-row flex-wrap">
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 242, 241, 252;"
  >
    color__primary--100: <code>242, 241, 252</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 221, 216, 249;"
  >
    color__primary--200: <code>221, 216, 249</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 190, 181, 245;"
  >
    color__primary--400: <code>190, 181, 245</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 157, 144, 238;"
  >
    color__primary--600: <code>157, 144, 238</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 126, 108, 234;"
  >
    color__primary--800: <code>126, 108, 234</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 93, 73, 222;"
  >
    color__primary--900: <code>93, 73, 222</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: 93, 73, 222;"
  >
    color__primary--cta: <code>93, 73, 222</code>
  </div>
  
</div>

