

<div class="u-color--primary-100">
    u-color--primary-100
</div>

<div class="u-color--primary-200">
    u-color--primary-200
</div>

<div class="u-color--primary-400">
    u-color--primary-400
</div>

<div class="u-color--primary-600">
    u-color--primary-600
</div>

<div class="u-color--primary-800">
    u-color--primary-800
</div>

<div class="u-color--primary-900">
    u-color--primary-900
</div>

<div class="u-color--primary-cta">
    u-color--primary-cta
</div>

<div class="u-color--white">
    u-color--white
</div>

