

<div class="flex flex-row flex-wrap">
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #f2f1fc;"
  >
    color__primary--100: <code>#f2f1fc</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #ddd9f9;"
  >
    color__primary--200: <code>#ddd9f9</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #beb5f5;"
  >
    color__primary--400: <code>#beb5f5</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #9d90ee;"
  >
    color__primary--600: <code>#9d90ee</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #7e6cea;"
  >
    color__primary--800: <code>#7e6cea</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #5d49de;"
  >
    color__primary--900: <code>#5d49de</code>
  </div>
  
  <div
    class="h-48 w-48 block rounded-full p-6 m-4 shadow"
    style="background-color: #5d49de;"
  >
    color__primary--cta: <code>#5d49de</code>
  </div>
  
</div>

