

<style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>

