

<figure class="c-figure">
    <img class="c-figure__media" 
         src="https://source.unsplash.com/QDHhz4lPnkU" 
         alt="Des basket et des fleurs"
         
         srcset="https://source.unsplash.com/QDHhz4lPnkU/320x210 320w,https://source.unsplash.com/QDHhz4lPnkU/540x360 540w,https://source.unsplash.com/QDHhz4lPnkU/720x480 720w,https://source.unsplash.com/QDHhz4lPnkU/960x640 960w,https://source.unsplash.com/QDHhz4lPnkU/1140x760 1140w,">
    <figcaption class="c-figure__caption">
        This is the caption
    </figcaption>
</figure>
