

<footer class="o-region c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <ul class="c-footer__list-page">
          <li><a href="#nowhere">Mentions légales</a></li>
          <li><a href="#nowhere">Plan du site</a></li>
          <li><a href="#nowhere">Contact</a></li>
        </ul>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <ul class="c-footer__list-social">
          <li><a href="#nowhere"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Groupe 42"><path data-name="Tracé 8" d="M12 .003a12 12 0 00-12 12 12 12 0 0012 12 12 12 0 0012-12 12 12 0 00-12-12zm6.027 9.725q.009.186.008.374a8.175 8.175 0 01-8.231 8.231 8.19 8.19 0 01-4.434-1.3 5.884 5.884 0 00.69.04 5.805 5.805 0 003.593-1.238 2.9 2.9 0 01-2.7-2.009 2.89 2.89 0 00.544.052 2.9 2.9 0 00.763-.1 2.894 2.894 0 01-2.321-2.836v-.037a2.872 2.872 0 001.31.362 2.891 2.891 0 01-1.287-2.408 2.883 2.883 0 01.392-1.454 8.213 8.213 0 005.963 3.022 2.885 2.885 0 01-.075-.66 2.893 2.893 0 012.893-2.893 2.89 2.89 0 012.112.914 5.8 5.8 0 001.837-.7 2.9 2.9 0 01-1.272 1.6 5.776 5.776 0 001.661-.455 5.885 5.885 0 01-1.446 1.492z" fill="currentColor"/></g></svg></a></li>
          <li><a href="#nowhere"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path data-name="Tracé 9" d="M24.001 12a12 12 0 00-12-12 12 12 0 00-12 12 12 12 0 0010.125 11.854v-8.385H7.079V12h3.047V9.356c0-3.008 1.792-4.669 4.533-4.669a18.456 18.456 0 012.686.234v2.953h-1.513a1.734 1.734 0 00-1.956 1.874v2.251h3.328l-.532 3.469h-2.8v8.385A12 12 0 0024.001 12z" fill="currentColor"/></svg></a></li>
          <li><a href="#nowhere"><svg aria-hidden="true" data-name="Groupe 44" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path data-name="Tracé 11" d="M0 0h24v24H0z" fill="none"/><path data-name="Ligne 9" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 14L21 3"/><path data-name="Tracé 12" d="M21 3l-6.5 18a.55.55 0 01-1 0L10 14l-7-3.5a.55.55 0 010-1L21 3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/></svg></a></li>
        </ul>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img class="c-logo-entity" src="../../assets/images/logo-entity.png" />
      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>

