

<div class="o-container c-hero">
    <div class="c-hero__container">
        <div class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</div>
        <div class="c-hero__caption">[H4] caption</div>
        <a
  href="#nowhere"
  class="c-button c-button--default c-hero__button"
><span>Button</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path d="M1 1l6 6-6 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
</a>

    </div>
</div>
