

<div class="c-hero c-hero--full c-hero--with-image">
    <style scoped>
        .c-hero--with-image {
            background-image: url('https://source.unsplash.com/nPz8akkUmDI/320x580');
        }
        @media (min-width: 320px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/640x640');
            }
         }
        @media (min-width: 640px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/800x600');
            }
         }
        @media (min-width: 768px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1024x768');
            }
        }
        @media (min-width: 1024px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
        @media (min-width: 1280px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
    </style>
    <div class="c-hero__top o-container">
        <h1 class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery.</h1>
        
        <div class="c-hero__caption">[H4] caption</div>
    </div>
    <div class="c-hero__bottom o-container">
        <span class="c-arrow c-hero__button" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16">
  <path
    d="M7 1v14m6-6l-6 6M1 9l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</span>
    </div>
</div>

