

<div class="c-hero"><div class="c-hero__top o-container">
        <div class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery.</div>
        <div class="c-hero__caption">[H4] caption</div>
    </div>
    <div class="c-hero__bottom o-container">
        <span class="c-arrow c-hero__button" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16">
  <path
    d="M7 1v14m6-6l-6 6M1 9l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</span>
    </div>
</div>
