

<div class="o-container c-hero c-hero--with-image">
    
    <style scoped>
        @media (min-width: 640px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/SUBNTil9beU/640x480');
            }
         }
        @media (min-width: 768px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/SUBNTil9beU/800x600');
            }
        }
        @media (min-width: 1024px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/SUBNTil9beU/1024x768');
            }
        }
        @media (min-width: 1280px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/SUBNTil9beU/1280x960');
            }
        }
    </style>
    
    <div class="c-hero__container">
        <div class="c-hero__caption">[H4] caption</div>
        <div class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery.</div>
        <a
  href="#nowhere"
  class="c-button c-button--default c-hero__button"
><span>Button</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

    </div>
</div>
