

<div class="c-hero c-hero--title c-hero--with-image">
    <style scoped>
        .c-hero--with-image {
            background-image: url('https://source.unsplash.com/nPz8akkUmDI/320x580');
        }
        @media (min-width: 320px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/640x640');
            }
         }
        @media (min-width: 640px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/800x600');
            }
         }
        @media (min-width: 768px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1024x768');
            }
        }
        @media (min-width: 1024px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
        @media (min-width: 1280px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
    </style>
    <div class="c-hero__top o-container">
        <h1 class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</h1>
        
        <div class="c-hero__caption">[caption] caption</div>
    </div>
    <div class="c-hero__bottom o-container">
        <a href="#" class="c-arrow c-hero__button"><span class="u-visually-hidden">Voir plus loin</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="9 16.172 2.929 10.101 1.515 11.515 10 20 10.707 19.293 18.485 11.515 17.071 10.101 11 16.172 11 0 9 0"/></svg></a>
    </div>
</div>
