

<div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span></span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span>Rechercher</span></a>
      </div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Eius quam architecto quaerat dolor molestiae non.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Vitae eius tempore ea.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nisi excepturi quod quasi reprehenderit aspernatur voluptate molestiae.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Illo in asperiores exercitationem voluptate.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dolore omnis nam dolore debitis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sunt vel corporis ipsum ad cumque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Odit soluta saepe quis qui alias.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nobis dolorem veniam eius.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Rerum occaecati libero minus laborum et beatae.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Aliquid porro voluptatem suscipit at excepturi culpa.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Aut totam eum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Cumque et dolor tempore.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Et neque sint.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ullam quia amet atque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Distinctio labore facilis in iure aut est vero ipsa.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Molestias corrupti in ut animi eos non et necessitatibus necessitatibus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ea nam possimus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Qui vero illum rerum eos corporis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Perferendis velit minus perspiciatis vel.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ab iusto ea autem atque consequatur qui.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Assimilated" alt="nemo repudiandae ea"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Eius quam architecto quaerat dolor molestiae non.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Eius quam architecto quaerat dolor molestiae non.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Cayman" alt="pariatur recusandae sit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>22 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Vitae eius tempore ea.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Vitae eius tempore ea.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?mindshare" alt="maiores itaque voluptas"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>20 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nisi excepturi quod quasi reprehenderit aspernatur voluptate molestiae.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Nisi excepturi quod quasi reprehenderit aspernatur voluptate molestiae.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?matrix" alt="repellendus necessitatibus qui"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Illo in asperiores exercitationem voluptate.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Illo in asperiores exercitationem voluptate.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?deposit" alt="ut natus aut"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dolore omnis nam dolore debitis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Dolore omnis nam dolore debitis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?known" alt="et quaerat et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sunt vel corporis ipsum ad cumque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Sunt vel corporis ipsum ad cumque.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?1080p" alt="dolor repellendus velit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Odit soluta saepe quis qui alias.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Odit soluta saepe quis qui alias.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Intranet" alt="repellendus consequuntur vel"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nobis dolorem veniam eius.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Nobis dolorem veniam eius.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Burundi" alt="cupiditate nisi qui"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Rerum occaecati libero minus laborum et beatae.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Rerum occaecati libero minus laborum et beatae.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Peso" alt="nulla perspiciatis quam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>29 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Aliquid porro voluptatem suscipit at excepturi culpa.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Aliquid porro voluptatem suscipit at excepturi culpa.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?throughput" alt="recusandae et cumque"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Aut totam eum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Aut totam eum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Borders" alt="molestias et asperiores"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Cumque et dolor tempore.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Cumque et dolor tempore.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Agent" alt="dolore inventore voluptas"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>28 mai 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Et neque sint.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Et neque sint.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Shoal" alt="placeat occaecati omnis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ullam quia amet atque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ullam quia amet atque.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Dakota" alt="illum ex nihil"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Distinctio labore facilis in iure aut est vero ipsa.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Distinctio labore facilis in iure aut est vero ipsa.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?GB" alt="atque accusantium corrupti"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>1 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Molestias corrupti in ut animi eos non et necessitatibus necessitatibus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Molestias corrupti in ut animi eos non et necessitatibus necessitatibus.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?vertical" alt="reprehenderit sed et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ea nam possimus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ea nam possimus.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?knowledge" alt="totam repellat adipisci"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Qui vero illum rerum eos corporis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Qui vero illum rerum eos corporis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?copy" alt="voluptatem iste provident"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Perferendis velit minus perspiciatis vel.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Perferendis velit minus perspiciatis vel.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Sterling" alt="iusto et qui"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>29 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ab iusto ea autem atque consequatur qui.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ab iusto ea autem atque consequatur qui.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

