

<div class="c-quote">
    <div class="o-container">
        <h3 class="c-quote__heading">Témoignage</h3>
        <blockquote>
            <span class="c-quote__text">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</span>
            <cite class="c-quote__cite">Titre Prénom Nom Fonction</cite>
        </blockquote>
    </div>
</div>
