

<div class="o-container c-quote">
    <div class="o-box">
        <h3 class="c-quote__heading">Témoignage</h3>
        <blockquote>
            <span class="c-quote__text">Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag. Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh succulents.</span>
            
            <footer class="c-quote__footer">
                
                <img class="c-avatar c-quote__avatar" src="https://source.unsplash.com/100x100/?face" alt="This is an avatar" itemprop="image">
                
                <span class="c-quote__reference">
                <span class="c-quote__reference-item">
                        <span class="u-visually-hidden">Auteur: </span>Titre Prénom Nom
                    </span>
                <span class="c-quote__reference-item">
                        <span class="u-visually-hidden">, Fonction: </span>Fonction
                    </span>
                
                </span>
            </footer>
            
        </blockquote>
    </div>
</div>
