

<div class="o-container o-container--large c-quote">
    <div class="o-box o-box--gradient">
        
        <blockquote>
            <span class="c-quote__text">Si le chemin n&#39;existe pas nous le créerons</span>
            
            <footer class="c-quote__footer">
                
                <span class="c-quote__reference">
                
                
                <cite class="c-quote__reference-item">Hannibal, la traversée des alpes, -212 AJC</cite>
                </span>
            </footer>
            
        </blockquote>
    </div>
</div>
