


<div class="o-container">
  <form class="c-search-input" 
        action="#">
        <div class="c-search-input__row c-content--with-selectors">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <div class="c-search-select__row">
          <label for="filter-1" class="u-visually-hidden">Filtrer par publication</label>
          <select id="filter-1" class="c-search-select">
            <option>Choisir une publication</option>
            <option>Une publication avec un titre</option>
            <option>Une seconde publication</option>
          </select>
        </div>
        <div class="c-search-select__row c-search-select__last">
          <label for="filter-2" class="u-visually-hidden">Filtrer par année</label>
          <select id="filter-2" class="c-search-select">
            <option>Choisir une année</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
          </select>
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

