

<div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

      <span class="c-nav__logo-text">Entité</span>
    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span>Ouvrir le menu</span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search">Rechercher</a>
      </div>
      <ul class="c-nav__level-indicator">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list">
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      La police en chiffres
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Objectifs 2020
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Valorisation des colabirateurs
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Projets
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Communication tactique
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Bilderberg
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Facebook live
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Paléo Festival
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Visite du président indien
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Attaques fourgons blindés
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Fermeture de l&#39;autoroute A12
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Bol d&#39;Or
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Inauguration CIO
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Montreux Jazz Festival
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Fête des Vignerons
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Cérémonie du souvenir
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Escrocrie à la caisse de chômage
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <label for="search" class="u-visually-hidden">Recherche</label>
        <input id="search" class="c-search-input__field" type="text">
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">sint fugit rerum</a></h3>
    <div class="c-search-result-item__content">Laboriosam dolor molestiae suscipit totam eaque. Quae et nisi autem porro culpa rem laudantium et sequi. Iure et consectetur qui vero. Voluptates sit impedit iusto explicabo sed ullam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">natus maxime sed</a></h3>
    <div class="c-search-result-item__content">Debitis iure cupiditate. Sunt odit exercitationem. Eveniet porro voluptatem quaerat labore nam quia nihil sed. Atque quo reiciendis vitae quia.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">sed qui eveniet</a></h3>
    <div class="c-search-result-item__content">Magni nobis eum velit aut iste est. Quisquam et enim unde maxime enim est quos iste. Minima architecto iusto architecto dignissimos. Et ullam quaerat rem deserunt est pariatur non. Temporibus totam magni modi iure facilis voluptate corrupti.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">ipsum doloribus optio</a></h3>
    <div class="c-search-result-item__content">Aliquid commodi sit consequuntur tempore dolores omnis perferendis consequuntur. Assumenda in quis enim magni. Velit est in consectetur et quia possimus.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">sed maiores eveniet</a></h3>
    <div class="c-search-result-item__content">Non beatae vel praesentium hic sed voluptatem. Assumenda voluptate reprehenderit molestiae ut quia tempore consequatur iure. Qui quisquam praesentium rerum asperiores vel assumenda. Dolore quo aut corrupti.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">reiciendis dolorem molestiae</a></h3>
    <div class="c-search-result-item__content">Dolore quas iure iste dicta aut maxime. Qui quod impedit id possimus sit suscipit. Unde voluptatem repellendus amet laudantium aperiam ex ea. Quia nobis quidem et dolorem ab alias. Occaecati enim quibusdam ut at.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quos quis culpa</a></h3>
    <div class="c-search-result-item__content">Non perferendis quas dolore neque harum laudantium. Quas nemo corrupti ratione natus. In suscipit optio beatae voluptatem dignissimos atque temporibus perspiciatis at. Enim quidem necessitatibus eos et vel sed et rerum. Impedit voluptatem illo dolorem veniam quidem dolor sint iusto. Sed beatae modi eaque nisi consequatur quos.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">aut sunt a</a></h3>
    <div class="c-search-result-item__content">Asperiores blanditiis commodi accusantium sed ea alias itaque voluptas. Rem quae est. Architecto veritatis iste impedit minus consequatur numquam eum molestiae. Quia sed eos vitae. Error commodi dignissimos fugit voluptatum quae sit maxime est.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">reiciendis repellendus quisquam</a></h3>
    <div class="c-search-result-item__content">Ut quis mollitia eum consequatur ut saepe in cum ullam. Incidunt error quia nemo quam vel soluta. Quae dicta omnis voluptas est illo facilis. Aut voluptatem quidem dolorem incidunt est quisquam fuga. Eum laudantium voluptatem vel voluptatem perspiciatis adipisci est repellat.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">non expedita nihil</a></h3>
    <div class="c-search-result-item__content">Non vero soluta eos provident maiores maxime. Reprehenderit consequatur totam tempora qui. Totam nam laborum. Minus quam officia saepe voluptas eos repellat velit perferendis natus. Possimus doloribus nihil sapiente eaque. Voluptas eos illo amet veniam architecto quam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="o-region c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

