

<div class="c-slider">
  <div class="o-container o-container--large c-slider__container">
    <div class="c-slider__container-left">
      <h2 class="c-slider__heading">Projets</h2>

      <div class="c-slider__sidebar" aria-hidden="true">
        <ul class="c-slider__sidebar-list">
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Quia dolor corrupti repellat cumque incidunt rerum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Repudiandae ducimus veniam modi dignissimos aut quia repudiandae molestias aspernatur.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Odit vitae molestias.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Magnam laboriosam qui aut enim cupiditate repellendus qui suscipit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Reiciendis commodi explicabo.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ipsa culpa minus quis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Occaecati sit earum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptatem quis nemo dolores eligendi architecto.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Fuga ad ab iusto enim voluptate fugit fuga nihil.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Nostrum ducimus assumenda sed.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Aut odio voluptatem.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et consequatur quia tempora et praesentium perferendis id repellendus.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Repellendus et aspernatur id et veniam id at fugit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Fuga dolorum ea ut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Aliquam vero quod.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ipsum ullam accusantium necessitatibus odio sapiente autem ipsam suscipit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Distinctio sequi porro velit veritatis voluptas.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Beatae dolores rerum ipsam iste.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et in voluptatem modi quod sunt.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Saepe labore a.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider__sidebar -->
    </div>
    <!-- /.c-slider__container-left -->

    
    <ul class="c-slider__container-right c-slider__list">
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Quia dolor corrupti repellat cumque incidunt rerum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>27 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Customizable/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Customizable/640x480"
              alt="doloribus minima nisi"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Repudiandae ducimus veniam modi dignissimos aut quia repudiandae molestias aspernatur.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>29 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Director/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Director/640x480"
              alt="ut occaecati nemo"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Odit vitae molestias.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>26 mars 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Account/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Account/640x480"
              alt="sint unde qui"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Magnam laboriosam qui aut enim cupiditate repellendus qui suscipit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>19 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="labore quaerat hic"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Reiciendis commodi explicabo.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>25 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Plastic/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Plastic/640x480"
              alt="adipisci natus dolor"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ipsa culpa minus quis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>12 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?copy/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?copy/640x480"
              alt="et accusantium laborum"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Occaecati sit earum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>13 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?withdrawal/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?withdrawal/640x480"
              alt="maiores minima ex"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptatem quis nemo dolores eligendi architecto.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>27 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Corporate/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Corporate/640x480"
              alt="consequatur quod cum"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Fuga ad ab iusto enim voluptate fugit fuga nihil.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>1 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Checking/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Checking/640x480"
              alt="quia fugiat fugiat"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Nostrum ducimus assumenda sed.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>10 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?invoice/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?invoice/640x480"
              alt="aperiam dolorem vel"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Aut odio voluptatem.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>9 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Tools/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Tools/640x480"
              alt="temporibus hic animi"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et consequatur quia tempora et praesentium perferendis id repellendus.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>23 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Account/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Account/640x480"
              alt="reiciendis sed magni"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Repellendus et aspernatur id et veniam id at fugit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>4 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Mobility/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Mobility/640x480"
              alt="laborum inventore qui"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Fuga dolorum ea ut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>28 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Glens/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Glens/640x480"
              alt="perferendis quo minus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Aliquam vero quod.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>7 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?initiatives/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?initiatives/640x480"
              alt="voluptatem perspiciatis eligendi"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ipsum ullam accusantium necessitatibus odio sapiente autem ipsam suscipit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>6 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Berkshire/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Berkshire/640x480"
              alt="alias vel qui"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Distinctio sequi porro velit veritatis voluptas.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>1 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?hacking/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?hacking/640x480"
              alt="impedit exercitationem eaque"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Beatae dolores rerum ipsam iste.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>27 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Savings/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Savings/640x480"
              alt="ut quos placeat"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et in voluptatem modi quod sunt.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>16 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?calculate/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?calculate/640x480"
              alt="quidem quo accusamus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Saepe labore a.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>11 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Wyoming/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Wyoming/640x480"
              alt="aperiam commodi voluptas"
            />
          </figure>
        </article>
      </li>
      
    </ul>
    
  </div>
  <!-- /.c-slider__container -->
</div>
<!-- /.c-slider -->

