

<div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Deserunt consequatur ut et qui temporibus deserunt.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Blanditiis aut aut.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptatum voluptatem commodi qui ut dolorem voluptatem sit.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Libero corrupti atque corporis nisi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Atque hic inventore rem distinctio dolor ea ratione.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Quia aut quis consequatur voluptates aliquam et aliquam nihil sequi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Tempore quia quia quaerat nemo.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Sequi nisi in.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Repellat excepturi impedit voluptatem qui eum omnis deleniti cupiditate voluptas.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dolor exercitationem nesciunt consequatur quaerat ea occaecati eligendi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Blanditiis reprehenderit quaerat dolor rem possimus numquam quis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Necessitatibus consectetur mollitia distinctio ab iusto et.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dignissimos sunt ratione aliquid.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Neque quia suscipit sed.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Optio inventore voluptatibus.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Consequuntur perspiciatis vero.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptas ut illo.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Impedit omnis voluptatem eius accusantium omnis non.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Officia sint porro.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Tempora voluptatum nihil tempore corporis.</a
            >
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Deserunt consequatur ut et qui temporibus deserunt.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>27 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Wooden/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Wooden/640x480"
              alt="reprehenderit nostrum quia"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Blanditiis aut aut.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>9 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Borders/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Borders/640x480"
              alt="rerum numquam tempora"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptatum voluptatem commodi qui ut dolorem voluptatem sit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Wooden/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Wooden/640x480"
              alt="rerum facilis quo"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Libero corrupti atque corporis nisi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Ergonomic/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Ergonomic/640x480"
              alt="perspiciatis ab et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Atque hic inventore rem distinctio dolor ea ratione.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>4 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="veritatis amet consequatur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quia aut quis consequatur voluptates aliquam et aliquam nihil sequi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Concrete/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Concrete/640x480"
              alt="quia praesentium eum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Tempore quia quia quaerat nemo.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>11 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?content/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?content/640x480"
              alt="et vero eligendi"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sequi nisi in.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?turquoise/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?turquoise/640x480"
              alt="reiciendis est sequi"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Repellat excepturi impedit voluptatem qui eum omnis deleniti cupiditate voluptas.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>14 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Mauritius/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Mauritius/640x480"
              alt="recusandae id repellendus"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dolor exercitationem nesciunt consequatur quaerat ea occaecati eligendi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>7 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Computer/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Computer/640x480"
              alt="corrupti officiis rem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Blanditiis reprehenderit quaerat dolor rem possimus numquam quis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>2 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Franc/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Franc/640x480"
              alt="saepe dolorem corporis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Necessitatibus consectetur mollitia distinctio ab iusto et.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?GB/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?GB/640x480"
              alt="animi ut eaque"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dignissimos sunt ratione aliquid.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>18 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?bypass/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?bypass/640x480"
              alt="quasi ea at"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Neque quia suscipit sed.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>20 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Dollar/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Dollar/640x480"
              alt="officiis beatae assumenda"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Optio inventore voluptatibus.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>3 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?iterate/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?iterate/640x480"
              alt="non ut ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Consequuntur perspiciatis vero.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>5 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Global/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Global/640x480"
              alt="similique rerum qui"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptas ut illo.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>4 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Product/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Product/640x480"
              alt="ut nisi et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Impedit omnis voluptatem eius accusantium omnis non.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>28 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Alley/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Alley/640x480"
              alt="aut quam consequatur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Officia sint porro.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>29 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Suriname/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Suriname/640x480"
              alt="consequatur libero consequatur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Tempora voluptatum nihil tempore corporis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>21 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Metal/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Metal/640x480"
              alt="aliquid rerum ut"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

