

<div class="c-slider">
  <div class="o-container o-container--large c-slider__container">
    <div class="c-slider__container-left">
      <h2 class="c-slider__heading">Projets</h2>

      <div class="c-slider__sidebar" aria-hidden="true">
        <ul class="c-slider__sidebar-list">
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Incidunt praesentium molestiae libero totam debitis facilis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Omnis vel sint quae sit aut doloremque cupiditate voluptas.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Autem quia et possimus magnam facere voluptatem.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Esse tempore rerum ipsa unde.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Minima occaecati quisquam sequi odit corporis sed.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Id quam omnis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Explicabo perspiciatis itaque est maxime eum nihil culpa.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Tempore dolorem est rem et quos tenetur nemo eos est.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et nemo velit ducimus dolores.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Rerum cumque enim soluta eligendi consequatur expedita sunt consequatur sequi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Temporibus rerum aut et tenetur in possimus sequi iusto.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Inventore qui aut nesciunt nobis earum quam ex cum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Nam aut vero in aut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Rerum rerum dolores pariatur.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Quas possimus quasi adipisci totam qui.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Incidunt molestiae eaque corrupti quasi quia nihil quis reprehenderit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Iure voluptatem ut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Exercitationem perspiciatis quis quia quidem sunt et.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Quia asperiores ut laudantium sunt magnam molestias dicta omnis vel.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Praesentium labore qui rerum.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider__sidebar -->
    </div>
    <!-- /.c-slider__container-left -->

    
    <ul class="c-slider__container-right c-slider__list">
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Incidunt praesentium molestiae libero totam debitis facilis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>14 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Dynamic/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Dynamic/640x480"
              alt="non sit laudantium"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Omnis vel sint quae sit aut doloremque cupiditate voluptas.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>24 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Car/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Car/640x480"
              alt="libero in eos"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Autem quia et possimus magnam facere voluptatem.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>6 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Legacy/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Legacy/640x480"
              alt="consequuntur quia sed"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Esse tempore rerum ipsa unde.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Tuna/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Tuna/640x480"
              alt="qui est repellat"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Minima occaecati quisquam sequi odit corporis sed.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>18 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Directives/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Directives/640x480"
              alt="fugit exercitationem provident"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Id quam omnis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>26 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Loan/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Loan/640x480"
              alt="corrupti aut minima"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Explicabo perspiciatis itaque est maxime eum nihil culpa.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>21 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Shirt/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Shirt/640x480"
              alt="eveniet et illum"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Tempore dolorem est rem et quos tenetur nemo eos est.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>28 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Riyal/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Riyal/640x480"
              alt="eos qui quo"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et nemo velit ducimus dolores.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?AGP/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?AGP/640x480"
              alt="aut quod natus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Rerum cumque enim soluta eligendi consequatur expedita sunt consequatur sequi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>7 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?static/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?static/640x480"
              alt="occaecati sed esse"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Temporibus rerum aut et tenetur in possimus sequi iusto.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>14 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="ipsam harum dolorem"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Inventore qui aut nesciunt nobis earum quam ex cum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>11 avril 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Afghanistan/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Afghanistan/640x480"
              alt="dolorum impedit necessitatibus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Nam aut vero in aut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>4 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Research/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Research/640x480"
              alt="vero omnis inventore"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Rerum rerum dolores pariatur.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>26 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Metal/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Metal/640x480"
              alt="repellat aut inventore"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Quas possimus quasi adipisci totam qui.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>19 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="dolorem voluptate accusamus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Incidunt molestiae eaque corrupti quasi quia nihil quis reprehenderit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>17 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Accountability/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Accountability/640x480"
              alt="dolorem beatae minus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Iure voluptatem ut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>26 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?driver/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?driver/640x480"
              alt="architecto officia saepe"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Exercitationem perspiciatis quis quia quidem sunt et.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>8 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Product/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Product/640x480"
              alt="qui eos mollitia"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Quia asperiores ut laudantium sunt magnam molestias dicta omnis vel.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>16 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Computer/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Computer/640x480"
              alt="corporis quidem vel"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Praesentium labore qui rerum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>21 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?revolutionize/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?revolutionize/640x480"
              alt="iusto maiores vel"
            />
          </figure>
        </article>
      </li>
      
    </ul>
    
  </div>
  <!-- /.c-slider__container -->
</div>
<!-- /.c-slider -->

