

<div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Consequatur accusantium eum non voluptate iure nemo et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Omnis vel dicta.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dolor aut a occaecati id repudiandae sit sed.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sunt fugiat magnam aspernatur placeat qui autem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Eum recusandae aut corporis tempora velit dolorem expedita.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Molestiae ullam est.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quam molestiae vel explicabo illo illum cupiditate.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Eius libero commodi repellat mollitia et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Exercitationem fugiat at autem amet nemo nobis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quis rerum possimus dolorum accusantium.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sapiente cupiditate dolorum nam.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ducimus expedita rem qui dolor sit et quod voluptatum tenetur.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Fuga quisquam ut sapiente quisquam cumque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sapiente corporis accusamus sunt qui libero nemo voluptate.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Suscipit libero sit sint quasi quidem quia est error.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Enim neque praesentium ullam voluptate blanditiis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Voluptate atque porro voluptate quia sequi est cum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Fugiat accusantium fuga natus non corporis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Voluptate ipsum nihil in et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Debitis similique et omnis enim quaerat cum recusandae quia aliquid.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?compressing" alt="non et cupiditate"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 juin 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Consequatur accusantium eum non voluptate iure nemo et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Consequatur accusantium eum non voluptate iure nemo et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?silver" alt="quam quasi fugiat"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>25 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Omnis vel dicta.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Omnis vel dicta.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?HDD" alt="aut nihil assumenda"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>27 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dolor aut a occaecati id repudiandae sit sed.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Dolor aut a occaecati id repudiandae sit sed.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Cocos" alt="ex quia earum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sunt fugiat magnam aspernatur placeat qui autem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Sunt fugiat magnam aspernatur placeat qui autem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Fresh" alt="alias pariatur aliquam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Eum recusandae aut corporis tempora velit dolorem expedita.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Eum recusandae aut corporis tempora velit dolorem expedita.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?olive" alt="veniam ut quas"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 juin 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Molestiae ullam est.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Molestiae ullam est.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?mint" alt="eum laboriosam delectus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 juillet 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quam molestiae vel explicabo illo illum cupiditate.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quam molestiae vel explicabo illo illum cupiditate.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?infrastructures" alt="repellat earum quibusdam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>16 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Eius libero commodi repellat mollitia et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Eius libero commodi repellat mollitia et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?AGP" alt="laboriosam ab tempora"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Exercitationem fugiat at autem amet nemo nobis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Exercitationem fugiat at autem amet nemo nobis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Applications" alt="laboriosam minima assumenda"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quis rerum possimus dolorum accusantium.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quis rerum possimus dolorum accusantium.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Account" alt="tempora cum tempora"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sapiente cupiditate dolorum nam.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Sapiente cupiditate dolorum nam.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Account" alt="et natus quidem"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 juin 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ducimus expedita rem qui dolor sit et quod voluptatum tenetur.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Ducimus expedita rem qui dolor sit et quod voluptatum tenetur.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?1080p" alt="soluta sunt ducimus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Fuga quisquam ut sapiente quisquam cumque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Fuga quisquam ut sapiente quisquam cumque.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Rustic" alt="ratione aut minus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sapiente corporis accusamus sunt qui libero nemo voluptate.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Sapiente corporis accusamus sunt qui libero nemo voluptate.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="nobis totam repellat"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Suscipit libero sit sint quasi quidem quia est error.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Suscipit libero sit sint quasi quidem quia est error.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?harness" alt="tempore vel optio"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 août 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Enim neque praesentium ullam voluptate blanditiis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Enim neque praesentium ullam voluptate blanditiis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Senior" alt="sed facere vel"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>20 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Voluptate atque porro voluptate quia sequi est cum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Voluptate atque porro voluptate quia sequi est cum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Licensed" alt="quia quas dolor"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Fugiat accusantium fuga natus non corporis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Fugiat accusantium fuga natus non corporis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Chicken" alt="error est non"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Voluptate ipsum nihil in et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Voluptate ipsum nihil in et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Fantastic" alt="autem ea recusandae"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 juillet 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Debitis similique et omnis enim quaerat cum recusandae quia aliquid.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Debitis similique et omnis enim quaerat cum recusandae quia aliquid.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

