

<div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Harum dolor rerum eius nihil illum error eius numquam sequi.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Vitae quisquam placeat eveniet placeat dolore iusto.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Expedita aspernatur sed itaque voluptas officia corporis amet nulla.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Perferendis et hic quibusdam vero et consequatur corrupti est.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Nulla aut quo qui placeat dolorem.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Aut corrupti fugiat.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Ipsa minus sunt.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Ut consequatur eaque magnam nam id doloribus modi magni quae.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Pariatur autem animi optio laboriosam nisi.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Sit voluptas accusantium esse et eum quos molestiae dolores.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Recusandae ut unde qui dignissimos saepe.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Perspiciatis blanditiis eligendi odit.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Molestiae veniam error.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Reprehenderit sit sunt commodi aut nobis voluptatem dignissimos neque.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Quos at consequatur.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Quas magni nobis sed dolore minima.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Ab officiis vel voluptas error.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Soluta rem accusamus corrupti quia voluptas temporibus et quo.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Nemo assumenda rerum qui commodi voluptatem corrupti aspernatur est.</a>
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere">Quis sit ex.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Harum dolor rerum eius nihil illum error eius numquam sequi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?digital/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?digital/640x480"
              alt="quod assumenda occaecati"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Vitae quisquam placeat eveniet placeat dolore iusto.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Lari/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Lari/640x480"
              alt="quia ut molestiae"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Expedita aspernatur sed itaque voluptas officia corporis amet nulla.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>5 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?transitional/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?transitional/640x480"
              alt="laudantium perferendis nihil"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Perferendis et hic quibusdam vero et consequatur corrupti est.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>28 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?cyan/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?cyan/640x480"
              alt="maiores itaque tempore"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Nulla aut quo qui placeat dolorem.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>16 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Virginia/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Virginia/640x480"
              alt="sequi est dolorem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Aut corrupti fugiat.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>3 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Representative/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Representative/640x480"
              alt="et qui sed"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ipsa minus sunt.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>31 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?optical/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?optical/640x480"
              alt="et eius dignissimos"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ut consequatur eaque magnam nam id doloribus modi magni quae.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Carolina/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Carolina/640x480"
              alt="aliquid voluptatum quam"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Pariatur autem animi optio laboriosam nisi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Avon/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Avon/640x480"
              alt="quos sapiente recusandae"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sit voluptas accusantium esse et eum quos molestiae dolores.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>29 mars 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Grocery/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Grocery/640x480"
              alt="dolores veritatis corrupti"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Recusandae ut unde qui dignissimos saepe.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?mesh/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?mesh/640x480"
              alt="aut vitae eius"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Perspiciatis blanditiis eligendi odit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>27 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?extensible/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?extensible/640x480"
              alt="sint voluptatem aut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Molestiae veniam error.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Loan/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Loan/640x480"
              alt="odit non non"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Reprehenderit sit sunt commodi aut nobis voluptatem dignissimos neque.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>31 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Intelligent/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Intelligent/640x480"
              alt="quis inventore itaque"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quos at consequatur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>5 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?maroon/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?maroon/640x480"
              alt="aut consectetur autem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quas magni nobis sed dolore minima.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>3 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?generate/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?generate/640x480"
              alt="architecto omnis quod"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ab officiis vel voluptas error.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>7 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?parse/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?parse/640x480"
              alt="et tempora iusto"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Soluta rem accusamus corrupti quia voluptas temporibus et quo.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Fresh/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Fresh/640x480"
              alt="est natus aliquid"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Nemo assumenda rerum qui commodi voluptatem corrupti aspernatur est.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?proactive/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?proactive/640x480"
              alt="dolorum error sit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quis sit ex.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>29 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Bedfordshire/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Bedfordshire/640x480"
              alt="aliquid sunt dolore"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

