

<div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ipsa aut exercitationem architecto.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Error tempore reiciendis consequatur est.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et dolore rerum sequi et voluptatum quo.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Veritatis dolor consequuntur.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et nobis rerum quidem ut officia et placeat dolores dolores.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et eos nisi itaque dolore consequatur fugiat.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Velit quis et iure corporis impedit aperiam delectus perspiciatis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Sequi impedit doloremque illum amet temporibus.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et ab et.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ex distinctio est sunt dolor soluta nulla.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Nam alias asperiores reprehenderit at suscipit sunt.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Iure molestias veniam est.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Perferendis quisquam ea libero provident.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Consequuntur est voluptas et praesentium voluptatum est voluptatem doloremque.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Cum ducimus ducimus optio aliquid aliquid exercitationem et enim voluptas.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Tenetur sed voluptatem consectetur rerum eos.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dolores et et et saepe in inventore laborum.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptatibus facilis totam distinctio quos.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Sed praesentium quod.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Facilis cupiditate maiores voluptatibus sed ut consequatur omnis amet qui.</a
            >
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ipsa aut exercitationem architecto.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>12 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Handcrafted/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Handcrafted/640x480"
              alt="et ipsa ipsum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Error tempore reiciendis consequatur est.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Borders/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Borders/640x480"
              alt="laboriosam consequuntur quibusdam"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et dolore rerum sequi et voluptatum quo.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Savings/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Savings/640x480"
              alt="et tempora omnis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Veritatis dolor consequuntur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>2 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Track/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Track/640x480"
              alt="perferendis laudantium omnis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et nobis rerum quidem ut officia et placeat dolores dolores.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>5 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?green/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?green/640x480"
              alt="et aut ad"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et eos nisi itaque dolore consequatur fugiat.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>19 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Bypass/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Bypass/640x480"
              alt="aliquam est fugit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Velit quis et iure corporis impedit aperiam delectus perspiciatis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>21 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Salad/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Salad/640x480"
              alt="adipisci dicta quis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sequi impedit doloremque illum amet temporibus.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>20 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Bedfordshire/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Bedfordshire/640x480"
              alt="qui et molestias"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et ab et.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?application/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?application/640x480"
              alt="fugiat doloremque ducimus"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ex distinctio est sunt dolor soluta nulla.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>16 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Krona/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Krona/640x480"
              alt="repellat commodi suscipit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Nam alias asperiores reprehenderit at suscipit sunt.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?salmon/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?salmon/640x480"
              alt="voluptas qui debitis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Iure molestias veniam est.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>22 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Automotive/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Automotive/640x480"
              alt="ad aut expedita"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Perferendis quisquam ea libero provident.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>18 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Gloves/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Gloves/640x480"
              alt="laboriosam est voluptate"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Consequuntur est voluptas et praesentium voluptatum est voluptatem doloremque.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?purple/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?purple/640x480"
              alt="quidem et et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Cum ducimus ducimus optio aliquid aliquid exercitationem et enim voluptas.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>27 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Isle/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Isle/640x480"
              alt="soluta voluptatem velit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Tenetur sed voluptatem consectetur rerum eos.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>19 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?virtual/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?virtual/640x480"
              alt="voluptatibus cumque quaerat"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dolores et et et saepe in inventore laborum.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>23 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Cape/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Cape/640x480"
              alt="itaque velit quo"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptatibus facilis totam distinctio quos.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>14 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Solutions/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Solutions/640x480"
              alt="nobis ut provident"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sed praesentium quod.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Dominica/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Dominica/640x480"
              alt="debitis ab qui"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Facilis cupiditate maiores voluptatibus sed ut consequatur omnis amet qui.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>7 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Armenia/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Armenia/640x480"
              alt="aut ad iusto"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

