

<div class="c-slider">
  <div class="o-container o-container--large c-slider__container">
    <div class="c-slider__container-left">
      <h2 class="c-slider__heading">Projets</h2>

      <div class="c-slider__sidebar" aria-hidden="true">
        <ul class="c-slider__sidebar-list">
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Illo pariatur aliquid possimus.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Alias quod libero voluptatem ut qui velit consequatur voluptatem.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Cupiditate sunt iste perspiciatis enim excepturi consequatur est.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et quis aut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ea soluta quidem aut inventore laborum repudiandae.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Aspernatur consectetur dignissimos eius placeat iusto non non recusandae.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Esse dolorum et iusto.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptas officia fugit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sapiente consectetur quo quibusdam et nam asperiores.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Rerum expedita eum magni illum modi non rerum assumenda deleniti.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Dolor accusantium officiis aliquam aut hic sunt eius voluptatem.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptatibus ea in neque rerum qui quae et.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Architecto ut vitae corporis ex eos ad sequi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Porro quas autem sed deserunt numquam voluptatem qui ipsa.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Laborum nihil voluptatum suscipit molestias quisquam fugiat iure odit.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et voluptate eos odio quibusdam aperiam provident molestiae ea quis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Soluta voluptate sunt.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Aut nobis dicta perspiciatis et.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Vel et eaque quibusdam.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Nihil repudiandae quibusdam totam mollitia debitis qui a.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider__sidebar -->
    </div>
    <!-- /.c-slider__container-left -->

    
    <ul class="c-slider__container-right c-slider__list">
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Illo pariatur aliquid possimus.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>11 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?haptic/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?haptic/640x480"
              alt="architecto at reprehenderit"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Alias quod libero voluptatem ut qui velit consequatur voluptatem.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>11 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?utilize/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?utilize/640x480"
              alt="perspiciatis harum voluptates"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Cupiditate sunt iste perspiciatis enim excepturi consequatur est.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>19 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Rupee/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Rupee/640x480"
              alt="delectus sint ea"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et quis aut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>12 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Rustic/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Rustic/640x480"
              alt="culpa itaque quia"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ea soluta quidem aut inventore laborum repudiandae.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>13 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Pizza/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Pizza/640x480"
              alt="vitae incidunt iste"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Aspernatur consectetur dignissimos eius placeat iusto non non recusandae.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>2 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Montana/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Montana/640x480"
              alt="corrupti minima mollitia"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Esse dolorum et iusto.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>28 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Grenada/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Grenada/640x480"
              alt="sequi qui ex"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptas officia fugit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>16 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?connecting/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?connecting/640x480"
              alt="et mollitia quia"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sapiente consectetur quo quibusdam et nam asperiores.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>6 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Upgradable/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Upgradable/640x480"
              alt="eligendi praesentium qui"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Rerum expedita eum magni illum modi non rerum assumenda deleniti.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>27 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Grocery/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Grocery/640x480"
              alt="non provident amet"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Dolor accusantium officiis aliquam aut hic sunt eius voluptatem.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>8 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Park/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Park/640x480"
              alt="perferendis enim asperiores"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptatibus ea in neque rerum qui quae et.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>29 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?override/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?override/640x480"
              alt="eos necessitatibus blanditiis"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Architecto ut vitae corporis ex eos ad sequi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>23 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Plastic/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Plastic/640x480"
              alt="ea asperiores veritatis"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Porro quas autem sed deserunt numquam voluptatem qui ipsa.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>15 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?parsing/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?parsing/640x480"
              alt="et velit aut"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Laborum nihil voluptatum suscipit molestias quisquam fugiat iure odit.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>17 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Cambridgeshire/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Cambridgeshire/640x480"
              alt="mollitia nesciunt aut"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et voluptate eos odio quibusdam aperiam provident molestiae ea quis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>18 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Home/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Home/640x480"
              alt="doloribus ut saepe"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Soluta voluptate sunt.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>1 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?navigating/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?navigating/640x480"
              alt="labore tempore dolor"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Aut nobis dicta perspiciatis et.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>17 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Centralized/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Centralized/640x480"
              alt="magnam quas incidunt"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Vel et eaque quibusdam.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>10 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Martinique/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Martinique/640x480"
              alt="quidem ea quia"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Nihil repudiandae quibusdam totam mollitia debitis qui a.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>12 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Central/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Central/640x480"
              alt="minus qui possimus"
            />
          </figure>
        </article>
      </li>
      
    </ul>
    
  </div>
  <!-- /.c-slider__container -->
</div>
<!-- /.c-slider -->

