

<div class="c-nav">
  <nav class="o-container c-nav__container">
    <div class="c-nav__logo">
      <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

      <span class="c-nav__logo-text">Entité</span>
    </div>
    <a class="c-nav__toggle" href="#nowhere">
      <div class="c-menu-icon c-menu-icon--cross">
        <span>Open menu</span>
      </div>
    </a>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search">Rechercher</a>
      </div>
      <ul class="c-nav__level-indicator"></ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list">
          
          <li class="c-nav__list-item" data-level="0">
            <a
              href="#nowhere"
              class="c-nav__list-link c-nav__list-link--w-children"
            >
              Somaire
            </a>
            
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link c-nav__list-link--w-children"
                  >Organigrame</a
                >
                
                <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Communication tactique</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Bilderberg</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Facebook live</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Paléo Festival</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Visite du président indien</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Attaques fourgons blindés</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Fermeture de l&#39;autoroute A12</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Bol d&#39;Or</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Inauguration CIO</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Montreux Jazz Festival</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Fête des Vignerons</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Cérémonie du souvenir</a
                    >
                  </li>
                  
                  <li class="c-nav__list-item" data-level="2">
                    <a href="#nowhere" class="c-nav__list-link"
                      >Escrocrie à la caisse de chômage</a
                    >
                  </li>
                  
                </ul>
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >La police en chiffres</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Finances</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Objectifs 2020</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Valorisation des colabirateurs</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Témoignages</a
                >
                
              </li>
              
            </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            <a
              href="#nowhere"
              class="c-nav__list-link c-nav__list-link--w-children"
            >
              Projets
            </a>
            
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Communication tactique</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Bilderberg</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Facebook live</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Paléo Festival</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Visite du président indien</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Attaques fourgons blindés</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Fermeture de l&#39;autoroute A12</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Bol d&#39;Or</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Inauguration CIO</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Montreux Jazz Festival</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Fête des Vignerons</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Cérémonie du souvenir</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Escrocrie à la caisse de chômage</a
                >
                
              </li>
              
            </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            <a
              href="#nowhere"
              class="c-nav__list-link"
            >
              Remerciement
            </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            <a
              href="#nowhere"
              class="c-nav__list-link c-nav__list-link--w-children"
            >
              Où sommes-nous ?
            </a>
            
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.1</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.2</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.3</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.4</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.5</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.6</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.7</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.8</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 4.9</a
                >
                
              </li>
              
            </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            <a
              href="#nowhere"
              class="c-nav__list-link c-nav__list-link--w-children"
            >
              Menu 5 est passablement très très très très long
            </a>
            
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 5.1 très très très très très très très très très très très très long</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 5.2</a
                >
                
              </li>
              
              <li class="c-nav__list-item" data-level="1">
                <a
                  href="#nowhere"
                  class="c-nav__list-link"
                  >Menu 5.3</a
                >
                
              </li>
              
            </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="o-stack o-stack--big">

  <main class="o-stack o-stack--big">
    <div class="c-hero c-hero--title c-hero--with-image">
    <style scoped>
        .c-hero--with-image {
            background-image: url('https://source.unsplash.com/nPz8akkUmDI/320x580');
        }
        @media (min-width: 320px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/640x640');
            }
         }
        @media (min-width: 640px) { 
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/800x600');
            }
         }
        @media (min-width: 768px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1024x768');
            }
        }
        @media (min-width: 1024px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
        @media (min-width: 1280px) {
            .c-hero--with-image {
                background-image: url('https://source.unsplash.com/nPz8akkUmDI/1280x960');
            }
        }
    </style>
    <div class="c-hero__top o-container">
        <h1 class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery.</h1>
        
        <div class="c-hero__caption">[H4] caption</div>
    </div>
    <div class="c-hero__bottom o-container">
        <span class="c-arrow c-hero__button" role="presentation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16">
  <path
    d="M7 1v14m6-6l-6 6M1 9l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</span>
    </div>
</div>

    <nav class="o-container c-breadcrumb">
  <h2 class="u-visually-hidden">Fil d'Arianie</h2>
  <ul
    class="c-breadcrumb__list"
    itemscope
    itemtype="https://schema.org/BreadcrumbList"
  >
    
    <li
      class="c-breadcrumb__list-item"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a
        class="c-breadcrumb__link"
        href="#nowehre"
        
        itemprop="item"
        ><span class="c-breadcrumb__link-text" itemprop="name"
          >Rapport annuel de gestion 2019</span
        ></a
      >
      <meta itemprop="position" content="1" />
    </li>
    
    <li
      class="c-breadcrumb__list-item"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a
        class="c-breadcrumb__link"
        href="#nowehre"
        
        itemprop="item"
        ><span class="c-breadcrumb__link-text" itemprop="name"
          >Département du territoire et de l&#39;environnement (DTE)</span
        ></a
      >
      <meta itemprop="position" content="2" />
    </li>
    
    <li
      class="c-breadcrumb__list-item"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a
        class="c-breadcrumb__link"
        href="#nowehre"
        
        itemprop="item"
        ><span class="c-breadcrumb__link-text" itemprop="name"
          >Service des automobiles et de la navigation (SAN)</span
        ></a
      >
      <meta itemprop="position" content="3" />
    </li>
    
    <li
      class="c-breadcrumb__list-item"
      itemprop="itemListElement"
      itemscope
      itemtype="https://schema.org/ListItem"
    >
      <a
        class="c-breadcrumb__link"
        href="#nowehre"
        
        aria-current="true"
        
        itemprop="item"
        ><span class="c-breadcrumb__link-text" itemprop="name"
          >Projets particuliers et réalisation des objectifs 198 du SAN</span
        ></a
      >
      <meta itemprop="position" content="4" />
    </li>
    
  </ul>
</nav>


    <div
  class="o-container c-content c-content--2-col"
>
  
  <div class="c-content__item">
    <h2 class="c-content__heading-text u-h2">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless</h2>
  </div>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <div class="o-container c-quote">
    <div class="o-box">
        
        <blockquote>
            <span class="c-quote__text">Si le chemin n&#39;existe pas nous le créerons</span>
            
            <footer class="c-quote__footer">
                
                <span class="c-quote__reference">
                
                
                <cite class="c-quote__reference-item">Hannibal, la traversée des alpes, -212 AJC</cite>
                </span>
            </footer>
            
        </blockquote>
    </div>
</div>
  
    <div class="c-highlight" aria-label="Contenu mis en évidence">
    <div class="o-container"><div class=" c-highlight__text">
[H2] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor orci mauris, solicitudin rhoncus enim dictum eu. Nunc risus ligula, vehicula eu nisi non, commodo</div>
    </div>
</div>
    
    <div
  class="o-container c-content"
>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <div
  class="o-container c-content"
>
  
  <div class="c-content__item">
    <h2 class="c-content__heading-text u-h2">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless</h2>
  </div>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <div class="o-container c-testimonial">
    <div class="o-box">
        <div class="c-testimonial__flex"> 
            
            <div class="c-testimonial__facecontainer">
                <img class="c-avatar c-avatar--responsive c-testimonial__face" src="https://source.unsplash.com/200x200/?face" alt="This is an avatar" itemprop="image">
            </div>
            
            <div class="o-stack c-testimonial__textcontainer">
                <div class="o-stack o-stack--small">
                    <div class="c-testimonial__author">
                        
                        <span class="u-visually-hidden">Auteur: </span><span>MME Prénom Nom</span>
                        
                            <span class="u-visually-hidden">, Fonction: </span> <span class="c-testimonial__author--function">Fonction</span>
                        
                    </div>
                    
                    <h3 class="c-testimonial__header">[H1] Lorem ipsum dolor sit amet</h3>
                </div>
                
                <div class="c-testimonial__text o-prose">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus maximus blandit. Donec dui enim, finibus ut mi vel, gravida rutrum est. Donec sed lectus fringilla, ultricies metus sed, lobortis ligula. Nullam vitae fermentum sem. Proin sollicitudin varius ante at faucibus. Suspendisse ut tellus lectus. Ut non leo vel ipsum facilisis fermentum. Morbi molestie ornare nibh, nec iaculis augue sodales et. Fusce molestie convallis interdum. Nullam sit amet luctus quam, eget hendrerit mi. Aenean lorem diam, pellentesque ac vestibulum a, dapibus sed felis. Nam rutrum leo quis dignissim eleifend.
                </div>
                
            
                    <div id="js-more-1" class="js-testimonial__fulltext o-prose">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus maximus blandit. Donec dui enim, finibus ut mi vel, gravida rutrum est. Donec sed lectus fringilla, ultricies metus sed, lobortis ligula. Nullam vitae fermentum sem. Proin sollicitudin varius ante at faucibus. Suspendisse ut tellus lectus. Ut non leo vel ipsum facilisis fermentum. Morbi molestie ornare nibh, nec iaculis augue sodales et. Fusce molestie convallis interdum. Nullam sit amet luctus quam, eget hendrerit mi. Aenean lorem diam, pellentesque ac vestibulum a, dapibus sed felis. Nam rutrum leo quis dignissim eleifend.</p><p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.</p>
                    </div>
                
                    <button aria-expanded="false"
                            aria-controls="js-more-1"
                            aria-pressed="false"
                            class="c-button c-button--transparent c-testimonial__button js-testimonial__toggle-btn"
                            hidden>
                        <span class="js-testimonial__toggle-btn-text">Lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

                    </button>
                
                
            </div>
        </div>
    </div>
</div>
    
    <div
  class="o-container c-content"
>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <!-- 
      TODO: refactorize to put the o-container in the component
    -->
    <div class="o-container">
    <div class="o-grid">
    <div class="o-prose o-grid__item--self-center">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown gastropub cornhole celiac swag. Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag.</p>
    </div>
    <figure class="c-figure">
    <img class="c-figure__media" 
         src="https://source.unsplash.com/800x800/daily" 
         alt="Des basket et des fleurs"
         
         srcset="https://source.unsplash.com/QDHhz4lPnkU/320x210 320w,https://source.unsplash.com/QDHhz4lPnkU/540x360 540w,https://source.unsplash.com/QDHhz4lPnkU/720x480 720w,https://source.unsplash.com/QDHhz4lPnkU/960x640 960w,https://source.unsplash.com/QDHhz4lPnkU/1140x760 1140w,">
    <figcaption class="c-figure__caption">
        This is the caption
    </figcaption>
</figure>
</div>
    </div>
    
    <!-- 
      TODO: refactorize to put the o-container in the component
    -->
    <div class="o-container">
    <figure class="c-figure">
    <img class="c-figure__media" 
         src="https://source.unsplash.com/QDHhz4lPnkU" 
         alt="Des basket et des fleurs"
         
         srcset="https://source.unsplash.com/QDHhz4lPnkU/320x210 320w,https://source.unsplash.com/QDHhz4lPnkU/540x360 540w,https://source.unsplash.com/QDHhz4lPnkU/720x480 720w,https://source.unsplash.com/QDHhz4lPnkU/960x640 960w,https://source.unsplash.com/QDHhz4lPnkU/1140x760 1140w,">
    <figcaption class="c-figure__caption">
        This is the caption
    </figcaption>
</figure>
    </div>
    
<!--    <div class="c-slider">
    <div class="o-container">
        <h2 class="c-slider__heading">Slider</h2>
        
        <div class="c-slider__container">
        <ul class="c-slider__list">
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">Zombie ipsum reversus ab viral inferno</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/whli_m_1Iek/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/whli_m_1Iek/640x480" alt="text alternatif">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">Nam rick grimes malum cerebro</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/J6DGlnyOzuI/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/J6DGlnyOzuI/640x480" alt="text alternatif 2">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">De carne lumbering morbo vel maleficia gorger omero mindless mortuis soulless</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/a8r2KKLSntA/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/a8r2KKLSntA/640x480" alt="text alternatif 3">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">Animata corpora quaeritis</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/Tr55sj841Fg/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/Tr55sj841Fg/640x480" alt="text alternatif">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">Summus brains sit​​, morbo vel maleficia?</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/VFOFgSNy2E0/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/VFOFgSNy2E0/640x480" alt="text alternatif">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">De apocalypsi gorger omero undead survivor dictum mauris</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/x6i4Ozqj1Xs/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/x6i4Ozqj1Xs/640x480" alt="text alternatif">
                    </figure>
                </article>
            </li>
            
            <li class="c-slider__list-item">
                <article class="c-slider__article">
                    <h3 class="c-slider__article-heading">Hi mindless mortuis soulless creaturas</h3>
                    <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

                    <figure class="c-slider__article-figure" style="background-image: url('https://source.unsplash.com/v0_COzkLwWM/640x480');">
                        <img class="c-slider__article-image" src="https://source.unsplash.com/v0_COzkLwWM/640x480" alt="text alternatif">
                    </figure>
                </article>
            </li>
            
        </ul>
        
        </div>
    </div>
</div>-->
    
    <div
  class="o-container c-content"
>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <div
  class="o-container c-content"
>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
    <div class="o-container"><div class="aspect-w-16 aspect-h-9">
    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div></div>

    
    <div
  class="o-container c-content"
>
   
  <div class="c-content__item o-prose"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><h3>Inter-titre</h3><p>Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps clipless rip bowl couloir bomb hole berm. Huck cruiser crank endo, sucker hole piste ripping ACL huck greasy flow face plant pinner. Japan air Skate park big ring trucks shuttle stoked rock-ectomy.</p></div>
  
</div>

    
  </main>
  
  <footer class="o-region c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <ul class="c-footer__list-page">
          <li><a href="#nowhere">Mentions légales</a></li>
          <li><a href="#nowhere">Plan du site</a></li>
          <li><a href="#nowhere">Contact</a></li>
        </ul>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <ul class="c-footer__list-social">
          <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
          <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
          <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
        </ul>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

