/* ======================================================================
   # _objects.card-link.css
   ====================================================================== */

.o-card-link {
  position: relative;
}

.o-card-link__link::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
