/* ==========================================================================
   # _components.media.css
   ========================================================================== */

.c-media {
    @apply
        flex
        flex-wrap
        justify-end
        gap-4
    ;
}

.c-media.c-media--reverse {
    @apply
        flex-row-reverse
    ;
}



/* -------------------------------------
   # c-media__image
   ------------------------------------- */
.c-media__image {
    min-width: calc(60% - 1.25rem);
    flex-basis: 0;
    flex-grow: 999;
    object-fit: cover;
}



/* -------------------------------------
   # c-media__caption
   ------------------------------------- */
.c-media__caption {
    flex-grow: 1;
    flex-basis: 20rem;

    @apply
      text-lg
      font-bold
    ;
}
