/* ======================================================================
   # _components.carousel.css
   ====================================================================== */

.c-carousel__cell {
    @apply
        w-full
        h-72
        mr-4
    ;

    @screen md {
        @apply
            h-96
        ;
    }

    @screen lg {
      height: 36rem;
    }
}

.c-carousel__figure {
    @apply
        flex
        flex-col
        h-full
    ;
}

.c-carousel__img-container {
  flex:1;
  @apply
    rounded
    ;
}

.c-carousel__img {
    @apply
        sr-only
    ;
}

.c-carousel__figcaption {
    @extend %caption;
}

/* -----------------------------------
   # Flickity components
   ----------------------------------- */

/* position dots up a bit */
.c-carousel .flickity-page-dots {
  bottom: 2rem;
}
/* dots are lines */
.c-carousel .flickity-page-dots .dot {
  height: 4px;
  margin: 0;
  border-radius: 3px;

  @apply
    bg-white
    opacity-0
    w-4
  ;

  @screen sm {
    @apply w-6
  }

  @screen md {
    @apply w-8;
  }

  @screen lg {
    @apply w-10;
  }

  &.is-selected {

  }
}

.c-carousel .flickity-prev-next-button {

    &.previous {
        @apply
          lg:-left-16
        ;
    }

    &.next {
        @apply
          lg:-right-16
        ;
    }
}
