/* ======================================================================
   # _components.text-media.css
   ====================================================================== */

.c-text-media {
  @apply
    grid
    gap-4
        grid-cols-1
    ;
}

@screen md {
  .c-text-media {
    @apply
      grid-cols-2
        ;
  }

  .c-text-media__text {
    grid-column: 1;

    @apply
      self-center
        ;
  }

  .c-text-media__media {
    grid-column: 2;
  }
}

@screen md {
  .c-text-media--reverse .c-text-media__text {
    grid-column: 2;
    grid-row: 1;
  }
}

@screen md {
  .c-text-media--reverse .c-text-media__media {
    grid-column: 1;
    grid-row: 1;
  }
}
