.c-timeline {
  @apply
    py-24
    text-white
  ;

  background-image: linear-gradient(180deg, #5d50db 0%, #463d9d 100%);
}

.c-timeline h2 {
  @apply
    text-white
    tracking-tight
    text-2xl
    relative
    z-20
    mb-1
  ;
}

.c-timeline__link {
  @apply
    text-base
    font-medium
    not-italic
    tracking-wider
    z-20
    relative
    text-left
    uppercase
  ;
}

.c-timeline__link:focus {
  @apply
    outline-focus
  ;
}

.c-timeline__item h3 {
  @apply
    text-white
    text-2xl
    font-bold
    not-italic
    tracking-tight
    text-left
    uppercase
    relative
    mb-2
  ;

  will-change: letter-spacing;
  transition: letter-spacing 0.15s ease-in-out;
}

.c-timeline__item p {
  @apply
    text-base
    font-normal
    not-italic
    text-left
    relative
    tracking-normal
  ;

  color: #ddd9f9;
}

.c-timeline__item-content {
  @apply
    relative
  ;
}

.c-timeline__item {
  @apply
    w-80
    my-40
  ;
}

.c-timeline__item:nth-child(2n) {
  @apply
    mt-96
  ;
}

.c-timeline__item:first-child {
  margin-left: calc(calc(100% - var(--c-slider__container-width)) / 2 + var(--c-slider__margin));
}

.c-timeline__item:focus {
  @apply
    outline-focus
  ;
}

.c-timeline__item:focus img,
.c-timeline__item:hover img {
  @apply
    opacity-100
  ;
}

.c-timeline__item:focus h3,
.c-timeline__item:hover h3 {
  @apply
    tracking-wide
  ;
}

.c-timeline__item-content img {
  @apply
    absolute
    opacity-0
    rounded-md
    left-2/4
    -top-full
  ;

  transition: opacity 0.55s linear;
  will-change: opacity;
}
