.c-timeline {
  @apply
    py-24
    text-white
    overflow-hidden
  ;

  background-image: linear-gradient(180deg, var(--color__primary--800) 0%, var(--color__primary--900) 100%);
}

.c-timeline h2 {
  @apply
    text-white
    tracking-tight
    text-2xl
    relative
    z-20
    mb-1
  ;
}

.c-timeline__link {
  @apply
    text-base
    font-medium
    not-italic
    tracking-wider
    z-20
    relative
    text-left
    uppercase
  ;
}

.c-timeline__link:focus {
  @apply
    outline-focus
  ;
}

.c-timeline__item h3 {
  @apply
    text-white
    text-2xl
    font-bold
    not-italic
    tracking-tight
    text-left
    uppercase
    relative
    mb-2
  ;

  will-change: letter-spacing;
  transition: letter-spacing 0.15s ease-in-out;
}

.c-timeline__item p {
  @apply
    text-base
    font-normal
    not-italic
    text-left
    relative
    tracking-normal
  ;

  color: #ddd9f9;
}

.c-timeline__item svg {
  position: absolute;
  left: -30px;
  top: 17px;
}

.c-timeline__items {
  @apply
    lg:pl-52
  ;
}

.c-timeline__items .flickity-viewport {
  @apply
    overflow-visible
  ;
}

.c-timeline__items .flickity-button {
  @apply
    top-full
  ;
}

.c-timeline__items .flickity-button.previous {
  left: auto;
  right: 75px;
}

.c-timeline__items .flickity-page-dots {
  width: auto;
  left: 0;
}

.c-timeline__items .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.c-timeline__item-content {
  @apply
    relative
  ;
}

.c-timeline__item {
  @apply
    w-80
    my-40
  ;
}

.c-timeline__item:nth-child(2n) {
  margin-top: 28rem;
}

.c-timeline__item:focus {
  @apply
    outline-focus
  ;
}

.c-timeline__item:focus .c-timeline__item-img-bg::after,
.c-timeline__item:hover .c-timeline__item-img-bg::after {
  background-color: rgba(0, 0, 0, 0);
}

.c-timeline__item:focus h3,
.c-timeline__item:hover h3 {
  @apply
    tracking-wide
  ;
}

.c-timeline__item-content .c-timeline__item-img {
  @apply
    absolute
    rounded-md
    left-2/4
  ;

  top: -43%;
  width: 286px;
}

.c-timeline__item-img img {
  @apply
    rounded-md
  ;

  position: relative;
  width: 100%;
}

.c-timeline__item-img .c-timeline__item-img-bg::after {
  @apply
    rounded-md
  ;

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 286px;
  background-color: rgba(0, 0, 0, 0.37);
  transition: background-color 0.55s linear;
}
