.c-testimonial {
    @apply
      py-10
      bg-gradient-to-b
      from-primary-100
      to-primary-400
      rounded
      ;
  }

  /* -----------------------------------
     # Main row
     ----------------------------------- */
  .c-testimonial__row {
    @apply
      flex
      flex-wrap
      pt-16
      ;
  }

  /* -----------------------------------
     # Image
     ----------------------------------- */
  .c-testimonial__facecontainer {
    @apply
      align-top
      max-w-md
      w-full
      text-center
      mb-6
      lg:px-24
      ;
  }

  .c-testimonial__face {
    @apply
      rounded-full
      shadow
      bg-primary-600
      inline
      lg:block
      ;
  }

  /* -----------------------------------
     # Header before text
     ----------------------------------- */
  .c-testimonial__header {
    @apply
      text-5xl
      pb-5
      uppercase
      font-bold
      text-center
      lg:text-left
      ;
  }

  /* -----------------------------------
     # Text
     ----------------------------------- */
  .c-testimonial__textcontainer {
    @apply
      lg:pr-6
      max-w-md
      w-full
      text-center
      lg:text-left
      ;
  }

  /* -----------------------------------
     # Author
     ----------------------------------- */
  .c-testimonial__author {
    @apply
      text-lg
      text-center
      mb-16
      lg:text-left
      lg:mb-1.5
      uppercase
    ;
  }

  .c-testimonial__author--function {
    @apply
      block
      lg:inline
      ;
  }
  
  /* -----------------------------------
     # Text
     ----------------------------------- */
  .c-testimonial__text {
    @apply
      text-lg
      mt-1.5
      my-4
      ;
  }

  .c-testimonial__next a {
    @apply
      uppercase
      text-lg
      text-indigo-600
      inline-block
      ;
  }

  .c-testimonial__next a:hover {
    @apply
     tracking-wider
     ;
  }

  .c-testimonial__next a::before {
    content: "> \00a0";
  }