/* ==========================================================================
   # _objects.prse.css
   ========================================================================== */

.o-prose {
  @apply prose;
}

@screen md {
  .o-prose {
    @apply prose-lg;
  }
}

/* -------------------------------------
   # Customization
   ------------------------------------- */

/**
 * There is other customization in the Tailwind config file
 */

/***
 * Anchors
 */

.o-prose a {
  @extend %anchor;

  &:focus {
    @apply outline-focus;
  }
}

/*  -----------------------------------
 # Details
 ----------------------------------- */

.o-prose details:focus {
  @apply outline-focus;
}

/* -------------------------------------
   # Print
   ------------------------------------- */

/**
 * 1. Add link after anchors
 */

@media print {
  .o-prose {
    @apply prose-sm;

    max-width: unset;

    h1 {
      font-size: 25pt;
    }

    h2 {
      font-size: 22pt;
    }

    h3 {
      font-size: 18pt;
    }

    h4 {
      font-size: 16pt;
    }

    h5 {
      font-size: 14pt;
    }

    h6 {
      font-size: 14pt;
    }

    p {
      font-size: 14pt;
    }

    /* a::after {
      content: " (" attr(href) ")";
    } */
  }
}
