/* ======================================================================
   # _components.hero.css
   ====================================================================== */


/* -----------------------------------
 # Hero
 ----------------------------------- */

/***
 * 1. Center vertically
 */

.c-hero {
  @apply
    flex /* [1] */
    items-center /* [1] */

    text-white

    bg-cover
    bg-center
    bg-primary-light

    py-24
    ;
}

.c-hero--title {
  @apply
    min-h-screen
  ;
}

/***
 * 2. If there's an image, an overlay is applied to darken it
 */

.c-hero--with-image {
  @apply
    relative /* [2] */
   ;
}

.c-hero--with-image::before {
  content: "";

  @apply
    absolute
    inset-0
    bg-black
    bg-opacity-50
    z-10 /* [2] */
    ;
}

/* -----------------------------------
 # Container
 ----------------------------------- */

.c-hero__container {
  @apply
    flex
    flex-col
    ;
}

.c-hero--with-image .c-hero__container {
  @apply
    relative
    z-20 /* [2] */
    ;
}

/* -----------------------------------
 # Heading
 ----------------------------------- */

.c-hero__heading {
  @apply
    font-bold
    text-5xl
    uppercase
  ;

  max-width: 35ch;
  hyphens: auto;
}

@screen md {
  .c-hero__heading {
    hyphens: none;
  }
}

/* -----------------------------------
 # Buton
 ----------------------------------- */

.c-hero__button {
  @apply
    mt-12
    mx-auto;
}

@screen md {
  .c-hero__button {
    @apply
      mx-0
    ;
  }
}
