/* ======================================================================
   # _components.hero.css
   ====================================================================== */


/* -----------------------------------
 # Hero
 ----------------------------------- */

/***
 * 1. Center vertically
 */

.c-hero {
  --c-hero__nav-height: 6rem;
  --c-hero__padding: 3rem;

  @screen md {
    --c-hero__padding: 4rem;
  }

  @screen lg {
    --c-hero__padding: 5rem;
  }

  @screen xl {
    --c-hero__padding: 6rem;
  }

  @screen 2xl {
    --c-hero__padding: 7rem;
  }

  @apply
    flex /* [1] */
    items-center /* [1] */
    flex-col

    text-white

    bg-cover
    bg-center
    bg-primary
    ;

  padding-top: calc(var(--c-hero__nav-height) + var(--c-hero__padding));
  padding-bottom: var(--c-hero__padding);
}

.c-hero--full {
  @apply
    min-h-screen
  ;
}

/***
 * 2. If there's an image, an overlay is applied to darken it
 */

.c-hero--with-image {
  @apply
    relative /* [2] */
   ;
}

.c-hero--with-image::before {
  content: "";

  @apply
    absolute
    inset-0
    bg-black
    bg-opacity-50
    z-10 /* [2] */
    ;
}

.c-hero--with-image > * {
  @apply
    relative
    z-20 /* [2] */
    ;
}

/* -----------------------------------
 # Container
 ----------------------------------- */

/***
 * This is only used in the contained variants
 */

.c-hero__container {
  @apply
    flex
    flex-col
  ;
}

/* -----------------------------------
 # Top
 ----------------------------------- */

/***
 * 1. Use the available space to push the button down
 * 2. Center vertically
 */

.c-hero__top {
  @apply
    flex-grow /* [1] */

    flex /* [2] */
    flex-col /* [2] */
    place-content-center /* [2] */
  ;
}

/* -----------------------------------
 # Heading
 ----------------------------------- */

.c-hero__heading {
  @extend %h1;

  @apply
    text-white
  ;

  max-width: 25ch;
  hyphens: auto;
}

@screen md {
  .c-hero__heading {
    hyphens: none;
  }
}

/* -----------------------------------
 # Caption
 ----------------------------------- */

/***
 * 1. Put the caption before the title visually
 */
.c-hero__caption {
  @extend %h4;

  @apply
    order-first
    text-white
    mb-4
  ;
}

/* -----------------------------------
 # Buton
 ----------------------------------- */

.c-hero__button {
  @apply
    mt-12
    mx-auto;
}

@screen md {
  .c-hero__button {
    @apply
      mx-0
    ;
  }
}
