/* ======================================================================
   # _components.carousel.css
   ====================================================================== */

.c-carousel__cell {
  @apply
    w-full
    h-72
    mr-4
    ;

  @screen md {
    @apply
      h-96
        ;
  }

  @screen lg {
    height: 36rem;
  }
}

.c-carousel__figure {
  @apply
    flex
    flex-col
    h-full
    ;
}

.c-carousel__img-container {
  flex: 1;

  @apply
    rounded
    ;
}

.c-carousel__img {
  @apply
    sr-only
    ;
}

.c-carousel__figcaption {
  @extend %caption;
}

/* -----------------------------------
   # Flickity components
   ----------------------------------- */

/**
 *  1. Avoid to see rounded corner
 */

/* position dots up a bit */
.c-carousel .flickity-page-dots {
  bottom: -1rem;
}

/* dots are lines */
.c-carousel .flickity-page-dots .dot {
  height: 4px;
  margin-right: -2px; /* [1] */
  margin-left: -2px; /* [1] */
  border-radius: 3px;

  @apply
    bg-primary-200
    opacity-100
    w-4
  ;

  @screen sm {
    @apply w-6;
  }

  @screen md {
    @apply w-8;
  }

  @screen lg {
    @apply w-10;
  }

  &.is-selected {
    @apply
      bg-primary
      z-10
      relative /* [1] */
    ;
  }
}

.c-carousel .flickity-prev-next-button {
  &.previous {
    @apply
      lg:-left-16
        ;
  }

  &.next {
    @apply
      lg:-right-16
        ;
  }
}

/* -------------------------------------
   # Carousel item with a link
   ------------------------------------- */

/**
 *Make sure to map the style with .u-image-link
 */

.c-carousel__link {
  .c-carousel__img-container {
    /* @extend .u-image-link; */

    @apply
      rounded
      inline-block
      border-2
      border-primary
      border-opacity-50

      transform
      transition
        scale-100
    ;
  }

  &:hover,
  &:active {
    .c-carousel__img-container {
      @apply
        scale-95
        ;
    }
  }

  &:focus {
    @apply
      outline-focus
    ;
  }
}
