/* ======================================================================
   # _components.table-of-content.css
   ====================================================================== */

.c-table-of-content {
  @extend .u-break-after;
}

.c-table-of-content__list-item::before {
  content: '' !important;
}

.c-table-of-content__list-item .c-table-of-content__counter {
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
  margin-top: 0 !important;
}

/***
 * Level 2
 */

.c-table-of-content__list > .c-table-of-content__list-item .c-table-of-content__list-item {
  @apply pl-12 !important;
}

/***
 * Level 3
 */

.c-table-of-content__list > .c-table-of-content__list-item .c-table-of-content__list-item .c-table-of-content__list-item {
  @apply pl-24 !important;
}

/***
 * FIXME: Add page number
 */
.c-table-of-content__link::after {
  content: leader(dotted) " " target-counter(attr(href, url), page) !important;
}
