/* ======================================================================
   # _components.title.css
   ====================================================================== */

.c-title__content {
  @apply
  max-w-prose
  space-x-4
  justify-center
  ;
}

.c-title__content--heading {
  @extend %h2;
  @apply
  text-5xl
  text-black
  uppercase
  m-4
  ;
  line-height: 3.25rem;
  letter-spacing: -0.03rem;
}

.c-title__content--content {
  @apply
  font-normal
  m-4
  ;
}

.c-title__content--more {
  @apply
  pt-7
  ;
}

.c-title__content--svg {
  transform: rotate(180deg);
}

.c-title__content--more-btn {
  @apply
    ml-5
    mr-4
    ;
}