/* ======================================================================
   # _components.content.css
   ====================================================================== */

.c-content {
  @apply
    flex
    flex-col
    md:items-center
    print:block
    print:w-3/4
  ;
}

.c-content .c-content__item {
  @apply
    flex-1
    md:w-2/3
    print:w-full
  ;
}

.c-content__heading-text {
  @extend %h2;

  @apply
    mb-8
    print:mb-4
  ;
}

/* -----------------------------------
 # Content heading left
 ----------------------------------- */

@screen md {
  .c-content--2-col {
    @apply
      flex-row
      items-start
    ;

    .c-content__heading-text {
      @apply
        mr-6
      ;
    }
  }
}

@screen print {
  .c-content--2-col {
    @apply
      flex-row
      items-start
    ;

    .c-content__heading-text {
      @apply
        mr-6
      ;
    }
  }
}

/* -----------------------------------
 # Intro
 ----------------------------------- */

.c-content--intro .c-content__heading-text {
  @extend %h1;

  @apply
    text-black
  ;
}
