/* ==========================================================================
   # _components.promo-card.css
   ========================================================================== */

.c-promo-card {
    @apply
        relative

        bg-primary
        text-white
        rounded

        flex

        h-full
    ;

    a {
        @apply
            underline
        ;

        &:hover {
            @apply
                no-underline
            ;
        }
    }
}



/* -------------------------------------
   # Col
   ------------------------------------- */

.c-promo-card--col {
    @apply
        flex-col
    ;
}



/* -------------------------------------
   # Row
   ------------------------------------- */

.c-promo-card--row {
    @apply
      flex-col
        sm:flex-row
    ;
}



/* -------------------------------------
   # Item
   ------------------------------------- */

.c-promo-card__item {
    @extend %h3;
    @apply
        text-white
        self-center

        flex-1

        p-4

        text-center
          sm:text-left
    ;
}

.c-promo-card__item.c-promo-card__item--big {
    @extend %h2;
    @apply
        text-white
        text-center

        flex-none
        w-48
    ;
}



/* -------------------------------------
   # Link
   ------------------------------------- */

.c-promo-card__link {
    &::after {
      content: "";
      @apply
          absolute
          inset-1

          rounded

          ring-1
          ring-white
          ring-inset
          ring-opacity-100

          transition
      ;
    }

    &:hover::after {
      @apply
          ring-opacity-20
          ring-8
      ;
    }
}
