/* ======================================================================
 # _components.nav.css
 ====================================================================== */

/* -----------------------------------
   # b-nav--open (class for body when nav is open)
   ----------------------------------- */
.js-b-nav--open {
  @apply
    overflow-y-hidden
  ;
}

/* -----------------------------------
   # c-nav
   ----------------------------------- */
.c-nav {
  @apply
    text-white
    py-4
    overflow-x-hidden
    fixed
    top-0
    w-full
    z-50
    overflow-y-hidden
  ;

  transition: background-color 0.15s ease-out;
  will-change: background-color;
}

.js-c-nav--open {
  @apply
    bg-primary-600
    h-screen
    overflow-y-scroll
  ;
}

.js-c-nav--sticky {
  @apply
    bg-primary-600
  ;
}

.c-nav__logo {
  @apply
    flex
    items-center
  ;
}

.c-nav__logo-text {
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.05625rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-left: 1.125rem;
}

/* -----------------------------------
 # c-nav__container
 ----------------------------------- */
.c-nav__container {
  @apply
    flex
    flex-wrap
    justify-between
    items-center
    relative
    xl:flex-nowrap
  ;
}

/* -----------------------------------
 # c-nav__search-bar
 ----------------------------------- */
.c-nav__search-bar {
  @apply
    mt-6
    mb-4
    xl:order-last
    xl:m-0
  ;
}

.c-nav__search-bar .c-button--search {
  @apply
    p-4
    bg-white
    rounded
    text-primary
    block
  ;
}

.c-nav__search-bar .c-button--search:focus {
  @apply
    outline-focus
  ;
}

.c-nav__toggle {
  @apply
    w-7
    h-7
    xl:hidden
    xl:invisible
  ;
}

/* -----------------------------------
 # c-nav__list-container
 ----------------------------------- */
.c-nav__list-container {
  @apply
    flex-initial
    w-full
    invisible
    hidden
    xl:flex
    xl:visible
    xl:w-auto
    xl:items-center
  ;
}

.js-c-nav--open .c-nav__list-container {
  @apply
    visible
    block
  ;
}

.c-nav__list-wrapper {
  @apply
    relative
  ;
}

/* -----------------------------------
 # c-nav__list
 ----------------------------------- */
.c-nav__list {
  @apply
    absolute
    w-full
    top-0
    pb-10
    xl:static
    xl:pb-0
    xl:flex
  ;

  transition: transform 0.35s ease, opacity 0.25s ease 0.15s;
}

.c-nav__list-item {
  @apply
    xl:flex
    xl:self-center
  ;
}

.c-nav__list--level {
  opacity: 0;
  visibility: hidden;
  display: none;
  right: -100vw;
  z-index: 0;
}

.js-c-nav__list--open {
  @apply
    opacity-0
    z-50
    visible
    block
  ;
}

.js-c-nav__list--hide {
  transform: translate3d(-100vw, 0, 0);
}

/* -----------------------------------
 # c-nav__list-link
 ----------------------------------- */
.c-nav__list-link {
  @apply
    py-2
    uppercase
    font-bold
    tracking-wide
    py-2
    pr-6
    block
    relative
    w-full
    text-left
    xl:w-auto
    xl:px-3
  ;
}

.c-nav__list-link:focus {
  @apply
    outline-focus
  ;
}

.c-nav__list-link--w-children::after {
  @apply
    absolute
    right-0
    top-2
    xl:invisible
    xl:hidden
  ;

  /* @todo change with correct icon */
  content: ">";
}

/* -----------------------------------
 # c-nav__level-indicator
 ----------------------------------- */
.c-nav__level-indicator {
  @apply
    mb-6
  ;

  min-height: 28px;
}

.c-nav__level-indicator li {
  @apply
    inline
  ;
}

.c-nav__level-indicator button {
  @apply
    pl-3
    mr-4
    relative
  ;
}

.c-nav__level-indicator button::before {
  @apply
    absolute
    left-0
  ;

  /* @todo change with correct icon */
  content: "<";
}
