/* ======================================================================
 # _components.nav.css
 ====================================================================== */

/* -----------------------------------
   # b-nav--open (class for body when nav is open)
   ----------------------------------- */
.js-b-nav--open {
  @apply
    overflow-y-hidden
  ;
}

/* -----------------------------------
   # c-nav
   ----------------------------------- */
.c-nav {
  @apply
    text-white
    py-4
    overflow-x-hidden
    fixed
    top-0
    w-full
    z-50
    overflow-y-hidden
  ;

  transition: background-color 0.15s ease-out;
  will-change: background-color;
}

.js-c-nav--open {
  @apply
    bg-primary-600
    bg-opacity-95
    h-screen
    overflow-y-scroll
  ;
}

.js-c-nav--sticky {
  @apply
    bg-primary-600
    bg-opacity-95
  ;
}

.c-nav__logo {
  @apply
    flex
    items-center
  ;
}

.c-nav__logo-text {
  @apply
    not-italic
    uppercase
    font-medium
    ml-4
    leading-6
    text-base
    tracking-wider
  ;
}

/* -----------------------------------
 # c-nav__container
 ----------------------------------- */
.c-nav__container {
  @apply
    flex
    flex-wrap
    justify-between
    items-center
    relative
    xl:flex-nowrap
  ;
}

/* -----------------------------------
 # c-nav__search-bar
 ----------------------------------- */
.c-nav__search-bar {
  @apply
    mt-6
    mb-4
    xl:order-last
    xl:m-0
  ;
}

.c-nav__search-bar .c-button--search {
  @apply
    p-4
    bg-white
    rounded
    text-primary
    flex
    items-center
    xl:bg-transparent
    xl:text-white
    xl:border-l
    xl:border-white
    xl:rounded-none
    xl:px-3
    xl:py-2
  ;
}

.c-nav__search-bar .c-button--search svg {
  @apply
    h-full
    w-5
    mr-4
    xl:mr-0
  ;
}

.c-nav__search-bar .c-button--search span {
  @apply
    xl:sr-only
  ;
}

.c-nav__search-bar .c-button--search:focus {
  @apply
    outline-focus
  ;
}

.c-nav__toggle {
  @apply
    w-7
    h-7
    xl:hidden
    xl:invisible
  ;
}

/* -----------------------------------
 # c-nav__list-container
 ----------------------------------- */
.c-nav__list-container {
  @apply
    flex-initial
    w-full
    invisible
    hidden
    xl:flex
    xl:visible
    xl:w-auto
    xl:items-center
  ;
}

.js-c-nav--open .c-nav__list-container {
  @apply
    visible
    block
    xl:flex
  ;
}

.c-nav__list-wrapper {
  @apply
    relative
    xl:static
  ;
}

/* -----------------------------------
 # c-nav__list
 ----------------------------------- */
.c-nav__list {
  @apply
    absolute
    w-full
    top-0
    pb-10
    xl:static
    xl:pb-0
    xl:flex
  ;

  transition: transform 0.35s ease, opacity 0.25s ease 0.15s;
}

.c-nav__list--level {
  @apply
    opacity-0
    invisible
    hidden
    z-0
    xl:flex-wrap
  ;

  right: -100vw;
}

.js-c-nav__list--open {
  @apply
    opacity-100
    z-50
    visible
    block
    xl:absolute
    xl:top-40
    xl:left-14
    xl:flex
  ;
}

.js-c-nav__list--open .c-nav__list {
  @apply
    xl:block
    xl:visible
    xl:opacity-100
  ;
}

.c-nav__list--level-1:not(.c-nav_list--level-2) > .c-nav__list-item {
  @apply
    xl:w-80
    xl:mb-10
  ;
}

.c-nav__list--level-1:not(.c-nav_list--level-2) > .c-nav__list-item > .c-nav__list-link {
  @apply
    xl:normal-case
    xl:font-normal
  ;
}

.js-c-nav__list--hide {
  transform: translate3d(-100vw, 0, 0);
}

/* -----------------------------------
 # c-nav__list-link
 ----------------------------------- */
.c-nav__list-link {
  @apply
    py-2
    uppercase
    font-bold
    tracking-wide
    py-2
    pr-6
    block
    relative
    w-full
    text-left
    xl:w-auto
    xl:px-3
    rounded-md
  ;

  transition: background-color 0.35s ease;
  will-change: background-color;
}

.c-nav__list-item--active,
.js-c-nav__list-link--active {
  background-color: rgba(252, 252, 252, 0.25);
}

.c-nav__list-link:focus {
  @apply
    outline-focus
  ;
}

.c-nav__list-link--w-children::after {
  @apply
    absolute
    right-0
    top-2
    xl:invisible
    xl:hidden
  ;

  /* @todo change with correct icon */
  content: ">";
}

/* -----------------------------------
 # c-nav__level-indicator
 ----------------------------------- */
.c-nav__level-indicator {
  @apply
    mb-6
    xl:invisible
    xl:hidden
  ;

  min-height: 28px;
}

.c-nav__level-indicator li {
  @apply
    inline
  ;
}

.c-nav__level-indicator button {
  @apply
    pl-3
    mr-4
    relative
  ;
}

.c-nav__level-indicator button::before {
  @apply
    absolute
    left-0
  ;

  /* @todo change with correct icon */
  content: "<";
}
