/* ======================================================================
   # _components.search-result-item.css
   ====================================================================== */

.c-search-result-item {
  @apply
    flex
    flex-col
    bg-white
    rounded
    p-2
    md:p-4
    lg:p-6
    ;
}

.c-search-result-item__title {
  @extend %cta;

  @apply
    text-primary-cta
    ;
}

.c-search-result-item__breadcrumb {
  @extend %caption;

  @apply
    text-gray-500
    order-first
    mb-2
    ;
}

.c-search-result-item__breadcrumb-list {
  @apply
    flex
    flex-row
    flex-wrap













}

.c-search-result-item__breadcrumb-item + .c-search-result-item__breadcrumb-item::before {
  content: ">";

  @apply
    mx-1
        ;
}
