/* ==========================================================================
   #SECTIONS
   ========================================================================== */

/**
 * Sections
 *
 * https://w3c.github.io/html/sections.html
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

/* -------------------------------------
   # HTML
   ------------------------------------- */

html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* [1] */
  height: 100%;
}



/* -----------------------------------
 # Body
 ----------------------------------- */

body {
  height: 100%;
}



/* -----------------------------------
 # Headings
 ----------------------------------- */

h2,
h3,
h4,
h5,
h6 {
  @extend .u-break-after-avoid;
  @extend .u-break-inside-avoid;
}
