/* ==========================================================================
   #SECTIONS
   ========================================================================== */

/**
 * Sections
 *
 * https://w3c.github.io/html/sections.html
 */

/* -------------------------------------
   # HTML
   ------------------------------------- */

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* -----------------------------------
 # Body
 ----------------------------------- */

body {
  height: 100%;
}
