/* ======================================================================
   # _generic.print.css
   ====================================================================== */

@page {
  margin: 5mm;
}

@page :first {
  margin: 0;
}

/***
 * The following styles need to be refactor in components styles
 */

.o-container {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.pdf-chapter-cover {
  position: relative;
  min-height: 270px;
  background: var(--color__primary--100);
  page-break-before: always;
  margin-left: -5mm;
  margin-right: -5mm;
}

.pdf-chapter-cover img {
  min-width: 100%;
}

.pdf-cover-logo-bottom {
  position: absolute;
  bottom: 0;
  z-index: 99;
  right: 0;
}

.pdf-cover-logo-bottom img {
  float: right;
}

.pdf-cover-logo-top {
  position: absolute;
  z-index: 98;
}

.pdf-chapter-title {
  position: absolute;
  top: 60px;
  left: 60px;
  background: rgba(var(--color-raw__primary--900), .85);
  color: white;
  width: 500px;
  padding: 3rem;
}

.pdf-chapter-title h1 {
  font-size: 2rem;
}
