/* ======================================================================
   # _generic.print.css
   ====================================================================== */

@page {
  margin: 5mm;
}

@page :first {
  margin: 0;
}

/***
 * The following styles need to be refactor in components styles
 */

.o-container {
  margin-bottom: 4rem;
  margin-top: 4rem;
}
