/* ======================================================================
   # _generic.print.css
   ====================================================================== */

@page {
  margin: 5mm;
}

@page :first {
  margin: 0;
}
