/* ======================================================================
   # _settings.typography.css
   ====================================================================== */

@font-face {
  font-family: 'intervar';
  font-display: swap;
  src: url("../fonts/inter-latin-ext-variable-full-normal.woff2") format("woff2");
}
