/* ======================================================================
   # _tools.extend.css
   ====================================================================== */



/* -----------------------------------
   # Headings
   ----------------------------------- */

/***
 * H1
 *
 * 1. font size desktop: 48px => 3rem
 * 2. font size mobile: 38px => 2.375rem
 */
%h1 {
  @apply
    text-primary
    font-bold
    uppercase
    text-3xl
  ;

  line-height: 1.05;

  @screen md {
    @apply
      text-4xl
    ;

    line-height: 1.0833;
  }

  @screen print {
    font-size: 25pt;
  }
}

/***
 * H2
 *
 * 1. font size desktop: 34px => 2.125rem
 * font size mobile: 28px => 1.75rem
 */
%h2 {
  @apply
    text-primary
    font-bold
    text-xl
  ;

  line-height: 1.1429;

  @screen md {
    @apply
      text-2xl
    ;

    line-height: 1.1176;
  }

  @screen print {
    font-size: 22pt;
  }
}

/***
 * H3
 *
 * font size desktop: 20px => 1.25rem
 * font size mobile: idem
 */
%h3 {
  @apply
    text-primary
    text-base
    uppercase
    font-medium
    ;

  line-height: 1.3;

  @screen print {
    font-size: 18pt;
  }
}

/***
 * H4
 *
 * font size desktop: 18px => 1.125rem
 * font size mobile: idem
 */
%h4 {
  @apply
    text-primary
    text-tiny
    uppercase
    ;

  line-height: 1.3333;

  @screen print {
    font-size: 16pt;
  }
}

/***
 * H5
 *
 * font size desktop: undefined
 * font size mobile: undefined
 */
%h5 {
  @apply
    text-primary
    text-tiny
    ;

  @screen print {
    font-size: 14pt;
  }
}

/***
 * H6
 *
 * font size desktop: undefined
 * font size mobile: undefined
 */
%h6 {
  @apply
    text-primary
    text-tiny
    ;

  @screen print {
    font-size: 14pt;
  }
}

/***
 * Subhead
 *
 * font size desktop: undefined
 * font size mobile: undefined
 */
%subhead {
  @apply
    text-primary
    text-tiny
    uppercase
    ;

  @screen print {
    font-size: 14pt;
  }

}

/***
 * Caption
 *
 */
%caption {
  @apply
    text-tiny
    ;

  line-height: 1.3333;

  @media print {
    font-size: 10pt;
  }
}

/***
 * CTA
 *
 */
%cta {
  @apply
    no-underline
    uppercase
    text-tiny
    font-medium
    tracking-wider
    ;

  line-height: 1.3333;
}



/* -----------------------------------
 # Anchor
 ----------------------------------- */

%anchor {
  text-decoration-color: var(--color__primary--900);
  text-decoration-thickness: 0.1em;
  text-decoration-line: underline;

  @apply
    transition-all
  ;

  &:hover {
    @apply
      bg-primary-200
      rounded-t
  ;
  }
}



/* -----------------------------------
 # Scrollbar
 ----------------------------------- */

%scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: #fcfcfc;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color__primary--900);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color__primary--900);
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  -ms-overflow-style: auto;
  scrollbar-color: #fcfcfc var(--color__primary--900);
  scrollbar-width: thin;
}
