/* ======================================================================
   # components.pdf-chapter-title.css
   ====================================================================== */

.c-pdf-chapter-title {
  background: rgba(var(--color-raw__primary--900), 0.85);
  color: white;
  width: 500px;
  padding: 3rem;
}

.c-pdf-chapter-title h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.05;
}

.c-pdf-chapter-title .c-pdf-chapter-counter {
  font-weight: bold;
  font-size: 18px;
}
