

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    
    <style>
    :root {
        
        --color__primary--100: #f2f1fc;
        
        --color__primary--200: #ddd9f9;
        
        --color__primary--400: #beb5f5;
        
        --color__primary--600: #9d90ee;
        
        --color__primary--800: #7e6cea;
        
        --color__primary--900: #5d49de;
        
        --color__primary--cta: #5d49de
        
    }
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <ul class="o-auto-grid">
    
    <li>
        <article class="c-card o-stack">
    
    <figure>
        <img src="https://source.unsplash.com/WLUHO9A_xik" alt="A random image from Unsplash"/>
    </figure>
    
    <h3 class="c-card__heading">This is a card title</h3>
    <div class="c-card__content">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </div>
    
</article>

    </li>
    
    <li>
        <article class="c-card o-stack">
    
    <figure>
        <img src="https://source.unsplash.com/uReASzIJDBs" alt="A random image from Unsplash"/>
    </figure>
    
    <h3 class="c-card__heading">This is a very very very very long card title</h3>
    <div class="c-card__content">
        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.
    </div>
    
</article>

    </li>
    
    <li>
        <article class="c-card o-stack">
    
    <h3 class="c-card__heading">Card title</h3>
    <div class="c-card__content">
        Lorem Ipsum is the single greatest threat. We are not - we are not keeping up with other websites. Lorem Ipsum best not make any more threats to your website. It will be met with fire and fury like the world has never seen. Does everybody know that pig named Lorem Ipsum? An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a fraud.
    </div>
    
</article>

    </li>
    
    <li>
        <article class="c-card o-stack">
    
    <figure>
        <img src="https://source.unsplash.com/rpig3nMmtt4" alt="A random image from Unsplash"/>
    </figure>
    
    <h3 class="c-card__heading">Card title</h3>
    <div class="c-card__content">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </div>
    
    <div>
        <a href="#nowhere"
   class="c-button">Button</a>
    </div>
    
</article>

    </li>
    
    <li>
        <article class="c-card o-stack">
    
    <figure>
        <img src="https://source.unsplash.com/huSG9s2KBu8" alt="A random image from Unsplash"/>
    </figure>
    
    <h3 class="c-card__heading">Card title</h3>
    <div class="c-card__content">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </div>
    
    <div>
        <a href="#nowhere"
   class="c-button">Button</a>
    </div>
    
</article>

    </li>
    
    <li>
        <article class="c-card o-stack">
    
    <figure>
        <img src="https://source.unsplash.com/VZQE7H_bywI" alt="A random image from Unsplash"/>
    </figure>
    
    <h3 class="c-card__heading">Card title</h3>
    <div class="c-card__content">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </div>
    
</article>

    </li>
    
</ul>

  </body>
</html>

