

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="o-container">
  <h2 class="u-visually-hidden">Carouel</h2>
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Missouri');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Missouri"
                  alt="architecto et voluptate">
            </div>
            <figcaption
              class="c-carousel__figcaption">Commodi laudantium ipsum fugiat harum soluta mollitia.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Web');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Web"
                  alt="illum minus optio">
            </div>
            <figcaption
              class="c-carousel__figcaption">Sunt rerum consequatur perspiciatis repellat repellat et quia.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?blue');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?blue"
                  alt="at voluptatum ut">
            </div>
            <figcaption
              class="c-carousel__figcaption">Rerum est mollitia dolorem est.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Implemented');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Implemented"
                  alt="labore reprehenderit velit">
            </div>
            <figcaption
              class="c-carousel__figcaption">Fuga quam minus dolor eos rem aspernatur necessitatibus ipsum in.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?HDD');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?HDD"
                  alt="omnis ullam atque">
            </div>
            <figcaption
              class="c-carousel__figcaption">Quaerat et animi.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?model');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?model"
                  alt="nulla vel est">
            </div>
            <figcaption
              class="c-carousel__figcaption">Voluptas omnis error minima voluptatibus corrupti voluptatum.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?SSL');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?SSL"
                  alt="nesciunt recusandae ea">
            </div>
            <figcaption
              class="c-carousel__figcaption">Veritatis quisquam ea assumenda laudantium nihil sunt quam commodi.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Account');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Account"
                  alt="repudiandae quisquam odio">
            </div>
            <figcaption
              class="c-carousel__figcaption">Inventore recusandae eos explicabo reprehenderit.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Utah');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Utah"
                  alt="est qui velit">
            </div>
            <figcaption
              class="c-carousel__figcaption">Quod dolores qui magni et nihil.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576"
                  alt="aut tempore nulla">
            </div>
            <figcaption
              class="c-carousel__figcaption">Qui occaecati impedit deleniti delectus pariatur et.</figcaption>
          </figure>
        
      </li>
    
  </ul>
</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

