

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: #f2f1fc;
--color__primary--200: #ddd9f9;
--color__primary--400: #beb5f5;
--color__primary--600: #9d90ee;
--color__primary--800: #7e6cea;
--color__primary--900: #5d49de;
--color__primary--cta: #5d49de

}
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body onload="init();">
    <div class="o-container">
  <h2 class="u-visually-hidden">Carouel</h2>
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Account');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Account"
                 alt="illo magnam similique">
          </div>
          <figcaption
            class="c-carousel__figcaption">Quia ea quia voluptatem et.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Plastic');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Plastic"
                 alt="unde ut beatae">
          </div>
          <figcaption
            class="c-carousel__figcaption">Quas rerum ipsum est ab odio.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?B2B');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?B2B"
                 alt="adipisci rerum illo">
          </div>
          <figcaption
            class="c-carousel__figcaption">Voluptatibus repudiandae laborum et ut.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?redefine');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?redefine"
                 alt="officia aut debitis">
          </div>
          <figcaption
            class="c-carousel__figcaption">Hic nostrum voluptas qui ipsa amet velit quia aspernatur id.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?networks');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?networks"
                 alt="a blanditiis sed">
          </div>
          <figcaption
            class="c-carousel__figcaption">Quisquam quia aperiam.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?bandwidth');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?bandwidth"
                 alt="alias repellat deleniti">
          </div>
          <figcaption
            class="c-carousel__figcaption">Cumque atque sunt totam neque quia maiores quidem.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Rustic');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Rustic"
                 alt="id quaerat non">
          </div>
          <figcaption
            class="c-carousel__figcaption">Debitis ratione harum et in facilis.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Producer');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Producer"
                 alt="molestias explicabo odio">
          </div>
          <figcaption
            class="c-carousel__figcaption">Non nostrum et aspernatur doloremque nihil vel quia.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?Shoes');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?Shoes"
                 alt="qui nihil voluptatem">
          </div>
          <figcaption
            class="c-carousel__figcaption">Voluptates sed quibusdam delectus consequatur voluptate labore voluptatem.</figcaption>
        </figure>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <figure class="c-carousel__figure">
          <div class="c-carousel__img-container"
               style="
                      background-image: url('https://source.unsplash.com/1024x576?synergies');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: cover;
                      ">
            <img class="c-carousel__img"
                 src="https://source.unsplash.com/1024x576?synergies"
                 alt="ipsam cumque libero">
          </div>
          <figcaption
            class="c-carousel__figcaption">Rem dignissimos ullam qui consectetur voluptates cupiditate nihil aut.</figcaption>
        </figure>
      </li>
    
  </ul>
</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
  </body>
</html>

