

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="o-container">
  
      <div class="c-carousel__item">
        <h2 class="c-carousel_heading-text">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless</h2>
      </div>
  
  <ul class="c-carousel main-carousel" data-flickity='{ "contain": true, "accessibility": true, "pageDots": true }'>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Synergistic');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Synergistic"
                  alt="animi voluptas eaque">
            </div>
            <figcaption
              class="c-carousel__figcaption">Aliquid est qui labore velit.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Practical');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Practical"
                  alt="sit provident quia">
            </div>
            <figcaption
              class="c-carousel__figcaption">Accusamus quis aut.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Facilitator');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Facilitator"
                  alt="accusantium natus tempora">
            </div>
            <figcaption
              class="c-carousel__figcaption">Dolorem officia aut fugiat.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?frictionless');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?frictionless"
                  alt="nobis maxime voluptas">
            </div>
            <figcaption
              class="c-carousel__figcaption">Ullam est sed.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?administration');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?administration"
                  alt="et rem aut">
            </div>
            <figcaption
              class="c-carousel__figcaption">Est iste dolor deleniti exercitationem sed.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        <a href="https://www.vd.ch" class="c-carousel__link">
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Usability');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Usability"
                  alt="deserunt quisquam quisquam">
            </div>
            <figcaption
              class="c-carousel__figcaption">Corrupti numquam repellendus quo non reiciendis voluptas soluta.</figcaption>
          </figure>
        </a>
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Rhode');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Rhode"
                  alt="odit odio sed">
            </div>
            <figcaption
              class="c-carousel__figcaption">Temporibus alias aut est laborum occaecati vel atque fugiat est.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Organic');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Organic"
                  alt="sunt ea sit">
            </div>
            <figcaption
              class="c-carousel__figcaption">Sequi consectetur nihil quis voluptas et laudantium.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?Pine');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?Pine"
                  alt="iusto libero commodi">
            </div>
            <figcaption
              class="c-carousel__figcaption">Ipsa voluptatem pariatur non qui non molestias dolor expedita.</figcaption>
          </figure>
        
      </li>
    
      <li class="c-carousel__cell carousel-cell">
        
          <figure class="c-carousel__figure">
            <div class="c-carousel__img-container"
                style="
                        background-image: url('https://source.unsplash.com/1024x576?tan');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        ">
              <img class="c-carousel__img"
                  src="https://source.unsplash.com/1024x576?tan"
                  alt="vero qui sapiente">
            </div>
            <figcaption
              class="c-carousel__figcaption">Numquam repellendus repudiandae illum eum officia quas alias.</figcaption>
          </figure>
        
      </li>
    
  </ul>
</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

