

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    
    <style>
    :root {
        
        --color__primary--100: #f2f1fc;
        
        --color__primary--200: #ddd9f9;
        
        --color__primary--400: #beb5f5;
        
        --color__primary--600: #9d90ee;
        
        --color__primary--800: #7e6cea;
        
        --color__primary--900: #5d49de;
        
        --color__primary--cta: #5d49de
        
    }
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <div class="flex flex-row flex-wrap">

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #f2f1fc;">color__primary--100: <code>#f2f1fc</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #ddd9f9;">color__primary--200: <code>#ddd9f9</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #beb5f5;">color__primary--400: <code>#beb5f5</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #9d90ee;">color__primary--600: <code>#9d90ee</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #7e6cea;">color__primary--800: <code>#7e6cea</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #5d49de;">color__primary--900: <code>#5d49de</code></div>

<div class="h-48 w-48 block rounded-full p-6 m-4 shadow" style="background-color: #5d49de;">color__primary--cta: <code>#5d49de</code></div>

</div>
  </body>
</html>

