

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
      :root {
        --color__primary--lighter: #beb5f5;
        --color__primary--light: #8577e5;
        --color__primary: #6047e6;
        --color__primary--dark: #3E1CF6;
      }
    </style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <h2>Primary</h2>

<ul>
    <li class="bg-primary-lighter h-40">
        Primary lighter
    </li>
    <li class="bg-primary-light h-40">
        Primary light
    </li>
    <li class="bg-primary h-40">
        Primary
    </li>
    <li class="bg-primary-dark h-40">
        Primary dark
    </li>
</ul>

<h2>Secondary</h2>

<ul>
    <li class="bg-secondary-light h-40">
        secondary light
    </li>
    <li class="bg-secondary h-40">
        secondary
    </li>
    <li class="bg-secondary-dark h-40">
        secondary dark
    </li>
</ul>

<h2>aternate</h2>

<ul>
    <li class="bg-alternate-lightest h-40">
        alternate lightest
    </li>
    <li class="bg-alternate-light h-40">
        alternate light
    </li>
    <li class="bg-alternate h-40">
        alternate
    </li>
    <li class="bg-alternate-dark h-40">
        alternate dark
    </li>
    <li class="bg-alternate-darkest h-40">
        alternate darkest
    </li>
</ul>

<h2>gray</h2>

<ul>
    <li class="bg-gray-lightest h-40">
        gray lightest
    </li>
    <li class="bg-gray-light h-40">
        gray light
    </li>
    <li class="bg-gray h-40">
        gray
    </li>
    <li class="bg-gray-dark h-40">
        gray dark
    </li>
    <li class="bg-gray-darkest h-40">
        gray darkest
    </li>
</ul>

  </body>
</html>

