

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: #f2f1fc;
--color__primary--200: #ddd9f9;
--color__primary--400: #beb5f5;
--color__primary--600: #9d90ee;
--color__primary--800: #7e6cea;
--color__primary--900: #5d49de;
--color__primary--cta: #5d49de

}
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body onload="init();">
    <!-- Start: @headings--subhead -->
<div class="u-subhead">[SUBHEAD] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--subhead -->

<!-- Start: @headings--h1 -->
<div class="u-h1">[H1] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h1 -->

<!-- Start: @headings--h2 -->
<div class="u-h2">[H2] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h2 -->

<!-- Start: @headings--h3 -->
<div class="u-h3">[H3] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h3 -->

<!-- Start: @headings--h4 -->
<div class="u-h4">[H4] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h4 -->

<!-- Start: @headings--h5 -->
<div class="u-h5">[H5] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h5 -->

<!-- Start: @headings--h6 -->
<div class="u-h6">[H6] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--h6 -->

<!-- Start: @headings--caption -->
<div class="u-caption">[caption] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--caption -->

<!-- Start: @headings--cta -->
<div class="u-cta">[cta] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>
<!-- End: @headings--cta -->

    <!-- Scripts -->
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
  </body>
</html>

