

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
      :root {
        --color__primary--lighter: #beb5f5;
        --color__primary--light: #8577e5;
        --color__primary: #6047e6;
        --color__primary--dark: #3E1CF6;
      }
    </style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <div class="u-h6">[H6] Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless.</div>

  </body>
</html>

