

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    
    <style>
    :root {
        
        --color__primary--100: #f2f1fc;
        
        --color__primary--200: #ddd9f9;
        
        --color__primary--400: #beb5f5;
        
        --color__primary--600: #9d90ee;
        
        --color__primary--800: #7e6cea;
        
        --color__primary--900: #5d49de;
        
        --color__primary--cta: #5d49de
        
    }
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body>
      <div class="o-container c-hero">
    <div class="c-hero__container">
        <div class="c-hero__heading">[H1] Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</div>
        <div class="c-hero__caption">[H4] caption</div>
        <a
  href="#nowhere"
  class="c-button c-button--default c-hero__button"
><span>Button</span><svg aria-hidden="true" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18l6-6-6-6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></a>

    </div>
</div>
      <!-- Scripts -->
      <script src="../../assets/scripts/testimonial.js"></script>
  </body>
</html>

