

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
      :root {
        --color__primary--light: #beb5f5;
        --color__primary: #6047e6;
        --color__primary--dark: #2E0CE7;
      }
    </style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <figure class="c-media c-media--reverse">
    <img class="c-media__image" alt="A billboard which reads: &#39;Welcome to Utah&#39;" src="https://source.unsplash.com/R1Le3TFwF3g/1060x400" />
    <figcaption class="c-media__caption">An All-American Billboard for the state of Utah. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</figcaption>
</figure>

  </body>
</html>

