

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <div class="c-overlay">
    <div class="c-overlay__text-container o-prose">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim congue volutpat. Phasellus velit felis, cursus vitae porttitor sit amet, dictum eget turpis. Curabitur gravida felis nec ipsum dictum, id vestibulum nulla lobortis.</p>
        <p>
            <a href="#" class="c-button">button</a>
        </p>
    </div>
    <figure class="c-overlay__image">
        <img src="https://images.unsplash.com/photo-1609965803451-43c6e8d7b346?crop=entropy&cs=srgb&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=85" />
    </figure>
</div>
  </body>
</html>

