

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    
    <style>
    :root {
        
        --color__primary--100: #f2f1fc;
        
        --color__primary--200: #ddd9f9;
        
        --color__primary--400: #beb5f5;
        
        --color__primary--600: #9d90ee;
        
        --color__primary--800: #7e6cea;
        
        --color__primary--900: #5d49de;
        
        --color__primary--cta: #5d49de
        
    }
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />

    <!-- Scripts -->
    <script src="../../assets/scripts/alpine.js"></script>
  </head>

  <body>
      <div class="c-quote">
    <div class="o-container">
        <h3 class="c-quote__heading">Témoignage</h3>
        <blockquote>
            <span class="c-quote__text">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</span>
            <footer class="c-quote__footer" itemscope itemtype="http://schema.org/Person">
                <img class="c-avatar" src="https://source.unsplash.com/100x100/?face" alt="This is an avatar" itemprop="image">
                
                <span class="c-quote__author">
                <span class="c-quote__author-item">
                    <span class="u-visually-hidden">Auteur: </span><span itemprop="name">Titre Prénom Nom</span>
                    </span>
                <span class="c-quote__author-item">
                    <span class="u-visually-hidden">, Fonction: </span><span itemprop="jobTitle">Fonction</span>
                    </span>
                </span>
                
            </footer>
        </blockquote>
    </div>
</div>
  </body>
</html>

