

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(235, 241, 247);
    --color-raw__primary--100: 235, 241, 247;
--color__primary--200: rgb(204, 220, 234);
    --color-raw__primary--200: 204, 220, 234;
--color__primary--400: rgb(153, 185, 213);
    --color-raw__primary--400: 153, 185, 213;
--color__primary--600: rgb(102, 150, 192);
    --color-raw__primary--600: 102, 150, 192;
--color__primary--800: rgb(51, 115, 171);
    --color-raw__primary--800: 51, 115, 171;
--color__primary--900: rgb(0, 80, 150);
    --color-raw__primary--900: 0, 80, 150;
--color__primary--cta: rgb(0, 165, 220);
    --color-raw__primary--cta: 0, 165, 220;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  class="c-page">
    <div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span></span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span>Rechercher</span></a>
      </div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Odit debitis accusamus dolorum accusamus occaecati.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ea dignissimos excepturi fugit.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quibusdam ab aut earum error sit sit iusto dolorum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Possimus quibusdam tempora aut omnis in soluta.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Qui minima saepe autem qui beatae iure quod ducimus amet.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Incidunt repellat dolore modi alias.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quia quia ut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Rem numquam sequi et quos ut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Blanditiis eum et a provident quidem vel id inventore cum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Possimus quisquam dolorum neque eaque quidem nihil quaerat harum qui.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Aut dolorem tempore veniam enim.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Vero et labore dolorem vero voluptatem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Expedita dolores qui sed provident.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sint quia voluptate voluptatem in non culpa voluptatem quos amet.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Accusamus error tempore amet ea et ut sunt veritatis dolor.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Error est aut autem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Consequuntur sed voluptatum temporibus aut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut quos ut eveniet aut necessitatibus voluptatem vel in.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dicta provident quis molestiae dolor dolor facere aut eos.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut nostrum vero voluptatem.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?British" alt="natus vero vel"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>25 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Odit debitis accusamus dolorum accusamus occaecati.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Odit debitis accusamus dolorum accusamus occaecati.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?capacity" alt="praesentium consequatur rerum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ea dignissimos excepturi fugit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ea dignissimos excepturi fugit.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Customer" alt="dolores sunt delectus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quibusdam ab aut earum error sit sit iusto dolorum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Quibusdam ab aut earum error sit sit iusto dolorum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Unbranded" alt="non corporis eligendi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Possimus quibusdam tempora aut omnis in soluta.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Possimus quibusdam tempora aut omnis in soluta.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?transform" alt="unde optio nisi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Qui minima saepe autem qui beatae iure quod ducimus amet.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Qui minima saepe autem qui beatae iure quod ducimus amet.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Berkshire" alt="qui incidunt quia"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>4 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Incidunt repellat dolore modi alias.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Incidunt repellat dolore modi alias.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Borders" alt="exercitationem earum voluptatem"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quia quia ut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Quia quia ut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?services" alt="quam ratione et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Rem numquam sequi et quos ut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Rem numquam sequi et quos ut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?synthesizing" alt="corrupti deleniti sequi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>23 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Blanditiis eum et a provident quidem vel id inventore cum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Blanditiis eum et a provident quidem vel id inventore cum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?mobile" alt="veritatis doloribus iure"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Possimus quisquam dolorum neque eaque quidem nihil quaerat harum qui.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Possimus quisquam dolorum neque eaque quidem nihil quaerat harum qui.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?navigating" alt="repudiandae cum aliquam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Aut dolorem tempore veniam enim.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Aut dolorem tempore veniam enim.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Seamless" alt="ullam id ullam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>21 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Vero et labore dolorem vero voluptatem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Vero et labore dolorem vero voluptatem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?orange" alt="magni error veritatis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>28 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Expedita dolores qui sed provident.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Expedita dolores qui sed provident.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Visionary" alt="iste maxime illo"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sint quia voluptate voluptatem in non culpa voluptatem quos amet.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Sint quia voluptate voluptatem in non culpa voluptatem quos amet.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Expressway" alt="et non fuga"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>1 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Accusamus error tempore amet ea et ut sunt veritatis dolor.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Accusamus error tempore amet ea et ut sunt veritatis dolor.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Soft" alt="optio officiis libero"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>19 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Error est aut autem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Error est aut autem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Uganda" alt="veniam veniam repellat"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>14 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Consequuntur sed voluptatum temporibus aut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Consequuntur sed voluptatum temporibus aut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?bandwidth" alt="voluptatem voluptas velit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 mai 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut quos ut eveniet aut necessitatibus voluptatem vel in.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ut quos ut eveniet aut necessitatibus voluptatem vel in.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Cheese" alt="assumenda voluptatem sunt"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dicta provident quis molestiae dolor dolor facere aut eos.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Dicta provident quis molestiae dolor dolor facere aut eos.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?lavender" alt="et ut deleniti"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut nostrum vero voluptatem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ut nostrum vero voluptatem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <div class="c-search-input__row">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">iusto molestias a</a></h3>
    <div class="c-search-result-item__content">Ut est ea ut. Eos cumque nesciunt et soluta totam ullam corrupti natus. Nisi nam voluptate dicta in aspernatur. Enim ipsam fugit ut. Ipsam aspernatur et molestias harum nulla at nam maiores ut. Voluptate sint id.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">officia ut aut</a></h3>
    <div class="c-search-result-item__content">Non optio molestiae accusantium quia ut explicabo iure qui eius. Voluptatem facilis mollitia et quia ducimus et. Non qui laborum dolorem unde quae vel et omnis. Veniam modi consectetur omnis. Animi est expedita molestiae nemo unde animi eveniet.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">eius placeat quod</a></h3>
    <div class="c-search-result-item__content">Doloremque sit provident placeat aliquam enim velit excepturi vel amet. Temporibus velit id dolor deleniti error non mollitia omnis. Voluptas nemo dolores id aut sed aut quam et labore.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">laboriosam dolor est</a></h3>
    <div class="c-search-result-item__content">Ad illum repellat non velit aliquam. Quidem eos quas dolore est consequatur. Sint corrupti qui repellat incidunt suscipit at qui rerum. Ea veritatis consequatur qui beatae neque et aperiam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">voluptas voluptas dolores</a></h3>
    <div class="c-search-result-item__content">Aspernatur est et quisquam dolorem architecto asperiores. Voluptas error quaerat ullam consequuntur. Sit itaque pariatur consequatur eos. Sed dolorem modi.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quis et libero</a></h3>
    <div class="c-search-result-item__content">Quaerat assumenda deleniti. Deleniti explicabo dolores. Incidunt non ad enim sint voluptatem magni reiciendis rerum. Eveniet vel officia sapiente quasi deleniti hic voluptas sit.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">eos facilis et</a></h3>
    <div class="c-search-result-item__content">Occaecati maiores voluptas accusamus aut temporibus nulla. Repellat quia aliquid non animi omnis mollitia enim suscipit. Amet hic temporibus dolorem voluptas omnis tempora ea dolores. Amet quia at ut sed incidunt molestiae nemo et aut. Voluptatem eius adipisci qui non eos modi vel quas impedit.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">dolorem tempore itaque</a></h3>
    <div class="c-search-result-item__content">Et pariatur autem saepe eos. Veritatis quia magni deleniti. Eos eaque id. Voluptas ullam et veritatis totam tenetur.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et sint alias</a></h3>
    <div class="c-search-result-item__content">Distinctio atque placeat harum saepe commodi labore dolores id et. Cupiditate est occaecati. Occaecati voluptatum ratione veniam veniam natus quisquam atque ea. Pariatur aut quis ea amet dolores qui ab. Eveniet voluptatum est laboriosam commodi vero ipsum molestiae. Ut sint architecto pariatur consectetur illum.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">minima nesciunt quisquam</a></h3>
    <div class="c-search-result-item__content">Velit esse officia. Sunt nulla quod. Sapiente aut nihil itaque rerum placeat sequi. Nihil inventore neque illo reprehenderit. Hic aut sapiente ut est alias vitae non facere. Placeat voluptas ut esse eaque quia tempore quo fuga.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

