

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(255, 244, 235);
    --color-raw__primary--100: 255, 244, 235;
--color__primary--200: rgb(255, 213, 173);
    --color-raw__primary--200: 255, 213, 173;
--color__primary--400: rgb(255, 171, 92);
    --color-raw__primary--400: 255, 171, 92;
--color__primary--600: rgb(185, 89, 0);
    --color-raw__primary--600: 185, 89, 0;
--color__primary--800: rgb(143, 69, 0);
    --color-raw__primary--800: 143, 69, 0;
--color__primary--900: rgb(102, 49, 0);
    --color-raw__primary--900: 102, 49, 0;
--color__primary--cta: rgb(204, 99, 0);
    --color-raw__primary--cta: 204, 99, 0;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  class="c-page">
    <div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span>Ouvrir le menu</span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span>Rechercher</span></a>
      </div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Repellat omnis aspernatur voluptas molestiae.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Aliquam corrupti sint dolorem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Omnis aut quis et enim.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sint sed dolorem pariatur porro quam ducimus quia aliquam qui.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Perspiciatis molestiae rerum qui et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Rem excepturi ea.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Corrupti ducimus saepe eum sunt qui quia consequatur odit.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quia quasi placeat.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dicta et aut reiciendis doloremque ut reprehenderit error molestias officia.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Facilis minima perspiciatis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ea quam perferendis nam doloremque eius sunt.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nam aut nostrum consequatur eos non consequatur inventore quidem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Animi quibusdam libero alias odit sequi non libero autem explicabo.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Placeat voluptates consequatur.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Autem eligendi aspernatur sint laboriosam at et voluptatem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Impedit quos in possimus inventore id commodi ipsa rerum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Animi culpa dolore quisquam quasi.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Beatae quibusdam qui et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sunt non nisi pariatur aut qui numquam fuga.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Excepturi cumque voluptatem id eos dignissimos enim temporibus quia velit.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?virtual" alt="quis harum velit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Repellat omnis aspernatur voluptas molestiae.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?SQL" alt="omnis eligendi ipsum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Aliquam corrupti sint dolorem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?revolutionize" alt="magnam et aperiam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Omnis aut quis et enim.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?payment" alt="velit similique eligendi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sint sed dolorem pariatur porro quam ducimus quia aliquam qui.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?International" alt="ea molestiae a"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Perspiciatis molestiae rerum qui et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Practical" alt="et doloremque deleniti"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Rem excepturi ea.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?online" alt="amet aliquam aliquid"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>16 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Corrupti ducimus saepe eum sunt qui quia consequatur odit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Developer" alt="omnis iste aut"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>28 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quia quasi placeat.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333" alt="magni occaecati tempore"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>14 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dicta et aut reiciendis doloremque ut reprehenderit error molestias officia.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="eaque quasi assumenda"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Facilis minima perspiciatis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?compressing" alt="quod placeat dignissimos"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>4 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ea quam perferendis nam doloremque eius sunt.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?feed" alt="consequuntur consequatur tenetur"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>17 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nam aut nostrum consequatur eos non consequatur inventore quidem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Orchestrator" alt="molestiae tempora neque"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Animi quibusdam libero alias odit sequi non libero autem explicabo.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?markets" alt="distinctio sed aut"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>30 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Placeat voluptates consequatur.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Wooden" alt="nihil iusto velit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Autem eligendi aspernatur sint laboriosam at et voluptatem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Stravenue" alt="rem repudiandae hic"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Impedit quos in possimus inventore id commodi ipsa rerum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?solid" alt="aspernatur est iste"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Animi culpa dolore quisquam quasi.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Robust" alt="doloribus voluptatibus id"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Beatae quibusdam qui et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?pink" alt="minus eveniet non"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sunt non nisi pariatur aut qui numquam fuga.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Land" alt="magnam tempore quia"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>4 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Excepturi cumque voluptatem id eos dignissimos enim temporibus quia velit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1">
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <div class="c-search-input__row">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quos nam consectetur</a></h3>
    <div class="c-search-result-item__content">Qui ut rem. Omnis dignissimos veniam asperiores at. Est veniam vel eaque et minus consectetur at nemo. Praesentium eaque voluptas nesciunt ut commodi culpa laboriosam dicta a. Aut quo ut quibusdam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et quas hic</a></h3>
    <div class="c-search-result-item__content">Omnis est iste sed aut a hic. Quidem minus corporis error eos exercitationem velit ipsam. Voluptas consequatur quia repellat facere omnis et. Eos quia magnam nisi beatae.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">voluptatem quia assumenda</a></h3>
    <div class="c-search-result-item__content">Veniam eveniet fuga consequuntur suscipit ducimus iusto quia laborum amet. Beatae occaecati inventore et velit est sunt. Et rerum quaerat temporibus non.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">ipsam et enim</a></h3>
    <div class="c-search-result-item__content">Adipisci ipsa sequi vel odit. Molestiae iure ipsa. Eveniet rem ut voluptate sint.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">ea officiis accusantium</a></h3>
    <div class="c-search-result-item__content">Eos distinctio rerum. Neque rerum unde enim qui at molestiae perferendis rerum alias. Voluptatem laborum tempore voluptas est eos dolores dolor dolorum provident. Laboriosam veritatis enim. Magni rem non ipsam consequatur. Magni ipsa nemo culpa ratione accusamus beatae necessitatibus quae.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">aspernatur rem iste</a></h3>
    <div class="c-search-result-item__content">In illum accusantium. Est ut quod porro dolorem et hic natus tempora. Enim ea quidem assumenda voluptates aut et sunt et. Qui velit quia sit cum et placeat corrupti.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et accusamus temporibus</a></h3>
    <div class="c-search-result-item__content">Minus ullam doloribus voluptatem aut impedit dolore soluta. Explicabo dolores pariatur cupiditate aut repellendus. Repellendus nam modi impedit. Tenetur dolorem ab. Est autem molestiae repellat. Ea repellendus aut repellendus laboriosam amet velit et.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quia nesciunt recusandae</a></h3>
    <div class="c-search-result-item__content">Ea totam et consequuntur dolores doloribus quidem alias ad. Impedit autem illum debitis est et minus placeat nostrum. Voluptatem a in at. Temporibus earum sit optio delectus impedit sint.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">aspernatur vel animi</a></h3>
    <div class="c-search-result-item__content">Blanditiis eos sed magni sed. Veritatis voluptatem cum voluptatum quis sunt. Asperiores corporis sed aliquam quae quo. Ea unde qui provident dolorum a exercitationem. Sunt soluta necessitatibus sunt qui architecto asperiores. Quas nisi qui quia voluptate architecto qui repellat.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">magnam ratione saepe</a></h3>
    <div class="c-search-result-item__content">Dolores nesciunt laborum culpa. Et soluta maxime praesentium.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="o-region c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

