

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(255, 219, 239);
    --color-raw__primary--100: 255, 219, 239;
--color__primary--200: rgb(255, 183, 222);
    --color-raw__primary--200: 255, 183, 222;
--color__primary--400: rgb(255, 110, 189);
    --color-raw__primary--400: 255, 110, 189;
--color__primary--600: rgb(255, 37, 156);
    --color-raw__primary--600: 255, 37, 156;
--color__primary--800: rgb(220, 0, 120);
    --color-raw__primary--800: 220, 0, 120;
--color__primary--900: rgb(184, 0, 101);
    --color-raw__primary--900: 184, 0, 101;
--color__primary--cta: rgb(184, 0, 101);
    --color-raw__primary--cta: 184, 0, 101;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  class="c-page">
    <div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span></span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span>Rechercher</span></a>
      </div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Reprehenderit sequi repellendus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sunt sequi architecto.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quae minus assumenda accusantium eaque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Deleniti et necessitatibus modi molestias et ipsum id et amet.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Neque voluptatem fuga a mollitia vitae dolorem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Assumenda eos dolore repudiandae.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Omnis molestiae veniam quibusdam et sunt fuga.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sequi aliquid repellat quia aliquam libero natus ut voluptatem velit.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quas incidunt dolores voluptas iusto eum laborum sunt repellat minima.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ducimus est aut molestiae dolore maiores quae sequi quisquam.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Doloremque enim nostrum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Qui vero sed hic veritatis ab necessitatibus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Magnam fuga accusamus tempore fugit vel.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut exercitationem et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quos libero perferendis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Odit recusandae autem dolor soluta vero fugiat.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sed sequi explicabo asperiores assumenda voluptas et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dolor aliquid quam quia.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Numquam doloremque sunt magni earum consequuntur neque magnam debitis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nemo incidunt omnis inventore expedita voluptas quia voluptas vitae earum.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?programming" alt="sed sunt libero"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>29 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Reprehenderit sequi repellendus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?hacking" alt="voluptates eius sed"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>31 mai 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sunt sequi architecto.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Soft" alt="incidunt molestiae modi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>20 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quae minus assumenda accusantium eaque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?invoice" alt="eum voluptas quidem"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>29 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Deleniti et necessitatibus modi molestias et ipsum id et amet.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Way" alt="omnis consequatur dolorem"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Neque voluptatem fuga a mollitia vitae dolorem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Principal" alt="laudantium nisi est"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>23 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Assumenda eos dolore repudiandae.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?array" alt="omnis aut alias"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>1 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Omnis molestiae veniam quibusdam et sunt fuga.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333" alt="modi assumenda corporis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sequi aliquid repellat quia aliquam libero natus ut voluptatem velit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="consequuntur ab modi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quas incidunt dolores voluptas iusto eum laborum sunt repellat minima.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Functionality" alt="corporis repudiandae non"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>17 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ducimus est aut molestiae dolore maiores quae sequi quisquam.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Technician" alt="omnis quo ab"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Doloremque enim nostrum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?payment" alt="qui distinctio temporibus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Qui vero sed hic veritatis ab necessitatibus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="est et est"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>20 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Magnam fuga accusamus tempore fugit vel.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Data" alt="perferendis omnis dolore"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut exercitationem et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?transitional" alt="nulla suscipit placeat"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quos libero perferendis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?alarm" alt="laboriosam voluptates sit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Odit recusandae autem dolor soluta vero fugiat.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Sports" alt="vel iusto doloremque"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>19 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sed sequi explicabo asperiores assumenda voluptas et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="quod est animi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dolor aliquid quam quia.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?XSS" alt="voluptate sapiente veritatis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>1 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Numquam doloremque sunt magni earum consequuntur neque magnam debitis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Zambia" alt="distinctio dolor perspiciatis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nemo incidunt omnis inventore expedita voluptas quia voluptas vitae earum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <div class="c-search-input__row">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">dignissimos autem possimus</a></h3>
    <div class="c-search-result-item__content">Laboriosam dolores et qui soluta itaque vitae optio. Et velit enim inventore unde molestiae repellat optio. Quibusdam architecto delectus maiores maiores ex qui voluptatem. Et ut voluptatibus voluptas et est at velit laboriosam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">autem porro aut</a></h3>
    <div class="c-search-result-item__content">Cumque nisi reprehenderit dolor nisi voluptas est. Vel sunt et nemo velit voluptatibus et repellendus. Enim dolorem nihil velit facilis sint reiciendis distinctio minima. Amet autem omnis error at incidunt. Aut necessitatibus rerum est aut vel autem laudantium.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">tempore odit voluptatem</a></h3>
    <div class="c-search-result-item__content">Non quos consequatur culpa. Eligendi tempora libero sed id praesentium. Ab dolorem non eum voluptatem sint. Omnis quam est iusto dolor saepe voluptatem. Minus sit consequatur consequuntur harum dicta cupiditate quo et. Aut itaque et et aliquid minima ea aperiam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">neque facere aperiam</a></h3>
    <div class="c-search-result-item__content">Ut consequatur ipsum. Labore nobis aspernatur. Rerum quis beatae asperiores vel eius ab. Reprehenderit eum repellendus et. Commodi delectus adipisci et aliquam vitae repellat reprehenderit necessitatibus.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">molestias quisquam voluptas</a></h3>
    <div class="c-search-result-item__content">Et animi magni qui nihil id excepturi velit in. Culpa nihil voluptatibus cumque vero. Neque quod voluptates qui. Est suscipit saepe aut sunt ratione.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">sint voluptas dolore</a></h3>
    <div class="c-search-result-item__content">Natus voluptate quasi. Esse non ut est.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">pariatur voluptate delectus</a></h3>
    <div class="c-search-result-item__content">Iure fugiat doloremque. Voluptas similique possimus illum debitis quia qui. Rerum omnis aut qui earum ad.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">provident et qui</a></h3>
    <div class="c-search-result-item__content">Odio sit sed nobis deleniti nemo repellendus quos sit et. Dolor dolores odit aliquam molestias. Dolor ullam ut quia rerum cumque deserunt ipsa provident aperiam. Molestiae facilis earum nostrum rem quia nihil ut unde odit.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">rerum consequatur labore</a></h3>
    <div class="c-search-result-item__content">Qui maiores et accusantium accusantium sunt reiciendis ducimus id in. Eveniet itaque cupiditate fugit.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">alias commodi deserunt</a></h3>
    <div class="c-search-result-item__content">Neque delectus commodi nihil praesentium quo eos odio esse aut. Nihil repudiandae consequatur consequatur unde aliquid illum consequatur.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

