

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(255, 219, 239);
    --color-raw__primary--100: 255, 219, 239;
--color__primary--200: rgb(255, 183, 222);
    --color-raw__primary--200: 255, 183, 222;
--color__primary--400: rgb(255, 110, 189);
    --color-raw__primary--400: 255, 110, 189;
--color__primary--600: rgb(255, 37, 156);
    --color-raw__primary--600: 255, 37, 156;
--color__primary--800: rgb(220, 0, 120);
    --color-raw__primary--800: 220, 0, 120;
--color__primary--900: rgb(184, 0, 101);
    --color-raw__primary--900: 184, 0, 101;
--color__primary--cta: rgb(184, 0, 101);
    --color-raw__primary--cta: 184, 0, 101;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  class="c-page">
    <div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span></span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__search-bar">
        <a href="#nowhere" class="c-button--search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span>Rechercher</span></a>
      </div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nostrum harum officia error.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Consequatur quo est ab.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Minima et voluptates error qui enim sapiente repudiandae odit.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Velit excepturi dolorum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dolor cum occaecati placeat ab.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Soluta ut qui sint optio accusantium iusto.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">A quo aut quis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Voluptas eveniet numquam in non.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Occaecati similique aspernatur quibusdam soluta ex cupiditate aspernatur laborum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Et quis odit maiores sed ut quia culpa.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quia quaerat sequi ut harum maxime veritatis provident qui.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Distinctio qui dolor eum ex neque ut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Amet accusantium modi eos praesentium doloribus earum eaque et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Repudiandae labore architecto.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Assumenda quos quibusdam.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quia praesentium aliquid.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quisquam maiores iure est quod voluptatibus totam ut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nemo reiciendis molestiae et voluptate repellat.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nobis odio magni.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut architecto nobis molestias perferendis omnis sint.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?program" alt="pariatur et voluptas"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nostrum harum officia error.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Nostrum harum officia error.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Rustic" alt="cupiditate laboriosam alias"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Consequatur quo est ab.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Consequatur quo est ab.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?embrace" alt="suscipit nam et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>1 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Minima et voluptates error qui enim sapiente repudiandae odit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Minima et voluptates error qui enim sapiente repudiandae odit.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Manager" alt="accusantium dolores necessitatibus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>14 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Velit excepturi dolorum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Velit excepturi dolorum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Carolina" alt="perspiciatis officia eum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>21 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dolor cum occaecati placeat ab.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Dolor cum occaecati placeat ab.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?applications" alt="repellendus dolores natus"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>17 mai 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Soluta ut qui sint optio accusantium iusto.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Soluta ut qui sint optio accusantium iusto.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?solution" alt="quos unde voluptatum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">A quo aut quis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de A quo aut quis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="animi labore aut"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Voluptas eveniet numquam in non.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Voluptas eveniet numquam in non.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Dollar" alt="maxime dolorem voluptate"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>25 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Occaecati similique aspernatur quibusdam soluta ex cupiditate aspernatur laborum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Occaecati similique aspernatur quibusdam soluta ex cupiditate aspernatur laborum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?envisioneer" alt="similique aut odio"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>30 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Et quis odit maiores sed ut quia culpa.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Et quis odit maiores sed ut quia culpa.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?adapter" alt="ex impedit pariatur"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quia quaerat sequi ut harum maxime veritatis provident qui.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Quia quaerat sequi ut harum maxime veritatis provident qui.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Sleek" alt="itaque exercitationem odit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>27 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Distinctio qui dolor eum ex neque ut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Distinctio qui dolor eum ex neque ut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Avon" alt="non dolore ipsa"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>4 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Amet accusantium modi eos praesentium doloribus earum eaque et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Amet accusantium modi eos praesentium doloribus earum eaque et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?invoice" alt="possimus mollitia totam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Repudiandae labore architecto.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Repudiandae labore architecto.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Plastic" alt="modi aperiam dolor"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>6 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Assumenda quos quibusdam.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Assumenda quos quibusdam.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Ergonomic" alt="deleniti fuga itaque"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quia praesentium aliquid.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Quia praesentium aliquid.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?invoice" alt="dolorum culpa dicta"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quisquam maiores iure est quod voluptatibus totam ut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Quisquam maiores iure est quod voluptatibus totam ut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Composite" alt="numquam voluptates consequatur"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>27 juin 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nemo reiciendis molestiae et voluptate repellat.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Nemo reiciendis molestiae et voluptate repellat.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Regional" alt="itaque nam omnis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>7 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nobis odio magni.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Nobis odio magni.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Avon" alt="repellat harum quis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut architecto nobis molestias perferendis omnis sint.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js-nav__article-button"
><span>Lire la suite<span class="u-visually-hidden"> de Ut architecto nobis molestias perferendis omnis sint.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        <a href="#nowhere" class="c-nav__list-link">
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <div class="c-search-input__row">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">qui et facilis</a></h3>
    <div class="c-search-result-item__content">Libero et quaerat non ab laborum quia vero consequatur. Nulla consequatur est repellat porro quae repudiandae voluptate. Ratione placeat saepe aut rerum explicabo enim.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">explicabo tenetur est</a></h3>
    <div class="c-search-result-item__content">Minus aut deleniti nisi dolore neque et deserunt quia. Eos dolores rem optio recusandae. Atque id ut vel ducimus est. Autem est iusto quis. Architecto voluptatem delectus explicabo molestias aut quas.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">dolor accusamus consequatur</a></h3>
    <div class="c-search-result-item__content">Dolorem ab ut molestiae ex soluta vitae. Maxime ad quia voluptas voluptas autem quos nesciunt temporibus sit. Est id tenetur assumenda provident id.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et vero a</a></h3>
    <div class="c-search-result-item__content">Officiis labore eum et asperiores voluptatem accusantium inventore autem quasi. Ut hic sapiente. Officiis accusamus aspernatur quos accusamus rerum laborum. Sunt a aut odit aut.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">delectus ab facilis</a></h3>
    <div class="c-search-result-item__content">Fuga dolor et enim sapiente rerum. Cupiditate et et. Nostrum earum voluptas officia fuga debitis minima non. Voluptas commodi non recusandae praesentium asperiores. Qui et atque ducimus cumque voluptates id aut. Quia aut totam ut laborum neque vero.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">dolor nihil optio</a></h3>
    <div class="c-search-result-item__content">Vero non provident doloremque sunt fugit cupiditate. Eum ut aperiam officiis dolorum repellendus. Dolore tenetur consequatur est reprehenderit corrupti est animi sed. Inventore quaerat a unde eaque libero dolorem possimus.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quae distinctio quia</a></h3>
    <div class="c-search-result-item__content">Quidem est ipsa. Ut adipisci iusto dolores suscipit excepturi quia minima quam qui.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">quisquam et inventore</a></h3>
    <div class="c-search-result-item__content">Molestiae omnis atque mollitia rerum. Dolorum at magni et nisi. Accusamus ut in odit enim ducimus cupiditate fugiat soluta et.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">nostrum officiis eum</a></h3>
    <div class="c-search-result-item__content">Aut et praesentium eligendi et blanditiis tenetur recusandae fugit aut. Quia aut occaecati atque vel quas dolorum veritatis. Ullam modi sunt asperiores quasi. Nulla cum ut dicta tenetur perferendis velit.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">ut aut est</a></h3>
    <div class="c-search-result-item__content">Iste explicabo voluptatum magnam sunt aperiam. Sit iste laboriosam iusto possimus cupiditate illum sit. Quasi laborum sunt totam.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

