

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(255, 219, 239);
    --color-raw__primary--100: 255, 219, 239;
--color__primary--200: rgb(255, 183, 222);
    --color-raw__primary--200: 255, 183, 222;
--color__primary--400: rgb(255, 110, 189);
    --color-raw__primary--400: 255, 110, 189;
--color__primary--600: rgb(255, 37, 156);
    --color-raw__primary--600: 255, 37, 156;
--color__primary--800: rgb(220, 0, 120);
    --color-raw__primary--800: 220, 0, 120;
--color__primary--900: rgb(184, 0, 101);
    --color-raw__primary--900: 184, 0, 101;
--color__primary--cta: rgb(184, 0, 101);
    --color-raw__primary--cta: 184, 0, 101;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  class="c-page">
    <div class="c-nav">
  <nav class="o-container o-container--large c-nav__container" aria-label="Navigation principale">
    <div class="c-nav__logo">
      <div class="c-logo-header">
  <div class="c-logo-header__logo">
    <img class="c-logo-vd" src="../../assets/vectors/logo.svg" />

  </div>
  <div class="c-logo-header__text">
    
      
        Tribunal des baux
    
  </div>
</div>


    </div>
    <button class="c-nav__toggle" aria-label="Ouvrir le menu" aria-expanded="false">
      <span class="c-menu-icon c-menu-icon--cross">
        <span></span>
      </span>
    </button>
    <div class="c-nav__list-container">
      <div class="c-nav__alt-actions">
        <a href="#nowhere" class="c-nav__button-search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
 <span class="u-display-xl-none">Rechercher</span></a></div>
      <ul class="c-nav__level-indicator" aria-hidden="true">
      </ul>
      <div class="c-nav__list-wrapper">
        <ul class="c-nav__list" aria-label="Arborescence des pages">
          <li class="c-nav__list-item c-nav__list-item-project" data-level="0">
            <button class="c-nav__list-link c-nav__list-link--w-children" aria-haspopup="true" aria-expanded="false">
              Projets
            </button>
            <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 c-nav_list--level-project">
              <li class="c-nav__list-item" data-level="1">
                <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Doloribus ipsum earum laboriosam ex earum accusantium et et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Incidunt quidem ea nisi qui commodi nemo aliquam.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Odio dignissimos est adipisci harum.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Illo voluptas veniam dolorum aut et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Eum cumque commodi nihil consequuntur soluta aut nulla omnis ut.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dicta quas accusantium hic consequatur sit quia doloremque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Reprehenderit quidem sequi eaque occaecati similique aut voluptas non.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Non quidem sapiente ea a quod est.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Tempore soluta illum accusantium saepe rerum delectus aut molestiae laudantium.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Repudiandae aut libero et mollitia perferendis consequatur optio.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quaerat esse quo deserunt est adipisci error fuga.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Molestias est perspiciatis soluta tempore voluptatem nam dicta.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Velit consectetur repellat voluptatem nulla ut inventore.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quos asperiores minus quidem voluptatem aut ipsa reiciendis non expedita.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Non officia animi quam eius adipisci quia et.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Veniam blanditiis consequuntur aut nostrum sint vitae omnis nisi incidunt.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Perspiciatis id optio est excepturi aut laudantium laboriosam omnis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Numquam eius consequatur et nemo quidem et recusandae sed.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Laudantium dolorem recusandae perferendis sed beatae eius sequi.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Dolor totam doloribus laboriosam exercitationem commodi quod nostrum vero.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Metal" alt="nihil eum facere"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Doloribus ipsum earum laboriosam ex earum accusantium et et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Doloribus ipsum earum laboriosam ex earum accusantium et et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?brand" alt="vel delectus in"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Incidunt quidem ea nisi qui commodi nemo aliquam.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Incidunt quidem ea nisi qui commodi nemo aliquam.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?experiences" alt="ipsum doloremque porro"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>11 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Odio dignissimos est adipisci harum.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Odio dignissimos est adipisci harum.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Concrete" alt="maxime qui tempore"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>14 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Illo voluptas veniam dolorum aut et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Illo voluptas veniam dolorum aut et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Alaska" alt="ut delectus nihil"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>28 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Eum cumque commodi nihil consequuntur soluta aut nulla omnis ut.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Eum cumque commodi nihil consequuntur soluta aut nulla omnis ut.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Ball" alt="earum vero sed"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dicta quas accusantium hic consequatur sit quia doloremque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Dicta quas accusantium hic consequatur sit quia doloremque.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Missouri" alt="et dolorem et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>18 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Reprehenderit quidem sequi eaque occaecati similique aut voluptas non.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Reprehenderit quidem sequi eaque occaecati similique aut voluptas non.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?SMS" alt="natus consequuntur qui"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>13 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Non quidem sapiente ea a quod est.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Non quidem sapiente ea a quod est.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Global" alt="placeat sint nisi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>22 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Tempore soluta illum accusantium saepe rerum delectus aut molestiae laudantium.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Tempore soluta illum accusantium saepe rerum delectus aut molestiae laudantium.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Tasty" alt="ut beatae et"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>12 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Repudiandae aut libero et mollitia perferendis consequatur optio.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Repudiandae aut libero et mollitia perferendis consequatur optio.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Rubber" alt="molestiae aliquid id"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>18 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quaerat esse quo deserunt est adipisci error fuga.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quaerat esse quo deserunt est adipisci error fuga.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Central" alt="suscipit quo numquam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>31 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Molestias est perspiciatis soluta tempore voluptatem nam dicta.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Molestias est perspiciatis soluta tempore voluptatem nam dicta.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Forks" alt="qui aperiam ea"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>4 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Velit consectetur repellat voluptatem nulla ut inventore.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Velit consectetur repellat voluptatem nulla ut inventore.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Assistant" alt="dolorem quae nesciunt"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>8 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quos asperiores minus quidem voluptatem aut ipsa reiciendis non expedita.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quos asperiores minus quidem voluptatem aut ipsa reiciendis non expedita.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Guiana" alt="non iure quia"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>30 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Non officia animi quam eius adipisci quia et.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Non officia animi quam eius adipisci quia et.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?local" alt="sit odit sunt"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Veniam blanditiis consequuntur aut nostrum sint vitae omnis nisi incidunt.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Veniam blanditiis consequuntur aut nostrum sint vitae omnis nisi incidunt.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?AGP" alt="error qui maxime"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>3 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Perspiciatis id optio est excepturi aut laudantium laboriosam omnis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Perspiciatis id optio est excepturi aut laudantium laboriosam omnis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="ex vero harum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>19 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Numquam eius consequatur et nemo quidem et recusandae sed.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Numquam eius consequatur et nemo quidem et recusandae sed.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Bacon" alt="sapiente quibusdam assumenda"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Laudantium dolorem recusandae perferendis sed beatae eius sequi.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Laudantium dolorem recusandae perferendis sed beatae eius sequi.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Engineer" alt="modi qui nobis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>14 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Dolor totam doloribus laboriosam exercitationem commodi quod nostrum vero.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Dolor totam doloribus laboriosam exercitationem commodi quod nostrum vero.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

              </li>
            </ul>
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children c-nav__list-link--level-0" aria-haspopup="true" aria-expanded="false">
                Somaire
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children u-display-xl-none" aria-haspopup="true" aria-expanded="false">
                      Organigrame
                    </button>
                    <span class="c-nav__list-link c-nav__list-link--level-1 c-nav__list-link--w-children u-display-none u-display-xl-block">
                      Organigrame
                    </span>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Facebook live
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Paléo Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Visite du président indien
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2 c-nav__list-link--current" aria-current="page">
                        
                          Attaques fourgons blindés
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          100ème anniversaire de la Fédération vaudoise des jeunesses campagnardes
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Fermeture de l&#39;autoroute A12
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Bol d&#39;Or
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Inauguration CIO
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children u-display-xl-none" aria-haspopup="true" aria-expanded="false">
                      La police en chiffres
                    </button>
                    <span class="c-nav__list-link c-nav__list-link--level-1 c-nav__list-link--w-children u-display-none u-display-xl-block">
                      La police en chiffres
                    </span>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Communication tactique
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Bilderberg
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Finances
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children u-display-xl-none" aria-haspopup="true" aria-expanded="false">
                      Objectifs 2020
                    </button>
                    <span class="c-nav__list-link c-nav__list-link--level-1 c-nav__list-link--w-children u-display-none u-display-xl-block">
                      Objectifs 2020
                    </span>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Montreux Jazz Festival
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Fête des Vignerons
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <button class="c-nav__list-link c-nav__list-link--w-children u-display-xl-none" aria-haspopup="true" aria-expanded="false">
                      Valorisation des colabirateurs
                    </button>
                    <span class="c-nav__list-link c-nav__list-link--level-1 c-nav__list-link--w-children u-display-none u-display-xl-block">
                      Valorisation des colabirateurs
                    </span>
                    <ul class="c-nav__list c-nav__list--level c-nav__list--level-2">
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Cérémonie du souvenir
                        </a>
                      </li>
                      
                      <li class="c-nav__list-item" data-level="2">
                        
                        <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-2">
                        
                          Escrocrie à la caisse de chômage
                        </a>
                      </li>
                      
                    </ul>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Témoignages
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-0">
                Remerciement
              </a>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children c-nav__list-link--level-0" aria-haspopup="true" aria-expanded="false">
                Où sommes-nous ?
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.1
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.3
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.4
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.5
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.6
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.7
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.8
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 4.9
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
          <li class="c-nav__list-item" data-level="0">
            
              <button class="c-nav__list-link c-nav__list-link--w-children c-nav__list-link--level-0" aria-haspopup="true" aria-expanded="false">
                Menu 5 est passablement très très long
              </button>
              <ul class="c-nav__list c-nav__list--level c-nav__list--level-1 masonry">
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 5.1 très très très très très très très très très très très très long
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 5.2
                    </a>
                  
                </li>
                
                <li class="c-nav__list-item masonry-item" data-level="1">
                  
                    <a href="#nowhere" class="c-nav__list-link c-nav__list-link--level-1">
                      Menu 5.3
                    </a>
                  
                </li>
                
              </ul>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="c-page__content o-stack o-stack--big u-bg--gradient">

  <main class="c-page__main o-stack">
    
    <h1 class="u-visually-hidden">Titre de la page</h1>
    
    
<div class="o-container">
  <form class="c-search-input u-mt--big" 
        action="#">
        <div class="c-search-input__row">
          <label for="search" class="u-visually-hidden">Recherche</label>
          <input id="search" class="c-search-input__field" type="search">
        </div>
        
        <button type="submit" class="c-search-input__button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <circle
    cx="8"
    cy="8"
    r="7"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M19 19l-6-6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </button>
    </form>
</div>

    
    <div class="o-container o-stack o-stack--big c-result-list">
    <h2 class="c-search-result-list__heading">Résultats de la recherche</h2>
    
    <ol class="o-stack">
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">molestiae quas ut</a></h3>
    <div class="c-search-result-item__content">Sed eius dolorum aspernatur. Rerum nemo et aut deleniti earum. Eius deserunt laboriosam dignissimos consequatur. Inventore quibusdam autem.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">qui nulla non</a></h3>
    <div class="c-search-result-item__content">Impedit commodi reiciendis sequi odio temporibus sit. A libero natus architecto doloremque iste et.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">soluta doloribus qui</a></h3>
    <div class="c-search-result-item__content">Iste veniam cumque aut itaque labore totam est. Mollitia pariatur fuga voluptatem rerum voluptatem enim quia. Recusandae illum consequuntur perspiciatis. Illo dolore consequuntur voluptas et cum eveniet facere.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et placeat atque</a></h3>
    <div class="c-search-result-item__content">Expedita maiores aut sit officia vel eius cum nihil in. Illum magni accusamus commodi voluptas exercitationem temporibus dolor accusamus. Id tenetur velit ut fuga eius ut laudantium fugit. Facilis qui excepturi.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">et eveniet voluptas</a></h3>
    <div class="c-search-result-item__content">Quis quae voluptatem harum reiciendis quae. Ratione et a aliquam suscipit. Facilis consectetur non veniam non provident quia qui corporis iste.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">excepturi non provident</a></h3>
    <div class="c-search-result-item__content">Iusto eius saepe sed. Dolores voluptas at. Fuga et sed eum. Error et magnam qui eligendi. Consectetur aut accusantium iusto.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">optio aut consequatur</a></h3>
    <div class="c-search-result-item__content">Et et pariatur consequatur harum id ut similique quam. Dolorem laborum pariatur aut reiciendis facere beatae. Maiores debitis amet.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">consequatur et expedita</a></h3>
    <div class="c-search-result-item__content">Tempore velit reprehenderit. Qui non sit voluptas commodi architecto modi nemo qui illo.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">sapiente in omnis</a></h3>
    <div class="c-search-result-item__content">Cupiditate amet et quam excepturi quidem illo provident facere. Quia consequatur quod quo ut voluptatem.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
        <li>
            <article class="c-search-result-item">
    <h3 class="c-search-result-item__title"><a href="#nowhere">rem sed perferendis</a></h3>
    <div class="c-search-result-item__content">Molestiae aspernatur quia ex dolores sint sed sit. Et occaecati omnis et.</div>
    <footer class="c-search-result-item__breadcrumb">
        <dl>
            <dt class="u-visually-hidden">Emplacement</dt>
            <dd>
                <ul class="c-search-result-item__breadcrumb-list">
                    
                    <li class="c-search-result-item__breadcrumb-item">page 1</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 2</li>
                    
                    <li class="c-search-result-item__breadcrumb-item">page 3</li>
                    
                </ul>
            </dd>
        </dl>
    </footer>
</article>
        </li>
        
    </ol>
</div>

    
    <div class="o-container o-region c-pagination-pages">
  <nav aria-labelledby="pagination-title">
    <h2 id="pagination-title" class="u-visually-hidden">Pagination</h2>
    <ul class="c-pagination-pages__list" aria-label="Pagination">
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page précédente">
          <span class="sr-only">Précédent</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M7 1L1 7l6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
       
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 5">5</a></li>
      
      <li class="c-pagination-pages__list-item">
        <span 
        class="c-pagination-pages__link"
        aria-label="Page 6"
        aria-current="page">6</span></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 7">7</a></li>
      
      <li class="c-pagination-pages__list-item">
        <a
          href="#nowhere"
          class="c-pagination-pages__link"
          aria-label="Page 8">8</a></li>
      
      
      <li class="c-pagination-pages__list-item">
        <a href="#nowhere" class="c-pagination-pages__link" aria-label="Page suivante">
          <span class="sr-only">Suivant</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

        </a>
      </li>
      
    </ul>
  </nav>
</div>

    
  </main>
  
  <footer class="c-footer" aria-label="Pied de page" role="contentinfo">
  <div class="o-container o-container--large">
    <h2 class="u-visually-hidden">Pied de page</h2>
    
    <div class="c-footer__main">
      
      <div class="c-footer__page">
        <h3 class="u-visually-hidden">Liens connexes</h3>
        <nav aria-label="Navigation pied de page">
          <ul class="c-footer__list-page">
            <li><a href="#nowhere">Mentions légales</a></li>
            <li><a href="#nowhere">Plan du site</a></li>
            <li><a href="#nowhere">Contact</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__social">
        <h3 class="u-visually-hidden md:u-not-visually-hidden">Partager</h3>
        <nav aria-label="Navigation réseaux sociaux">
          <ul class="c-footer__list-social">
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M12.5.5C5.9.5.5 5.9.5 12.5s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6 9.7v.4c0 4.5-3.6 8.2-8.1 8.2h-.1c-1.6 0-3.1-.5-4.4-1.3h.7c1.3 0 2.6-.4 3.6-1.2-1.2 0-2.3-.8-2.7-2 .2 0 .4.1.5.1.3 0 .5 0 .8-.1-1.3-.3-2.3-1.5-2.3-2.8.4.2.9.3 1.3.4-.8-.5-1.3-1.4-1.3-2.4 0-.5.1-1 .4-1.5 1.5 1.8 3.6 2.9 6 3-.1-.2-.1-.4-.1-.7 0-1.6 1.3-2.9 2.9-2.9.8 0 1.6.3 2.1.9.6-.1 1.3-.4 1.8-.7-.2.7-.7 1.2-1.3 1.6.6-.1 1.1-.2 1.7-.5-.4.6-.9 1.1-1.5 1.5z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
  <path
    d="M24.5 12.6c0-6.7-5.4-12.1-12-12.1S.5 5.9.5 12.6c0 5.9 4.3 11 10.1 11.9v-8.4h-3v-3.5h3V9.9c0-3 1.8-4.7 4.5-4.7.9 0 1.8.1 2.7.2v3h-1.5c-.9-.1-1.8.5-1.9 1.5V12.6h3.3l-.5 3.5h-2.8v8.4c5.8-.9 10.1-6 10.1-11.9z"
  />
</svg>
</a></li>
            <li><a href="#nowhere"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
  <path
    d="M8.2 11.8L19 .9m0 0l-6.4 18c-.1.3-.4.4-.7.3l-.3-.3-3.4-7-6.9-3.6C1 8.2.9 7.9 1 7.6c.1-.1.1-.2.3-.3L19 .9"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a></li>
          </ul>
        </nav>
      </div>
      
      <div class="c-footer__logo">
        <h3 class="u-visually-hidden">Logo de l'entité</h3>
        <img
  class="c-logo-entity"
  src="../../assets/images/logo-entity.png"
  alt="logo de l'entité"
/>

      </div>
      
    </div>
    <div class="c-footer__secondary">
      &copy; Name of the service - 2021
    </div>
  </div>
</footer>


</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

