

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Eos expedita commodi qui consequuntur placeat.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Itaque modi quas quod voluptas perspiciatis adipisci.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Cupiditate autem ipsa officia autem accusantium porro reiciendis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Odio molestias tenetur cumque autem ea id est sit.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Magnam quos aliquam possimus autem facere labore ut distinctio.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ea non sunt.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Eaque quae reprehenderit quis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >At quos debitis blanditiis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Enim quos voluptas reiciendis sint.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Non fugiat rerum recusandae recusandae aut dicta aut.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et fuga voluptas doloremque atque ea.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Quisquam dignissimos qui impedit molestiae est quia earum est.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ipsa et cumque at odio deserunt.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptatem repudiandae vero.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Vitae delectus quia aliquam amet maiores consequatur accusamus illum.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Soluta ut nihil temporibus et exercitationem ipsum debitis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Aut labore facilis ea deleniti nostrum voluptatem quis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptatum cupiditate odit ut ratione consectetur modi et inventore.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ad facilis eum quam aut omnis est saepe ut.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Molestiae eius aliquid vitae est enim quam nostrum eos perspiciatis.</a
            >
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Eos expedita commodi qui consequuntur placeat.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>27 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Sol/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Sol/640x480"
              alt="molestias saepe exercitationem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Itaque modi quas quod voluptas perspiciatis adipisci.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Hawaii/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Hawaii/640x480"
              alt="dolore vero quo"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Cupiditate autem ipsa officia autem accusantium porro reiciendis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Frozen/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Frozen/640x480"
              alt="neque itaque delectus"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Odio molestias tenetur cumque autem ea id est sit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?panel/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?panel/640x480"
              alt="omnis ad et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Magnam quos aliquam possimus autem facere labore ut distinctio.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>26 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Lev/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Lev/640x480"
              alt="nostrum possimus ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ea non sunt.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>17 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?deposit/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?deposit/640x480"
              alt="qui tempora repellendus"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Eaque quae reprehenderit quis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>2 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?virtual/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?virtual/640x480"
              alt="iusto accusantium facilis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">At quos debitis blanditiis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>25 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Bedfordshire/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Bedfordshire/640x480"
              alt="harum aut saepe"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Enim quos voluptas reiciendis sint.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?magnetic/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?magnetic/640x480"
              alt="alias sed consequuntur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Non fugiat rerum recusandae recusandae aut dicta aut.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Marks/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Marks/640x480"
              alt="sit ad delectus"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et fuga voluptas doloremque atque ea.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>16 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="minima corporis dignissimos"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quisquam dignissimos qui impedit molestiae est quia earum est.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>10 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Focused/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Focused/640x480"
              alt="culpa sequi et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ipsa et cumque at odio deserunt.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>16 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="velit voluptatem quidem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptatem repudiandae vero.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>14 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?fuchsia/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?fuchsia/640x480"
              alt="voluptates et enim"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Vitae delectus quia aliquam amet maiores consequatur accusamus illum.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>22 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?neural/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?neural/640x480"
              alt="quo amet inventore"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Soluta ut nihil temporibus et exercitationem ipsum debitis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Human/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Human/640x480"
              alt="cum enim est"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Aut labore facilis ea deleniti nostrum voluptatem quis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>30 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?blue/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?blue/640x480"
              alt="labore odit aut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptatum cupiditate odit ut ratione consectetur modi et inventore.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="quisquam voluptatem ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ad facilis eum quam aut omnis est saepe ut.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>25 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?primary/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?primary/640x480"
              alt="officiis reprehenderit voluptas"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Molestiae eius aliquid vitae est enim quam nostrum eos perspiciatis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?transmitting/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?transmitting/640x480"
              alt="qui explicabo consequatur"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

