

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Quasi ab dolores tempore sit.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et molestiae nam repellat totam dolores libero commodi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Consequatur eligendi magnam repudiandae consectetur inventore aut dicta.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ipsam quidem officiis vel illo fuga tempore qui.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ipsam neque in tempora expedita consequatur.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Labore sed nostrum eos maxime voluptatem eum eligendi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ut est explicabo modi placeat minima qui assumenda eveniet voluptatem.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Commodi illo non dolorem sed voluptatem laudantium.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ducimus suscipit totam.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Similique molestiae aspernatur quis et reprehenderit.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Sed voluptatem dolores sapiente saepe et harum.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dolor et aspernatur sed et reprehenderit repudiandae ut.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Iusto molestiae dicta qui quia et molestiae.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Eos qui perferendis provident alias rerum possimus.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Voluptatem alias omnis corporis numquam error ipsum a amet eum.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Mollitia vitae dolores consectetur in neque.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Officia blanditiis perspiciatis aliquam enim pariatur natus voluptatem.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Qui non repudiandae eaque excepturi et asperiores officiis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Non consequuntur corrupti porro dolorum corrupti eaque repellat aut consequatur.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Et alias impedit.</a
            >
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quasi ab dolores tempore sit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Dynamic/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Dynamic/640x480"
              alt="incidunt ex qui"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et molestiae nam repellat totam dolores libero commodi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?hierarchy/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?hierarchy/640x480"
              alt="eligendi dicta sit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Consequatur eligendi magnam repudiandae consectetur inventore aut dicta.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>19 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Handcrafted/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Handcrafted/640x480"
              alt="cumque illo hic"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ipsam quidem officiis vel illo fuga tempore qui.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?composite/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?composite/640x480"
              alt="libero nisi earum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ipsam neque in tempora expedita consequatur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>17 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?cyan/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?cyan/640x480"
              alt="molestias soluta nihil"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Labore sed nostrum eos maxime voluptatem eum eligendi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>25 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?XSS/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?XSS/640x480"
              alt="quia architecto perferendis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ut est explicabo modi placeat minima qui assumenda eveniet voluptatem.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>20 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Granite/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Granite/640x480"
              alt="voluptatibus cumque aut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Commodi illo non dolorem sed voluptatem laudantium.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>7 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?JBOD/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?JBOD/640x480"
              alt="qui sint asperiores"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ducimus suscipit totam.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Reactive/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Reactive/640x480"
              alt="rerum et et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Similique molestiae aspernatur quis et reprehenderit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>22 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?GB/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?GB/640x480"
              alt="harum enim rerum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sed voluptatem dolores sapiente saepe et harum.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>19 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Shoes/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Shoes/640x480"
              alt="soluta odio vel"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dolor et aspernatur sed et reprehenderit repudiandae ut.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>17 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Avon/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Avon/640x480"
              alt="aut cumque magnam"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Iusto molestiae dicta qui quia et molestiae.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>8 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Health/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Health/640x480"
              alt="autem recusandae a"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Eos qui perferendis provident alias rerum possimus.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>16 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?exuding/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?exuding/640x480"
              alt="deleniti laudantium ab"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Voluptatem alias omnis corporis numquam error ipsum a amet eum.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>28 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Pierre/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Pierre/640x480"
              alt="ullam ducimus voluptatem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Mollitia vitae dolores consectetur in neque.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>21 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Oregon/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Oregon/640x480"
              alt="velit sequi dolor"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Officia blanditiis perspiciatis aliquam enim pariatur natus voluptatem.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>1 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Outdoors/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Outdoors/640x480"
              alt="voluptates quas et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Qui non repudiandae eaque excepturi et asperiores officiis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>28 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?red/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?red/640x480"
              alt="eum quam et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Non consequuntur corrupti porro dolorum corrupti eaque repellat aut consequatur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>9 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Place/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Place/640x480"
              alt="magni voluptatum debitis"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Et alias impedit.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>18 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?protocol/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?protocol/640x480"
              alt="deserunt illo aspernatur"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

