

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-slider">
  <div class="o-container o-container--large c-slider__container">
    <div class="c-slider__container-left">
      <h2 class="c-slider__heading">Projets</h2>

      <div class="c-slider__sidebar" aria-hidden="true">
        <ul class="c-slider__sidebar-list">
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Similique voluptate similique dolores et rerum voluptas.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Dolores expedita nisi libero consequuntur sed.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sunt porro quas velit modi hic ipsam soluta.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et non quos cupiditate molestiae accusamus explicabo ducimus quae laborum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Quibusdam animi sed corrupti.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sint molestiae incidunt magnam et numquam debitis quam sed.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Pariatur eveniet accusantium.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et aut mollitia culpa laudantium et nihil fugiat.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sint suscipit qui fugiat nam aut unde veniam harum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Totam eveniet repudiandae iure sed magni et laudantium iusto optio.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sed quia eligendi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Quo facilis voluptatum nisi et voluptatem quia.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptatem mollitia voluptas corrupti quo.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ipsum ipsa magnam voluptas aut et sapiente molestiae.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Fugiat harum quia mollitia explicabo eos animi dolores aperiam.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Iure enim et id quas.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Sed vero velit enim sequi atque facilis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptatem est recusandae asperiores nisi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Eligendi reiciendis molestias excepturi voluptatem similique beatae qui.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ut quibusdam soluta.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider__sidebar -->
    </div>
    <!-- /.c-slider__container-left -->

    
    <ul class="c-slider__container-right c-slider__list">
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Similique voluptate similique dolores et rerum voluptas.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>15 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Fish/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Fish/640x480"
              alt="ea perferendis est"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Dolores expedita nisi libero consequuntur sed.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>10 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?backing/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?backing/640x480"
              alt="similique beatae voluptas"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sunt porro quas velit modi hic ipsam soluta.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>18 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Reactive/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Reactive/640x480"
              alt="voluptatem distinctio et"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et non quos cupiditate molestiae accusamus explicabo ducimus quae laborum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>10 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Manat/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Manat/640x480"
              alt="non totam magnam"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Quibusdam animi sed corrupti.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>17 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Money/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Money/640x480"
              alt="id sunt cum"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sint molestiae incidunt magnam et numquam debitis quam sed.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>17 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Specialist/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Specialist/640x480"
              alt="et qui sit"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Pariatur eveniet accusantium.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>24 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?synthesize/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?synthesize/640x480"
              alt="est cumque quo"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et aut mollitia culpa laudantium et nihil fugiat.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?digital/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?digital/640x480"
              alt="fugiat possimus eveniet"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sint suscipit qui fugiat nam aut unde veniam harum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>3 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="quis ipsa expedita"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Totam eveniet repudiandae iure sed magni et laudantium iusto optio.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>4 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?monitor/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?monitor/640x480"
              alt="culpa ullam a"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sed quia eligendi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>5 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Human/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Human/640x480"
              alt="quae assumenda impedit"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Quo facilis voluptatum nisi et voluptatem quia.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>9 avril 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?solid/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?solid/640x480"
              alt="quis ut eaque"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptatem mollitia voluptas corrupti quo.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>15 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Account/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Account/640x480"
              alt="impedit repellat quisquam"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ipsum ipsa magnam voluptas aut et sapiente molestiae.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>28 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?teal/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?teal/640x480"
              alt="rem deserunt beatae"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Fugiat harum quia mollitia explicabo eos animi dolores aperiam.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>12 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?solid/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?solid/640x480"
              alt="debitis vel ea"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Iure enim et id quas.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Progressive/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Progressive/640x480"
              alt="praesentium consectetur incidunt"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Sed vero velit enim sequi atque facilis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>15 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Account/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Account/640x480"
              alt="itaque repellendus porro"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptatem est recusandae asperiores nisi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>23 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?indigo/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?indigo/640x480"
              alt="at maiores voluptate"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Eligendi reiciendis molestias excepturi voluptatem similique beatae qui.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>28 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Health/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Health/640x480"
              alt="laudantium consectetur minus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ut quibusdam soluta.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>25 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?B2C/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?B2C/640x480"
              alt="enim aut tempore"
            />
          </figure>
        </article>
      </li>
      
    </ul>
    
  </div>
  <!-- /.c-slider__container -->
</div>
<!-- /.c-slider -->

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

