

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-slider">
  <div class="o-container o-container--large c-slider__container">
    <div class="c-slider__container-left">
      <h2 class="c-slider__heading">Projets</h2>

      <div class="c-slider__sidebar" aria-hidden="true">
        <ul class="c-slider__sidebar-list">
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Qui unde distinctio modi neque.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Enim dolores neque aut laudantium.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Iure nostrum id et ut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Nobis laboriosam aut quis non ut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Occaecati est quos sequi aut et nulla doloremque perferendis.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Officia in doloremque dolore mollitia aut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Voluptas placeat repellat sequi quo rem quis natus at sequi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Non minus veritatis qui impedit quas.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Omnis et qui at ipsa et voluptatem omnis doloremque ipsum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Minima quo repellendus impedit corrupti molestias molestiae laborum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Harum culpa excepturi quo nisi.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Consequatur ab incidunt sapiente rerum ea qui cum dolorum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Harum quia sint voluptatem cum qui praesentium.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Fugit veniam et rerum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et ullam tenetur vel animi quidem sit aperiam.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Et ut dolore odio eum optio nobis molestiae aut.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Omnis sed reprehenderit asperiores.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Eos minus sit earum.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Ex nostrum eum fugiat aut dolor.</a>
          </li>
          
          <li class="c-slider__sidebar-list-item">
            <a href="#nowhere">Culpa harum exercitationem rerum consequatur eos consequuntur.</a>
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider__sidebar -->
    </div>
    <!-- /.c-slider__container-left -->

    
    <ul class="c-slider__container-right c-slider__list">
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Qui unde distinctio modi neque.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>4 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Washington/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Washington/640x480"
              alt="sit perspiciatis temporibus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Enim dolores neque aut laudantium.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>25 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?seize/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?seize/640x480"
              alt="nemo ut molestiae"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Iure nostrum id et ut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?improvement/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?improvement/640x480"
              alt="officiis corporis nesciunt"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Nobis laboriosam aut quis non ut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>21 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Tokelau/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Tokelau/640x480"
              alt="occaecati neque ut"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Occaecati est quos sequi aut et nulla doloremque perferendis.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>19 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?olive/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?olive/640x480"
              alt="placeat ad molestias"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Officia in doloremque dolore mollitia aut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>21 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Identity/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Identity/640x480"
              alt="quia repellendus natus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Voluptas placeat repellat sequi quo rem quis natus at sequi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>16 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Berkshire/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Berkshire/640x480"
              alt="repellendus voluptatibus omnis"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Non minus veritatis qui impedit quas.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>31 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?robust/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?robust/640x480"
              alt="autem perferendis et"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Omnis et qui at ipsa et voluptatem omnis doloremque ipsum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>20 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Maine/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Maine/640x480"
              alt="aliquam sunt sed"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Minima quo repellendus impedit corrupti molestias molestiae laborum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>21 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?deposit/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?deposit/640x480"
              alt="velit quo repellendus"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Harum culpa excepturi quo nisi.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>10 février 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Chicken/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Chicken/640x480"
              alt="quo nesciunt omnis"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Consequatur ab incidunt sapiente rerum ea qui cum dolorum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>23 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Rubber/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Rubber/640x480"
              alt="sequi natus sunt"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Harum quia sint voluptatem cum qui praesentium.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>24 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?orchid/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?orchid/640x480"
              alt="quo alias non"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Fugit veniam et rerum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>13 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Soft/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Soft/640x480"
              alt="in enim iure"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et ullam tenetur vel animi quidem sit aperiam.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>13 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?quantifying/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?quantifying/640x480"
              alt="non consectetur dolores"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Et ut dolore odio eum optio nobis molestiae aut.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>7 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?hard/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?hard/640x480"
              alt="recusandae repellat asperiores"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Omnis sed reprehenderit asperiores.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>13 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Grocery/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?Grocery/640x480"
              alt="consectetur et corporis"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Eos minus sit earum.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>1 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?architect/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?architect/640x480"
              alt="dignissimos temporibus vel"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Ex nostrum eum fugiat aut dolor.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>6 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?protocol/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?protocol/640x480"
              alt="provident nesciunt id"
            />
          </figure>
        </article>
      </li>
      
      <li class="c-slider__list-item">
        <article class="c-slider__article">
          <div class="c-slider__article-text-container">
            <h3 class="c-slider__article-heading">Culpa harum exercitationem rerum consequatur eos consequuntur.</h3>
            <div class="c-slider__article-date">
              <span class="u-visually-hidden">Date:</span>8 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?lime/640x480');"
          >
            <img
              class="c-slider__article-image"
              src="https://source.unsplash.com/500x500?lime/640x480"
              alt="quod molestias id"
            />
          </figure>
        </article>
      </li>
      
    </ul>
    
  </div>
  <!-- /.c-slider__container -->
</div>
<!-- /.c-slider -->

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

