

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-slider-js">
  <div class="o-container o-container--large c-slider-js__container">
    <div class="c-slider-js__container-left">
      <h2 class="c-slider-js__heading">Projets</h2>

      <div class="c-slider-js__sidebar" aria-hidden="true">
        <ul class="c-slider-js__sidebar-list">
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Deleniti qui ratione iste minima et ut autem hic accusantium.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dolorem consequuntur ea.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Dignissimos odit qui eligendi.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Aut enim provident dolore consequatur iusto molestiae ut quia.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Beatae distinctio recusandae repellat a nulla nam vitae at.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Libero rerum et voluptatem harum sint beatae consequatur deleniti iusto.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Ab blanditiis assumenda quia ut saepe iure.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Nemo modi nesciunt aspernatur iusto ducimus cum et.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Amet ullam voluptatem et dolorem molestiae quisquam molestiae mollitia.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Enim qui labore similique aut ut inventore voluptatem consequatur.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Corporis voluptas totam dolores eum placeat quas.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Nemo adipisci eaque eum consequuntur enim.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Sint eos sit distinctio aspernatur.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Aut eius eius.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Omnis a repudiandae esse maiores necessitatibus rerum eum similique.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Autem magnam est autem sint maiores voluptatibus accusamus reiciendis.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Quia magnam non dolor.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Inventore qui sunt similique aliquam facere quidem.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Accusamus dolores soluta.</a
            >
          </li>
          
          <li class="c-slider-js__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js__sidebar-list-link"
              >Incidunt distinctio sint tenetur officia sed.</a
            >
          </li>
          
        </ul>
      </div>
      <!-- /.c-slider-js__sidebar -->
    </div>
    <!-- /.c-slider-js__container-left -->

    
    <div class="c-slider-js__container-right c-slider-js__carousel">
      <div
        class="main-carousel"
        data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true }'
      >
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Deleniti qui ratione iste minima et ut autem hic accusantium.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>21 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?alarm/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?alarm/640x480"
              alt="sit aperiam ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dolorem consequuntur ea.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?programming/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?programming/640x480"
              alt="est deleniti consectetur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Dignissimos odit qui eligendi.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>24 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Creative/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Creative/640x480"
              alt="distinctio autem velit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Aut enim provident dolore consequatur iusto molestiae ut quia.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>17 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Guarani/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Guarani/640x480"
              alt="suscipit deleniti odit"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Beatae distinctio recusandae repellat a nulla nam vitae at.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?experiences/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?experiences/640x480"
              alt="quo officiis rerum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Libero rerum et voluptatem harum sint beatae consequatur deleniti iusto.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>28 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Credit/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Credit/640x480"
              alt="et voluptatibus ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Ab blanditiis assumenda quia ut saepe iure.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>22 mars 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?deposit/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?deposit/640x480"
              alt="ut maiores sunt"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Nemo modi nesciunt aspernatur iusto ducimus cum et.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>17 décembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?efficient/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?efficient/640x480"
              alt="voluptas id ut"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Amet ullam voluptatem et dolorem molestiae quisquam molestiae mollitia.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>2 juillet 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Pennsylvania/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Pennsylvania/640x480"
              alt="asperiores odio quasi"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Enim qui labore similique aut ut inventore voluptatem consequatur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 mai 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Summit/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Summit/640x480"
              alt="placeat qui recusandae"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Corporis voluptas totam dolores eum placeat quas.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>18 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Berkshire/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Berkshire/640x480"
              alt="vitae numquam labore"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Nemo adipisci eaque eum consequuntur enim.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>15 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?generate/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?generate/640x480"
              alt="perspiciatis et placeat"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Sint eos sit distinctio aspernatur.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>15 octobre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Dinar/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Dinar/640x480"
              alt="voluptas harum non"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Aut eius eius.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>11 août 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?California/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?California/640x480"
              alt="dolore quis nostrum"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Omnis a repudiandae esse maiores necessitatibus rerum eum similique.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>23 juin 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="saepe ut dolorem"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Autem magnam est autem sint maiores voluptatibus accusamus reiciendis.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>14 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?Generic/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?Generic/640x480"
              alt="nesciunt eligendi et"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Quia magnam non dolor.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>14 avril 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?bandwidth/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?bandwidth/640x480"
              alt="qui omnis molestiae"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Inventore qui sunt similique aliquam facere quidem.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 novembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500/640x480"
              alt="facere impedit recusandae"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Accusamus dolores soluta.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>2 janvier 2021
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?strategic/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?strategic/640x480"
              alt="aperiam eum consequatur"
            />
          </figure>
        </article>
        
        <article class="c-slider-js__article carousel-cell">
          <div class="c-slider-js__article-text-container">
            <h3 class="c-slider-js__article-heading">Incidunt distinctio sint tenetur officia sed.</h3>
            <div class="c-slider-js__article-date">
              <span class="u-visually-hidden">Date:</span>13 septembre 2020
            </div>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider-js__article-button"
><span>lire la
            suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>

          <figure
            class="c-slider-js__article-figure"
            style="background-image: url('https://source.unsplash.com/500x500?motivating/640x480');"
          >
            <img
              class="c-slider-js__article-image"
              src="https://source.unsplash.com/500x500?motivating/640x480"
              alt="est est consequatur"
            />
          </figure>
        </article>
        
      </div>
    </div>
    
  </div>
  <!-- /.c-slider-js__container -->
</div>
<!-- /.c-slider-js -->

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/testimonial.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
  </body>
</html>

