

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body  style="background-color: var(--color__primary--900)">
    <div class="c-slider-js-nav">
  <div class="c-slider-js-nav-container">
    <div class="c-slider-js-nav__container-left">
      <h2 class="c-slider-js-nav__heading">Projets</h2>
      <div class="c-slider-js-nav__sidebar" aria-hidden="true">
        <ul class="c-slider-js-nav__sidebar-list">
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Nobis rerum harum incidunt ipsa doloremque dignissimos exercitationem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Non recusandae perferendis illo voluptatibus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quo velit voluptatem ut asperiores alias consequatur omnis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Iste quia harum sunt cum repudiandae dolores laboriosam quaerat accusantium.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Et est corrupti saepe veritatis deserunt.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Non amet repellendus vitae perspiciatis ea.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Eligendi nihil id provident quam accusantium eligendi.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">In cum repudiandae ut enim cum magni.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Provident est nam.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Qui itaque nisi fugiat ea.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Veritatis et beatae.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ab voluptatem odio possimus perferendis.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut sint sit nostrum ut non tempore et ullam sit.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Aut ut est nam id.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Reprehenderit laboriosam odio consequatur possimus qui error tempore minus.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Repellat ipsam nam dolorem.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Sed deserunt ut in sequi ut dolorem vel itaque.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Quod qui magnam dicta qui.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">At ut reiciendis unde.</a>
          </li>
          
          <li class="c-slider-js-nav__sidebar-list-item">
            <a href="#nowhere" class="c-slider-js-nav__sidebar-list-link">Ut quas nihil sed optio.</a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="c-slider-js-nav__container-right">
      <div class="c-slider-js-nav-carousel">
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="sapiente ad eius"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Nobis rerum harum incidunt ipsa doloremque dignissimos exercitationem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Nobis rerum harum incidunt ipsa doloremque dignissimos exercitationem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?support" alt="blanditiis dolor quam"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 juillet 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Non recusandae perferendis illo voluptatibus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Non recusandae perferendis illo voluptatibus.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Pakistan" alt="nihil tempore vel"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quo velit voluptatem ut asperiores alias consequatur omnis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quo velit voluptatem ut asperiores alias consequatur omnis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?auxiliary" alt="voluptatem sapiente quae"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>18 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Iste quia harum sunt cum repudiandae dolores laboriosam quaerat accusantium.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Iste quia harum sunt cum repudiandae dolores laboriosam quaerat accusantium.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?payment" alt="officiis quibusdam consequuntur"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>28 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Et est corrupti saepe veritatis deserunt.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Et est corrupti saepe veritatis deserunt.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Usability" alt="distinctio sit nobis"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>15 août 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Non amet repellendus vitae perspiciatis ea.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Non amet repellendus vitae perspiciatis ea.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="neque neque quaerat"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>5 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Eligendi nihil id provident quam accusantium eligendi.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Eligendi nihil id provident quam accusantium eligendi.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?up" alt="excepturi cupiditate a"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">In cum repudiandae ut enim cum magni.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de In cum repudiandae ut enim cum magni.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Functionality" alt="tempora numquam impedit"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>29 avril 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Provident est nam.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Provident est nam.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Salad" alt="adipisci repudiandae cum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>9 juin 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Qui itaque nisi fugiat ea.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Qui itaque nisi fugiat ea.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?white" alt="aspernatur et a"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Veritatis et beatae.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Veritatis et beatae.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?scalable" alt="voluptatem debitis iure"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>19 mars 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ab voluptatem odio possimus perferendis.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Ab voluptatem odio possimus perferendis.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Assurance" alt="nesciunt dignissimos repudiandae"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>24 janvier 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut sint sit nostrum ut non tempore et ullam sit.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Ut sint sit nostrum ut non tempore et ullam sit.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?functionalities" alt="quidem omnis illo"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>31 mai 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">Aut ut est nam id.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Aut ut est nam id.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295" alt="itaque sint est"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>16 septembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Reprehenderit laboriosam odio consequatur possimus qui error tempore minus.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Reprehenderit laboriosam odio consequatur possimus qui error tempore minus.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x333?Movies" alt="perferendis nulla nesciunt"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>26 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Repellat ipsam nam dolorem.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Repellat ipsam nam dolorem.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?Macao" alt="magni sequi harum"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>18 octobre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Sed deserunt ut in sequi ut dolorem vel itaque.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Sed deserunt ut in sequi ut dolorem vel itaque.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?Strategist" alt="repellendus dolor modi"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>31 décembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Quod qui magnam dicta qui.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Quod qui magnam dicta qui.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x371?mesh" alt="qui qui iste"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>2 février 2021
            </div>
            <h3 class="c-slider-js-nav__article-heading">At ut reiciendis unde.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de At ut reiciendis unde.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
        <article class="o-card-link c-slider-js-nav__article carousel-cell">
          <figure class="c-slider-js-nav__article-figure">
            <img class="c-slider-js-nav__article-image" src="https://source.unsplash.com/384x295?didactic" alt="qui qui cupiditate"/>
          </figure>
          <div class="c-slider-js-nav__article-text-container">
            <div class="c-slider-js-nav__article-date">
              <span class="u-visually-hidden">Date:</span>10 novembre 2020
            </div>
            <h3 class="c-slider-js-nav__article-heading">Ut quas nihil sed optio.</h3>
            <a
  href="#nowhere"
  class="c-button c-button--transparent-alt o-card-link__link"
><span>Lire la suite<span class="u-visually-hidden"> de Ut quas nihil sed optio.</span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>

          </div>
        </article>
        
      </div>
    </div>
  </div>
</div>

    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

