

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->
    
    <style>
    :root {
        
        --color__primary--100: #f2f1fc;
        
        --color__primary--200: #ddd9f9;
        
        --color__primary--400: #beb5f5;
        
        --color__primary--600: #9d90ee;
        
        --color__primary--800: #7e6cea;
        
        --color__primary--900: #5d49de;
        
        --color__primary--cta: #5d49de
        
    }
</style>

    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body>
      <svg aria-hidden="true" data-name="Groupe 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path data-name="Tracé 1" d="M0 0h24v24H0z" fill="none"/><circle data-name="Ellipse 4" cx="9" cy="9" r="9" transform="translate(3 3)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path data-name="Ligne 1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 8v4"/><path data-name="Ligne 2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 16h.01"/></svg>
      <!-- Scripts -->
      <script src="../../assets/scripts/testimonial.js"></script>
  </body>
</html>

