

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Jorant preview</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <style>
:root {
--color__primary--100: rgb(242, 241, 252);
    --color-raw__primary--100: 242, 241, 252;
--color__primary--200: rgb(221, 216, 249);
    --color-raw__primary--200: 221, 216, 249;
--color__primary--400: rgb(190, 181, 245);
    --color-raw__primary--400: 190, 181, 245;
--color__primary--600: rgb(157, 144, 238);
    --color-raw__primary--600: 157, 144, 238;
--color__primary--800: rgb(126, 108, 234);
    --color-raw__primary--800: 126, 108, 234;
--color__primary--900: rgb(93, 73, 222);
    --color-raw__primary--900: 93, 73, 222;
--color__primary--cta: rgb(93, 73, 222);
    --color-raw__primary--cta: 93, 73, 222;

}
</style>


    <!-- Stylesheets -->
    <link
      media="all"
      rel="stylesheet"
      href="../../assets/styles/style.css"
    />
  </head>

  <body >
    <div class="c-timeline">
    <div class="o-container">
        <h2 class="u-h2">L'activité en 2020</h2>
        <a
  href="#nowhere"
  class="c-button c-button--transparent-alt c-slider__article-button"
><span>lire la suite</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14">
  <path
    d="M1 1l6 6-6 6"
    fill="none"
    stroke="currentColor"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>
</a>


        <ul class="c-timeline__items" aria-hidden="true">
            
                <li class="c-timeline__item">
                    <div class="o-card-link c-timeline__item-content">
                        <div class="c-timeline__item-img">
                            <div class="c-timeline__item-img-bg">
                                <img src="https://source.unsplash.com/6uneKLGrJPs/280x120" alt="alternative text">
                            </div>
                        </div>
                        <div class="c-timeline__item-text-container">
                            <h3 class="c-timeline__item-text"><a href="#nowehre" class="o-card-link__link">Jeux olympique de la jeunesse</a></h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" aria-hidden="true">
    <g>
        <g transform="rotate(90 5 5.5)">
            <path fill="#fff" d="M5 .5l5.5 10h-11z"/>
        </g>
    </g>
</svg>
 <span class="c-timeline__item-header"><span class="u-visually-hidden">du </span><time datetime="2021-01-09">09.01</time> <span class="u-visually-hidden">au</span><span aria-hidden="true">-</span> <time datetime="2021-01-22">22.01</time></span>
                        </div>
                    </div>
                </li>
            
                <li class="c-timeline__item">
                    <div class="o-card-link c-timeline__item-content">
                        <div class="c-timeline__item-img">
                            <div class="c-timeline__item-img-bg">
                                <img src="https://source.unsplash.com/JHOKa8qcQ_A/280x373" alt="alternative text">
                            </div>
                        </div>
                        <div class="c-timeline__item-text-container">
                            <h3 class="c-timeline__item-text"><a href="#nowehre" class="o-card-link__link">Gestion de la crise sanitaire du COVID-19</a></h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" aria-hidden="true">
    <g>
        <g transform="rotate(90 5 5.5)">
            <path fill="#fff" d="M5 .5l5.5 10h-11z"/>
        </g>
    </g>
</svg>
 <span class="c-timeline__item-header"><span class="u-visually-hidden">du </span><time datetime="2021-02-02">02.02</time> <span class="u-visually-hidden">au</span><span aria-hidden="true">-</span> <time datetime="2021-03-01">01.03</time></span>
                        </div>
                    </div>
                </li>
            
                <li class="c-timeline__item">
                    <div class="o-card-link c-timeline__item-content">
                        <div class="c-timeline__item-img">
                            <div class="c-timeline__item-img-bg">
                                <img src="https://source.unsplash.com/m1AfZRZQ-sg/280x280" alt="alternative text">
                            </div>
                        </div>
                        <div class="c-timeline__item-text-container">
                            <h3 class="c-timeline__item-text"><a href="#nowehre" class="o-card-link__link">Homicide et tentative d&#39;homicide à Grandson</a></h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" aria-hidden="true">
    <g>
        <g transform="rotate(90 5 5.5)">
            <path fill="#fff" d="M5 .5l5.5 10h-11z"/>
        </g>
    </g>
</svg>
 <span class="c-timeline__item-header"><span class="u-visually-hidden">du </span><time datetime="2021-07-28">28.07</time> <span class="u-visually-hidden">au</span><span aria-hidden="true">-</span> <time datetime="2021-08-03">03.08</time></span>
                        </div>
                    </div>
                </li>
            
                <li class="c-timeline__item">
                    <div class="o-card-link c-timeline__item-content">
                        <div class="c-timeline__item-img">
                            <div class="c-timeline__item-img-bg">
                                <img src="https://source.unsplash.com/pLFNq3iQ8ew/280x280" alt="alternative text">
                            </div>
                        </div>
                        <div class="c-timeline__item-text-container">
                            <h3 class="c-timeline__item-text"><a href="#nowehre" class="o-card-link__link">Fraudes présumées aux crédits COVID-19</a></h3>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" aria-hidden="true">
    <g>
        <g transform="rotate(90 5 5.5)">
            <path fill="#fff" d="M5 .5l5.5 10h-11z"/>
        </g>
    </g>
</svg>
 <span class="c-timeline__item-header"><span class="u-visually-hidden">du </span><time datetime="2021-11-10">10.11</time> <span class="u-visually-hidden">au</span><span aria-hidden="true">-</span> <time datetime="2021-11-11">11.11</time></span>
                        </div>
                    </div>
                </li>
            
        </ul>

        <!-- Alternative list for screen reader -->
        <ul class="u-visually-hidden">
            
            <li><a href="#nowehre">Jeux olympique de la jeunesse du <time datetime="2021-01-09">09.01</time> au <time datetime="2021-01-22">22.01</time></a>
            </li>
            
            <li><a href="#nowehre">Gestion de la crise sanitaire du COVID-19 du <time datetime="2021-02-02">02.02</time> au <time datetime="2021-03-01">01.03</time></a>
            </li>
            
            <li><a href="#nowehre">Homicide et tentative d&#39;homicide à Grandson du <time datetime="2021-07-28">28.07</time> au <time datetime="2021-08-03">03.08</time></a>
            </li>
            
            <li><a href="#nowehre">Fraudes présumées aux crédits COVID-19 du <time datetime="2021-11-10">10.11</time> au <time datetime="2021-11-11">11.11</time></a>
            </li>
            
        </ul>

    </div>
</div>


    <!-- Scripts -->
    <script src="../../assets/scripts/flickity.pkgd.min.js"></script>
    <script src="../../assets/scripts/masonry.pkgd.min.js"></script>
    <script src="../../assets/scripts/navigation.js"></script>
    <script src="../../assets/scripts/accordeon.js"></script>
    <script src="../../assets/scripts/timeline.js"></script>
    <script src="../../assets/scripts/slider-js-nav.js"></script>
    <script src="../../assets/scripts/alert.js"></script>
  </body>
</html>

